@page
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>BlazorStrap</title>
    <base href="/" />
    <link href="_content/BlazorStrap.V4/offcanvas.css" rel="stylesheet" /><!-- This is only included for V4 demo note needed in V5-->
    <link href="_content/BlazorStrap.Extensions.TreeView/css/style.css" rel="stylesheet" />
    <link href="css/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="BlazorStrap.Server.styles.css" rel="stylesheet">
    <link href="css/docs.css" rel="stylesheet" />
</head>

<body>
    <div id="app">@(await Html.RenderComponentAsync<BlazorStrap_Docs.App>(RenderMode.ServerPrerendered))</div>
    <script src="_content/BlazorStrap/popper.min.js"></script>
    <script src="_framework/blazor.server.js"></script>
    <script src="_content/BlazorStrap/blazorstrap.js"></script>
</body>

</html>
