@page "/"
@namespace ServerSideSample.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BlazorStrap Server Side Sample</title>
    <base href="~/" />
    <link href="_content/SampleCore/css/site.css" rel="stylesheet" />
</head>
<body>
    <app></app>

    <script src="_framework/blazor.server.js"></script>

    <!-- BlazorStyled is used by BlazorStrap documentation site -->
    <script src="_content/BlazorStyled/styled.js"></script>
    <script async defer src="https://buttons.github.io/buttons.js"></script>

    <!-- The below two files are needed by BlazorStrap -->
    <script src="_content/BlazorStrap/blazorStrap.js"></script>
    <script src="_content/BlazorStrap/popper.min.js"></script>
</body>
</html>
