@page "/"
@namespace ServerSideSample.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BlazorStrap Server Side Sample</title>
    <base href="~/" />
    <link rel="apple-touch-icon" sizes="180x180" href="_content/SampleCore/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="_content/SampleCore/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="_content/SampleCore/favicon-16x16.png">
    <link rel="stylesheet" href="_content/Samplecore/css/demo.css" />
    <link rel="stylesheet" href="_content/BlazorStrap.Extensions.TreeView/css/style.css" />
    <link rel="stylesheet" href="_content/BlazorStrap/css/submenu.css" />
    <link rel="stylesheet" href="_content/BlazorStrap/css/slideout.css">
    <link rel="manifest" href="/sitewebmanifest.json">
</head>
<body class="Hello">
    <app>@(await Html.RenderComponentAsync<SampleCore.App>(RenderMode.ServerPrerendered))</app>

    <script src="_framework/blazor.server.js"></script>

    <!-- BlazorStyled is used by BlazorStrap documentation site -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>

    <!-- The below two files are needed by BlazorStrap -->
    <script src="_content/BlazorStrap/blazorStrap.js"></script>
</body>
</html>
