@namespace BlazorStrap.V4
@inherits BlazorStrap.Shared.Components.Modal.BSModalHeaderBase

<div class="@ClassBuilder" @attributes="Attributes">
    @ChildContent
    @if (HasCloseButton)
    {
        <BSCloseButton Class="@($"ml-auto {@ButtonClass}")" @onclick="EventUtil.AsNonRenderingEventHandler(ClickEvent)" data-bs-dismiss="modal" aria-label="Close"/>
    }
</div>