@namespace BlazorStrap
@inherits BSModalHeaderBase

<DynamicElement @attributes="@UnknownParameters" TagName="div" class="@divClassname">
    <h5 class="@headingClassname">@ChildContent</h5>
    <button type="button" class="close" aria-label="Close" @onclick="OnClick">
        <span aria-hidden="true">&times;</span>
    </button>
</DynamicElement>