@namespace BlazorStrap

<DynamicElement @attributes="@UnknownParameters" TagName="div" class="@DivClassname">
    <h5 class="@HeadingClassname">@ChildContent</h5>
    <button type="button" class="close" aria-label="Close" @onclick="OnClick">
        <span aria-hidden="true">&times;</span>
    </button>
</DynamicElement>