@namespace BlazorStrap
@inherits CodeBSModalHeader

<DynamicElement @attributes="@UnknownParameters" TagName="div" class="@divClassname">
    <h5 class="@headingClassname">@ChildContent</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" @onclick="OnClick" autofocus>
        <span aria-hidden="true">&times;</span>
    </button>
</DynamicElement>