@namespace BlazorStrap
@inherits CodeBSModal


<DynamicElement @attributes="@UnknownParameters" style="@styles" TagName="div" class="@classname" tabindex="-1" role="dialog" @onfocus="OnBackdropClick" >
    <div class="@innerClassname" role="document"  tabindex="-2">
        <div class="modal-content"  @ref="Me">
            @ChildContent
        </div>
    </div>
</DynamicElement>

@if (_isOpen)
{
    <div class="modal-backdrop fade show" ></div>
}