.loader-backdrop {
	top: 0;
	position:absolute;
	background: #5C2C94;
	overflow: hidden;
	width: 100vw;
	height: 100vh;
}
.loader-wrapper
{
	position: absolute;
	min-width: 200px;
	min-height: 200px;
	top: calc(50% - 100px);
	left: calc(50% - 100px);
}
.loader-logo
{
	position: absolute;
	width: 150px;
	height: 150px;
	top: calc(50% - 75px);
	left: calc(50% - 75px);
}

