@inherits BlazorStrap.Shared.Components.Common.BSAccordionBase
@namespace BlazorStrap.V5

<CascadingValue Value="this">
    <div class="@ClassBuilder">
        @ChildContent
    </div>
</CascadingValue>