@inherits BlazorStrap.Shared.Components.Common.BSCloseButtonBase
@namespace BlazorStrap.V5

<button type="button" class="@ClassBuilder" aria-label="Close" @onclick="ClickEventAsync" @attributes="Attributes" disabled="@IsDisabled">
    @ChildContent
</button>