@page "/forms/inputfile"
<BSContainer Class="bd-main py-3" Size="Container.Fluid">
    <div class="bd-content">
        <h2>Overview</h2>
        <div class="bd-callout bd-callout-info">
            <p>
                <strong>Note</strong> <code>BSInputFile</code> is a wrapper of the basic <code>InputFile</code> with helps for validation. See <BSLink Url="https://docs.microsoft.com/en-us/aspnet/core/blazor/file-uploads?view=aspnetcore-6.0&pivots=server">ASP.NET Core Blazor file uploads</BSLink> for more details
                With our <code>BS</code> helper class to style your form or use html tags and class.
            </p>
        </div>

        <h4>Component &lt;BSInputFile&gt;</h4>
        <p><strong>*</strong> indicates required Parameters</p>
        <BSTable>
            <BSTHead>
                <BSTR>
                    <BSTD>Parameter</BSTD>
                    <BSTD>Type</BSTD>
                    <BSTD>Valid</BSTD>
                    <BSTD>Output/Result</BSTD>
                </BSTR>
            </BSTHead>
            <BSTBody>
                <BSTR>
                    <BSTD>InvalidClass</BSTD>
                    <BSTD>string</BSTD>
                    <BSTD>string</BSTD>
                    <BSTD></BSTD>
                </BSTR>
                <BSTR>
                    <BSTD>ValidClass</BSTD>
                    <BSTD>string</BSTD>
                    <BSTD>string</BSTD>
                    <BSTD></BSTD>
                </BSTR>
                <BSTR>
                    <BSTD>IsBasic</BSTD>
                    <BSTD>
                        <code>T</code>
                    </BSTD>
                    <BSTD>N/A</BSTD>
                    <BSTD></BSTD>
                </BSTR>
                <BSTR>
                    <BSTD>IsDisabled</BSTD>
                    <BSTD>bool</BSTD>
                    <BSTD>true/false</BSTD>
                    <BSTD>disabled</BSTD>
                </BSTR>
                <BSTR>
                    <BSTD>IsInvalid</BSTD>
                    <BSTD>bool</BSTD>
                    <BSTD>true/false</BSTD>
                    <BSTD>InvalidClass</BSTD>
                </BSTR>
                <BSTR>
                    <BSTD>IsValid</BSTD>
                    <BSTD>bool</BSTD>
                    <BSTD>true/false</BSTD>
                    <BSTD>ValidClass</BSTD>
                </BSTR>
                <BSTR>
                    <BSTD>OnChange</BSTD>
                    <BSTD>EventCallback</BSTD>
                    <BSTD>InputFileChangeEventArgs</BSTD>
                    <BSTD></BSTD>
                </BSTR>
                <BSTR>
                    <BSTD>ValidWhen</BSTD>
                    <BSTD>Expression</BSTD>
                    <BSTD>Func of TValue</BSTD>
                    <BSTD>Example @@(() => Modal.HasFile)</BSTD>
                </BSTR>
                <BSTR>
                    <BSTD colspan="4">See shared for additonal parameters</BSTD>
                </BSTR>
            </BSTBody>
        </BSTable>

        <h3>Default</h3>
        <div class="bd-example">
            <BlazorStrap_Docs.Samples.Forms.InputFile.InputFile1/>
        </div>
        <div class="highlight">
            <CodeBlock Source="docs/Samples/Forms/InputFile/InputFile1.md"/>
        </div>
    </div>
</BSContainer>