@page "/forms/inputgroup"
<BSContainer Class="bd-main py-3" Size="Container.Fluid">
    <div class="bd-content">
        <h2>Input Group</h2>
        <p>Only one example provided see <BSLink Url="https://getbootstrap.com/docs/5.1/forms/input-group/">https://getbootstrap.com/docs/5.1/forms/input-group/</BSLink> for more details.</p>
        <h3>Example with <code>BS</code> Class Helper</h3>
        <div class="bd-example">
            <BlazorStrap_Docs.Samples.Forms.InputGroup.InputGroup1/>
        </div>
        <div class="highlight">
            <CodeBlock Source="docs/Samples/Forms/InputGroup/InputGroup1.md"/>
        </div>
    </div>
</BSContainer>