@page "/forms/overview" 
<BSContainer Class="bd-main py-3" Size="Container.Fluid">
<div class="bd-content">
<h2>Overview</h2>
<div class="bd-callout bd-callout-info">
    <p>
        <strong>Note</strong> Layout, Floating Labels from the Bootstrap docs are not include. Thease areas are pure styling you can use our <code>BSDiv</code> component.
        With our <code>BS</code> helper class to style your form or use html tags and class.
    </p>
</div>
<h4>Component &lt;BSForm&gt;</h4>
<p><strong>*</strong> indicates required Parameters</p>
<BSTable>
    <BSTHead>
        <BSTR>
            <BSTD>Parameter</BSTD>
            <BSTD>Type</BSTD>
            <BSTD>Valid</BSTD>
            <BSTD>Output/Result</BSTD>
        </BSTR>
    </BSTHead>
    <BSTBody>
        <BSTR>
            <BSTD>EditContext</BSTD>
            <BSTD>EditContext</BSTD>
            <BSTD>EditContext</BSTD>
            <BSTD></BSTD>
        </BSTR>
        <BSTR>
            <BSTD>IsBasic</BSTD>
            <BSTD>
                <code>T</code>
            </BSTD>
            <BSTD>N/A</BSTD>
            <BSTD></BSTD>
        </BSTR>
        <BSTR>
            <BSTD>IsPlainText</BSTD>
            <BSTD>bool</BSTD>
            <BSTD>true/false</BSTD>
            <BSTD>.form-control-plaintext</BSTD>
        </BSTR>
        <BSTR>
            <BSTD>IsFloating</BSTD>
            <BSTD>bool</BSTD>
            <BSTD>true/false</BSTD>
            <BSTD>.form-floating</BSTD>
        </BSTR>
        <BSTR>
            <BSTD>IsRow</BSTD>
            <BSTD>bool</BSTD>
            <BSTD>true/false</BSTD>
            <BSTD>.row</BSTD>
        </BSTR>
        <BSTR>
            <BSTD>Model</BSTD>
            <BSTD>T</BSTD>
            <BSTD>N/A</BSTD>
            <BSTD></BSTD>
        </BSTR>
        <BSTR>
            <BSTD>OnInvalidSubmit</BSTD>
            <BSTD>EventCallback</BSTD>
            <BSTD>EditContext</BSTD>
            <BSTD></BSTD>
        </BSTR>
        <BSTR>
            <BSTD>OnSubmit</BSTD>
            <BSTD>EventCallback</BSTD>
            <BSTD>EditContext</BSTD>
            <BSTD></BSTD>
        </BSTR>
        <BSTR>
            <BSTD>OnValidSubmit</BSTD>
            <BSTD>EventCallback</BSTD>
            <BSTD>EditContext</BSTD>
            <BSTD></BSTD>
        </BSTR>
        <BSTR>
            <BSTD colspan="4">See layout grid for additonal parameters</BSTD>
        </BSTR>
        <BSTR>
            <BSTD colspan="4">See shared for additonal parameters</BSTD>
        </BSTR>
    </BSTBody>
</BSTable>
<h4>Component &lt;BSInput&gt;</h4>
<p><strong>*</strong> indicates required Parameters</p>
<BSTable>
    <BSTHead>
        <BSTR>
            <BSTD>Parameter</BSTD>
            <BSTD>Type</BSTD>
            <BSTD>Valid</BSTD>
            <BSTD>Output/Result</BSTD>
        </BSTR>
    </BSTHead>
    <BSTBody>
        <BSTR>
            <BSTD>InputSize</BSTD>
            <BSTD>Enum</BSTD>
            <BSTD>Size</BSTD>
            <BSTD>.form-select-# or .form-control-#</BSTD>
        </BSTR>
        <BSTR>
            <BSTD><strong>*</strong>InputType</BSTD>
            <BSTD>Enum</BSTD>
            <BSTD>InputType</BSTD>
            <BSTD>
                <code>Input Type=#</code>
            </BSTD>
        </BSTR>
        <BSTR>
            <BSTD>IsPlainText</BSTD>
            <BSTD>bool</BSTD>
            <BSTD>true/false</BSTD>
            <BSTD>.form-control-plaintext</BSTD>
        </BSTR>
        <BSTR>
            <BSTD>IsReadonly</BSTD>
            <BSTD>bool</BSTD>
            <BSTD>true/false</BSTD>
            <BSTD>readonly</BSTD>
        </BSTR>
        <BSTR>
            <BSTD colspan="4">See shared for additonal parameters</BSTD>
        </BSTR>
    </BSTBody>
</BSTable>
<h4>Component &lt;BSInputCheckbox&gt; and &lt;BSInputRadio&gt;</h4>
<p><strong>*</strong> indicates required Parameters</p>
<BSTable>
    <BSTHead>
        <BSTR>
            <BSTD>Parameter</BSTD>
            <BSTD>Type</BSTD>
            <BSTD>Valid</BSTD>
            <BSTD>Output/Result</BSTD>
        </BSTR>
    </BSTHead>
    <BSTBody>
        <BSTR>
            <BSTD><strong>*</strong>CheckedValue</BSTD>
            <BSTD>
                <code>T</code>
            </BSTD>
            <BSTD>N/A</BSTD>
            <BSTD></BSTD>
        </BSTR>
        <BSTR>
            <BSTD>Color</BSTD>
            <BSTD>Enum</BSTD>
            <BSTD>BSColor</BSTD>
            <BSTD>Button Color</BSTD>
        </BSTR>
        <BSTR>
            <BSTD>IsPlainText</BSTD>
            <BSTD>bool</BSTD>
            <BSTD>true/false</BSTD>
            <BSTD>.form-control-plaintext</BSTD>
        </BSTR>
        <BSTR>
            <BSTD>IsReadonly</BSTD>
            <BSTD>bool</BSTD>
            <BSTD>true/false</BSTD>
            <BSTD>readonly</BSTD>
        </BSTR>
        <BSTR>
            <BSTD colspan="4">See shared for additonal parameters</BSTD>
        </BSTR>
    </BSTBody>
</BSTable>
<h4>Component &lt;BSInputFile&gt;</h4>
<p><strong>*</strong> indicates required Parameters</p>
<BSTable>
    <BSTHead>
        <BSTR>
            <BSTD>Parameter</BSTD>
            <BSTD>Type</BSTD>
            <BSTD>Valid</BSTD>
            <BSTD>Output/Result</BSTD>
        </BSTR>
    </BSTHead>
    <BSTBody>
        <BSTR>
            <BSTD>InvalidClass</BSTD>
            <BSTD>string</BSTD>
            <BSTD>string</BSTD>
            <BSTD></BSTD>
        </BSTR>
        <BSTR>
            <BSTD>ValidClass</BSTD>
            <BSTD>string</BSTD>
            <BSTD>string</BSTD>
            <BSTD></BSTD>
        </BSTR>
        <BSTR>
            <BSTD>IsBasic</BSTD>
            <BSTD>
                <code>T</code>
            </BSTD>
            <BSTD>N/A</BSTD>
            <BSTD></BSTD>
        </BSTR>
        <BSTR>
            <BSTD>IsDisabled</BSTD>
            <BSTD>bool</BSTD>
            <BSTD>true/false</BSTD>
            <BSTD>disabled</BSTD>
        </BSTR>
        <BSTR>
            <BSTD>IsInvalid</BSTD>
            <BSTD>bool</BSTD>
            <BSTD>true/false</BSTD>
            <BSTD>InvalidClass</BSTD>
        </BSTR>
        <BSTR>
            <BSTD>IsValid</BSTD>
            <BSTD>bool</BSTD>
            <BSTD>true/false</BSTD>
            <BSTD>ValidClass</BSTD>
        </BSTR>
        <BSTR>
            <BSTD>OnChange</BSTD>
            <BSTD>EventCallback</BSTD>
            <BSTD>InputFileChangeEventArgs</BSTD>
            <BSTD></BSTD>
        </BSTR>
        <BSTR>
            <BSTD>ValidWhen</BSTD>
            <BSTD>Expression</BSTD>
            <BSTD>Func of TValue</BSTD>
            <BSTD>Example @@(() => Modal.HasFile)</BSTD>
        </BSTR>
        <BSTR>
            <BSTD colspan="4">See shared for additonal parameters</BSTD>
        </BSTR>
    </BSTBody>
</BSTable>
</div>
</BSContainer>