@page "/forms/Shared"
<BSContainer Class="bd-main py-3" Size="Container.Fluid">
    <div class="bd-content">
        <h2>Shared</h2>
        <BSTable>
            <BSTHead>
                <BSTR>
                    <BSTD>Parameter</BSTD>
                    <BSTD>Type</BSTD>
                    <BSTD>Valid</BSTD>
                    <BSTD>Output/Result</BSTD>
                </BSTR>
            </BSTHead>
            <BSTBody>
                <BSTR>
                    <BSTD>DebounceInterval</BSTD>
                    <BSTD>int</BSTD>
                    <BSTD>int</BSTD>
                    <BSTHead></BSTHead>
                </BSTR>
                <BSTR>
                    <BSTD>InvalidClass</BSTD>
                    <BSTD>string</BSTD>
                    <BSTD>string</BSTD>
                    <BSTD>default .is-invalid</BSTD>
                </BSTR>
                <BSTR>
                    <BSTD>ValidClass</BSTD>
                    <BSTD>string</BSTD>
                    <BSTD>string</BSTD>
                    <BSTD>default .is-valid</BSTD>
                </BSTR>
                <BSTR>
                    <BSTD>IsDisabled</BSTD>
                    <BSTD>bool</BSTD>
                    <BSTD>true/false</BSTD>
                    <BSTD>disabled</BSTD>
                </BSTR>
                <BSTR>
                    <BSTD>IsInvalid</BSTD>
                    <BSTD>bool</BSTD>
                    <BSTD>true/false</BSTD>
                    <BSTD>InvalidClass</BSTD>
                </BSTR>
                <BSTR>
                    <BSTD>IsValid</BSTD>
                    <BSTD>bool</BSTD>
                    <BSTD>true/false</BSTD>
                    <BSTD>ValidClass</BSTD>
                </BSTR>
                <BSTR>
                    <BSTD>OnBlur</BSTD>
                    <BSTD>EventCallback</BSTD>
                    <BSTD>FocusEventArgs</BSTD>
                    <BSTD></BSTD>
                </BSTR>
                <BSTR>
                    <BSTD>OnFocus</BSTD>
                    <BSTD>EventCallback</BSTD>
                    <BSTD>FocusEventArgs</BSTD>
                    <BSTD></BSTD>
                </BSTR>
                <BSTR>
                    <BSTD>ValidateOnBlur</BSTD>
                    <BSTD>bool</BSTD>
                    <BSTD>true/false</BSTD>
                    <BSTD></BSTD>
                </BSTR>
                <BSTR>
                    <BSTD>ValidateOnChange</BSTD>
                    <BSTD>bool</BSTD>
                    <BSTD>true/false</BSTD>
                    <BSTD></BSTD>
                </BSTR>
                <BSTR>
                    <BSTD>ValidateOnInput</BSTD>
                    <BSTD>bool</BSTD>
                    <BSTD>true/false</BSTD>
                    <BSTD>Debounced default 500ms</BSTD>
                </BSTR>
                <BSTR>
                    <BSTD colspan="4">See Shared Parameters for additonal parameters</BSTD>
                </BSTR>
            </BSTBody>
        </BSTable>
    </div>
</BSContainer>