@page "/forms/validation"
<BSContainer Class="bd-main py-3" Size="Container.Fluid">
    <div class="bd-content">
        <h2>Overview</h2>
        <div class="bd-callout bd-callout-info">
            <p>
                <strong>Note</strong> Layout, Floating Labels from the Bootstrap docs are not include. Thease areas are pure styling you can use our <code>BSDiv</code> component.
                With our <code>BS</code> helper class to style your form or use html tags and class.
            </p>
        </div>
        <h4>Component &lt;BSForm&gt;</h4>
        <p><strong>*</strong> indicates required Parameters</p>
        <BSTable>
            <BSTHead>
                <BSTR>
                    <BSTD>Parameter</BSTD>
                    <BSTD>Type</BSTD>
                    <BSTD>Valid</BSTD>
                    <BSTD>Output/Result</BSTD>
                </BSTR>
            </BSTHead>
            <BSTBody>
                <BSTR>
                    <BSTD>EditContext</BSTD>
                    <BSTD>EditContext</BSTD>
                    <BSTD>EditContext</BSTD>
                    <BSTD></BSTD>
                </BSTR>
                <BSTR>
                    <BSTD>IsBasic</BSTD>
                    <BSTD>
                        <code>T</code>
                    </BSTD>
                    <BSTD>N/A</BSTD>
                    <BSTD></BSTD>
                </BSTR>
                <BSTR>
                    <BSTD>IsPlainText</BSTD>
                    <BSTD>bool</BSTD>
                    <BSTD>true/false</BSTD>
                    <BSTD>.form-control-plaintext</BSTD>
                </BSTR>
                <BSTR>
                    <BSTD>IsFloating</BSTD>
                    <BSTD>bool</BSTD>
                    <BSTD>true/false</BSTD>
                    <BSTD>.form-floating</BSTD>
                </BSTR>
                <BSTR>
                    <BSTD>IsRow</BSTD>
                    <BSTD>bool</BSTD>
                    <BSTD>true/false</BSTD>
                    <BSTD>.row</BSTD>
                </BSTR>
                <BSTR>
                    <BSTD>Model</BSTD>
                    <BSTD>T</BSTD>
                    <BSTD>N/A</BSTD>
                    <BSTD></BSTD>
                </BSTR>
                <BSTR>
                    <BSTD>OnInvalidSubmit</BSTD>
                    <BSTD>EventCallback</BSTD>
                    <BSTD>EditContext</BSTD>
                    <BSTD></BSTD>
                </BSTR>
                <BSTR>
                    <BSTD>OnSubmit</BSTD>
                    <BSTD>EventCallback</BSTD>
                    <BSTD>EditContext</BSTD>
                    <BSTD></BSTD>
                </BSTR>
                <BSTR>
                    <BSTD>OnValidSubmit</BSTD>
                    <BSTD>EventCallback</BSTD>
                    <BSTD>EditContext</BSTD>
                    <BSTD></BSTD>
                </BSTR>
                <BSTR>
                    <BSTD colspan="4">See layout grid for additonal parameters</BSTD>
                </BSTR>
                <BSTR>
                    <BSTD colspan="4">See shared for additonal parameters</BSTD>
                </BSTR>
            </BSTBody>
        </BSTable>
        <h3>Example</h3>
        <div class="bd-example">
            <BlazorStrap_Docs.Samples.Forms.Validation.ValidationMain/>
        </div>
        <div class="highlight">
            <CodeBlock Source="docs/Samples/Forms/Validation/ValidationMain.md"/>
        </div>
    </div>
</BSContainer>