@namespace BlazorStrap
@inherits CodeBSNavbarToggler

<DynamicElement @attributes="@UnknownParameters" TagName="button" class="@classname" aria-label="Toggle navigation" @onclick="onclick">
    <span class="navbar-toggler-icon"></span>
</DynamicElement>