@namespace BlazorStrap
@inherits BSNavbarTogglerBase

<DynamicElement @attributes="@UnknownParameters" TagName="button" class="@classname" aria-label="Toggle navigation" @onclick="Clicked">
    <span class="navbar-toggler-icon"></span>
</DynamicElement>