@page "/samples/form"

<BlazorForm OnSubmit="@OnSubmit">
    <BlazorInput InputType="InputType.Text" bind-value="@test" />
    <BlazorButton Color="Color.Primary" ButtonType="ButtonType.Submit">Submit</BlazorButton>
</BlazorForm>

    <div>
        @test
    </div>

    @code {
        string test = "hello";
        void OnSubmit()
        {
            Console.WriteLine("----------------------------------------------------------------");
            Console.WriteLine("Form submit");
            Console.WriteLine("Input: " + test);
            Console.WriteLine("----------------------------------------------------------------");
        }
    }
