@page "/wip"
@layout WipLayout
@using BlazorStrap_Docs.SamplesHelpers.Content.Tables
@using BlazorStrap.Shared.Components.DataGrid.Models
@using BlazorStrap.V5
@using Microsoft.EntityFrameworkCore
@inject AppDbContext _db


@* <div class="container mt-3"> *@
@*     <div class="datagrid"> *@
@*         <BSDataGrid IsStriped="true" IsSmall="true" Items="_employees"> *@
@*             <Columns> *@
@*                 <TemplateColumn Title="Id" IsSortable="true" SortField="employee => employee.Id"> *@
@*                     <Header> *@
@*                         Custom Is Custom *@
@*                     </Header> *@
@*                     <Content> *@
@*                         <strong>@context.Id</strong> *@
@*                     </Content> *@
@*                 </TemplateColumn> *@
@*                 <TemplateColumn Title="Name" IsSortable="true" SortField="employee => employee.Name" > *@
@*                     <Content>@context.Name</Content> *@
@*                 </TemplateColumn> *@
@*                 <TemplateColumn Title="Email"> *@
@*                     <Content>@context.Email</Content> *@
@*                 </TemplateColumn> *@
@*                 <TemplateColumn Title=""> *@
@*                     <Content> *@
@*                         <BSButton Color="BSColor.Danger">Delete @context.Id</BSButton> *@
@*                     </Content> *@
@* *@
@*                 </TemplateColumn> *@
@*             </Columns> *@
@*         </BSDataGrid> *@
@*     </div> *@
@* </div> *@

<div class="container mt-3">
    <div class="datagrid">
        <BSDataGrid IsStriped="true" IsSmall="true" Items="_employees" IsMultiSort="true">
            <Columns>
                <PropertyColumn Property="e => e.Id" IsSortable="true"/>
                <PropertyColumn Property="e => e.NameObject.FirstName" IsSortable="true"/>
                <PropertyColumn Property="e => e.NameObject.LastName" IsSortable="true"/>
                <PropertyColumn Property="e => e.Email" IsSortable="true"/>
            </Columns>
        </BSDataGrid>
    </div>
</div>


<BSButton OnClick="StateHasChanged">State Change</BSButton>

@code {

    //This is just a auto fill class for the table for sample data.
    private readonly Table2Model _sampleData = new Table2Model();
    IQueryable<Employee> _employees;

    private Func<SortData<Employee>, SortData<Employee>> _nameSort = data =>
    {
        data.Ordered = data.Descending ? data.Query.OrderByDescending(q => q.Name) : data.Query.OrderBy(q => q.Name);
        return data;
    };

    protected override void OnInitialized()
    {
        try
        {
            _db.Employees.AddRange(_sampleData.DataSet);
            _db.SaveChanges();
        }
        catch
        {
        }


        _employees = _db.Employees;
    }

    // For EF Core, use DbSet

    private static Func<IQueryable<Employee>, Task<int>> CountAsync()
    {
        return query => query.CountAsync();
    }

    private static Func<IQueryable<Employee>, Task<Employee[]>> ToArrayAsync()
    {
        return query => query.ToArrayAsync();
    }

}