@namespace BlazorStrap
@inherits CodeBSPopover

@if (_isOpen)
{
    <DynamicElement Id="@Id" @attributes="@UnknownParameters" TagName="div" class="@classname" role="tooltip" @onclick="onclick">
        <div @ref="arrow" class="arrow"></div>
        @ChildContent
    </DynamicElement>
}