@namespace BlazorStrap
@inherits BSPopoverBase

@if (IsOpen ?? false || _isOpen)
{
    <DynamicElement Id="@Id" @attributes="@UnknownParameters" TagName="div" class="@classname" role="tooltip" @onclick="onclick">
        <div @ref:suppressField @ref="arrow" class="arrow"></div>
        @ChildContent
    </DynamicElement>
}