@namespace BlazorStrap
@inherits BSTable
@typeparam TValue


@if (PaginationTop)
{
    <BSPagination Pages="GetPages()" Value="Page" ValueChanged="ChangePage"/>
}
<table class="@ClassBuilder" @attributes="Attributes">
    <thead>
    <tr>
        <CascadingValue Value="this">
            @Header
        </CascadingValue>
    </tr>
    </thead>
    <tbody>
    @if (!Items.Any())
    {
        <tr>
            <td>
                @NoData
            </td>
        </tr>
    }
    else
    {
        @foreach (var item in Items)
        {
            <tr>
                @Body(item)
            </tr>
        }
    }
    </tbody>
    @if (Footer is not null)
    {
        <tfoot>
        <tr>
            @Footer
        </tr>
        </tfoot>
    }
</table>
@if (PaginationBottom)
{
    <BSPagination Pages="GetPages()" Value="Page" ValueChanged="ChangePage"/>
}