@namespace BlazorStrap
@inherits BlazorStrapBase
@if (IsResponsive)
{
    <div class="@WrapperClassBuilder">
        <table class="@ClassBuilder" @attributes="Attributes">
            @ChildContent
        </table>
    </div>
}
else
{
    <table class="@ClassBuilder" @attributes="Attributes">
        @ChildContent
    </table>
}