@namespace BlazorStrap
@inherits CodeBsBreadcrumb

<nav aria-label="breadcrumb">
    <DynamicElement Attributes="@UnknownParameters" TagName="ol" class="@classname">
        @ChildContent
    </DynamicElement>
</nav>