@namespace BlazorStrap
@inherits BSBreadcrumbBase

<nav aria-label="breadcrumb">
    <DynamicElement @attributes="@UnknownParameters" TagName="ol" class="@Classname">
        @ChildContent
    </DynamicElement>
</nav>
