@inherits BlazorStrap.Shared.Components.Common.BSButtonGroupBase
@namespace BlazorStrap.V4

<CascadingValue Value="this">
    <div class="@ClassBuilder" @attributes="Attributes">
        @ChildContent
    </div>
</CascadingValue>