@inherits BlazorStrap.Shared.Components.Common.BSCarouselItemBase
@namespace BlazorStrap.V4

<div class="@ClassBuilder" @ref="MyRef" data-blazorstrap="@DataId" @attributes="Attributes" >
    @ChildContent
</div>