@inherits BlazorStrap.Shared.Components.Common.BSNavbarBrandBase
@namespace BlazorStrap.V4

@if (Url != null)
{
    <a href="@Url" class="@ClassBuilder" @attributes="Attributes">
        @ChildContent
    </a>
}
else
{
    <span class="@ClassBuilder" @attributes="Attributes">
        @ChildContent
    </span>
}
