@inherits BlazorStrap.Shared.Components.Common.BSNavbarToggleBase
@namespace BlazorStrap.V4

<button class="@ClassBuilder" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-label="Toggle navigation" @onclick="ClickEvent">
    <span class="navbar-toggler-icon"></span>
</button>