@inherits BlazorStrap.Shared.Components.Common.BSProgressBase
@namespace BlazorStrap.V4

<div class="@ClassBuilder" @attributes="@Attributes" >
    <CascadingValue Value="this">
        @ChildContent
    </CascadingValue>
</div>