@page "/shared"
<BSContainer Class="bd-main" Size="Container.Fluid">
    <div class="bd-content">
        <h2>Shared Paramters</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Parameter</th>
                    <th>Type</th>
                    <th>Valid</th>
                    <th>Output</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Padding</td>
                    <td>Padding</td>
                    <td>Enum</td>
                    <td>.p-#</td>
                </tr>
                <tr>
                    <td>PaddingTop</td>
                    <td>Padding</td>
                    <td>Enum</td>
                    <td>.pt-#</td>
                </tr>
                <tr>
                    <td>PaddingBottom</td>
                    <td>Padding</td>
                    <td>Enum</td>
                    <td>.pb-#</td>
                </tr>
                <tr>
                    <td>PaddingStart</td>
                    <td>Padding</td>
                    <td>Enum</td>
                    <td>.ps-#</td>
                </tr>
                <tr>
                    <td>PaddingEnd</td>
                    <td>Padding</td>
                    <td>Enum</td>
                    <td>.pe-#</td>
                </tr>
                <tr>
                    <td>PaddingLeftAndRight</td>
                    <td>Padding</td>
                    <td>Enum</td>
                    <td>.px-#</td>
                </tr>
                <tr>
                    <td>PaddingTopAndBottom</td>
                    <td>Padding</td>
                    <td>Enum</td>
                    <td>.py-#</td>
                </tr>
                <tr>
                    <td>Margin</td>
                    <td>Margins</td>
                    <td>Enum</td>
                    <td>.m-#</td>
                </tr>
                <tr>
                    <td>MarginTop</td>
                    <td>Margins</td>
                    <td>Enum</td>
                    <td>.mt-#</td>
                </tr>
                <tr>
                    <td>MarginBottom</td>
                    <td>Margins</td>
                    <td>Enum</td>
                    <td>.mb-#</td>
                </tr>
                <tr>
                    <td>MarginStart</td>
                    <td>Margins</td>
                    <td>Enum</td>
                    <td>.ms-#</td>
                </tr>
                <tr>
                    <td>MarginEnd</td>
                    <td>Margins</td>
                    <td>Enum</td>
                    <td>.me-#</td>
                </tr>
                <tr>
                    <td>MarginLeftAndRight</td>
                    <td>Margins</td>
                    <td>Enum</td>
                    <td>.mx-#</td>
                </tr>
                <tr>
                    <td>MarginTopAndBottom</td>
                    <td>Margins</td>
                    <td>Enum</td>
                    <td>.my-#</td>
                </tr>

            </tbody>
        </table>
    </div>
</BSContainer>