@page "/samples/issue104"
@layout Layout104

<BSJumbotron IsFluid="true" class="d-none d-sm-block">
    <BSContainer>
        <h1 class="display-4">Welcome</h1>
    </BSContainer>
</BSJumbotron>

<BSContainer IsFluid="true">

</BSContainer>