<div class="main-nav">
    <div class="navbar navbar-dark bg-dark rounded">
        <a class="navbar-brand" href="/">Sample</a>
        <ul class="navbar-nav mr-auto">
            <li>
                <NavLink href="/" Match=NavLinkMatch.All>
                    <span class="glyphicon glyphicon-home"></span> Home
                </NavLink>
            </li>
            <li>
                <NavLink href="/alerts">
                    <span class="glyphicon glyphicon-education"></span> Alerts
                </NavLink>
            </li>
            <li>
                <NavLink href="/badges">
                    <span class="glyphicon glyphicon-education"></span> Badges
                </NavLink>
            </li>
            <li>
                <NavLink href="/breadcrumbs">
                    <span class="glyphicon glyphicon-education"></span> Breadcrumbs
                </NavLink>
            </li>
            <li>
                <NavLink href="/buttons">
                    <span class="glyphicon glyphicon-education"></span> Buttons
                </NavLink>
            </li>
            <li>
                <NavLink href="/dropdowns">
                    <span class="glyphicon glyphicon-education"></span> Dropdowns
                </NavLink>
            </li>
            <li>
                <NavLink href="/figures">
                    <span class="glyphicon glyphicon-education"></span> Figures
                </NavLink>
            </li>
            <li>
                <NavLink href="/images">
                    <span class="glyphicon glyphicon-education"></span> Images
                </NavLink>
            </li>
            <li>
                <NavLink href="/jumbotrons">
                    <span class="glyphicon glyphicon-education"></span> Jumbotrons
                </NavLink>
            </li>
            <li>
                <NavLink href="/layout">
                    <span class="glyphicon glyphicon-education"></span> Layout
                </NavLink>
            </li>
            <li>
                <NavLink href="/listgroups">
                    <span class="glyphicon glyphicon-education"></span> List Groups
                </NavLink>
            </li>
            <li>
                <NavLink href="/media">
                    <span class="glyphicon glyphicon-education"></span> Media
                </NavLink>
            </li>
            <li>
                <NavLink href="/pagination">
                    <span class="glyphicon glyphicon-education"></span> Pagination
                </NavLink>
            </li>
            <li>
                <NavLink href="/progress">
                    <span class="glyphicon glyphicon-education"></span> Progress
                </NavLink>
            </li>
            <li>
                <NavLink href="/tables">
                    <span class="glyphicon glyphicon-education"></span> Tables
                </NavLink>
            </li>
        </ul>
    </div>
</div>
