<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">BlazorStrap</a>
    <button class="navbar-toggler" onclick=@ToggleNavMenu>
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class=@(collapseNavMenu ? "collapse" : null) onclick=@ToggleNavMenu>
    <ul class="nav flex-column" style="overflow-y: auto;">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match=NavLinkMatch.All>
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="alerts">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Alerts
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="badges">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Badges
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="breadcrumbs">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Breadcrumbs
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="buttons">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Buttons
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="buttongroups">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Button Groups
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="cards">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Cards
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="carousels">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Carousels
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="collapse">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Collapse
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="dropdowns">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Dropdowns
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="figures">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Figures
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="forms">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Forms
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="images">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Images
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="jumbotrons">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Jumbotrons
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="layout">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Layout
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="listgroups">
                <span class="oi oi-list-rich" aria-hidden="true"></span> List Groups
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="media">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Media
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="modals">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Modals
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="navs">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Navs
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="navbars">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Navbars
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="pagination">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Pagination
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="popovers">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Popovers
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="progress">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Progress
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="tables">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Tables
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="tabs">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Tabs
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="toasts">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Toasts
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="tooltips">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Tooltips
            </NavLink>
        </li>
    </ul>
</div>

@functions {
    bool collapseNavMenu = true;

    void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}