@addTagHelper *, BlazorStrap
@using BlazorStrap

<div class="main-nav">
    <Navbar IsDark="true" Color="Color.Dark" Class="rounded" Style="overflow-y: auto;">
        <BlazorNav IsList="true" IsVertical="true" Class="mr-auto">
            <NavItem>
                <BlazorNavLink href="/">
                    <span class="glyphicon glyphicon-home"></span> Home
                </BlazorNavLink>
            </NavItem>
            <NavItem>
                <BlazorNavLink href="/alerts">
                    <span class="glyphicon glyphicon-education"></span> Alerts
                </BlazorNavLink>
            </NavItem>
            <NavItem>
                <BlazorNavLink href="/badges">
                    <span class="glyphicon glyphicon-education"></span> Badges
                </BlazorNavLink>
            </NavItem>
            <NavItem>
                <BlazorNavLink href="/breadcrumbs">
                    <span class="glyphicon glyphicon-education"></span> Breadcrumbs
                </BlazorNavLink>
            </NavItem>
            <NavItem>
                <BlazorNavLink href="/buttons">
                    <span class="glyphicon glyphicon-education"></span> Buttons
                </BlazorNavLink>
            </NavItem>
            <NavItem>
                <BlazorNavLink href="/cards">
                    <span class="glyphicon glyphicon-education"></span> Cards
                </BlazorNavLink>
            </NavItem>
            <NavItem>
                <BlazorNavLink href="/collapse">
                    <span class="glyphicon glyphicon-education"></span> Collapse
                </BlazorNavLink>
            </NavItem>
            <NavItem>
                <BlazorNavLink href="/dropdowns">
                    <span class="glyphicon glyphicon-education"></span> Dropdowns
                </BlazorNavLink>
            </NavItem>
            <NavItem>
                <BlazorNavLink href="/figures">
                    <span class="glyphicon glyphicon-education"></span> Figures
                </BlazorNavLink>
            </NavItem>
            <NavItem>
                <BlazorNavLink href="/forms">
                    <span class="glyphicon glyphicon-education"></span> Forms
                </BlazorNavLink>
            </NavItem>
            <NavItem>
                <BlazorNavLink href="/images">
                    <span class="glyphicon glyphicon-education"></span> Images
                </BlazorNavLink>
            </NavItem>
            <NavItem>
                <BlazorNavLink href="/jumbotrons">
                    <span class="glyphicon glyphicon-education"></span> Jumbotrons
                </BlazorNavLink>
            </NavItem>
            <NavItem>
                <BlazorNavLink href="/layout">
                    <span class="glyphicon glyphicon-education"></span> Layout
                </BlazorNavLink>
            </NavItem>
            <NavItem>
                <BlazorNavLink href="/NavItemstgroups">
                    <span class="glyphicon glyphicon-education"></span> NavItemst Groups
                </BlazorNavLink>
            </NavItem>
            <NavItem>
                <BlazorNavLink href="/media">
                    <span class="glyphicon glyphicon-education"></span> Media
                </BlazorNavLink>
            </NavItem>
            <NavItem>
                <BlazorNavLink href="/modals">
                    <span class="glyphicon glyphicon-education"></span> Modals
                </BlazorNavLink>
            </NavItem>
            <NavItem>
                <BlazorNavLink href="/navs">
                    <span class="glyphicon glyphicon-education"></span> Navs
                </BlazorNavLink>
            </NavItem>
            <NavItem>
                <BlazorNavLink href="/navbars">
                    <span class="glyphicon glyphicon-education"></span> Navbars
                </BlazorNavLink>
            </NavItem>
            <NavItem>
                <BlazorNavLink href="/pagination">
                    <span class="glyphicon glyphicon-education"></span> Pagination
                </BlazorNavLink>
            </NavItem>
            <NavItem>
                <BlazorNavLink href="/popovers">
                    <span class="glyphicon glyphicon-education"></span> Popovers
                </BlazorNavLink>
            </NavItem>
            <NavItem>
                <BlazorNavLink href="/progress">
                    <span class="glyphicon glyphicon-education"></span> Progress
                </BlazorNavLink>
            </NavItem>
            <NavItem>
                <BlazorNavLink href="/tables">
                    <span class="glyphicon glyphicon-education"></span> Tables
                </BlazorNavLink>
            </NavItem>
        </BlazorNav>
    </Navbar>
</div>
