/* _content/BlazorStrap.V5/Components/Common/BSCollapse.razor.rz.scp.css */
.collapsing.collapse-horizontal[b-cu907r7tvn] {
    width: 0;
    height: auto;
    transition: width .35s ease;
}
/* _content/BlazorStrap.V5/Components/Common/BSPopover.razor.rz.scp.css */
.popover:not(.show)[b-jitnwoparl] {
    visibility: hidden;
}
/* _content/BlazorStrap.V5/Components/Common/BSToast.razor.rz.scp.css */
.toast-icon[b-rmszuegdcu]{
    color: rgba(255,255,255, .7);
}
/* _content/BlazorStrap.V5/Components/Common/BSTooltip.razor.rz.scp.css */
.tooltip:not(.show)[b-t15xljjw7v] {
    visibility: hidden;
}
/* _content/BlazorStrap.V5/Components/Datatable/BSDataTableHead.razor.rz.scp.css */
/*Credit https://codepen.io/imarkrige/pen/kyOjoL */
th a[b-cue1wbex1l],
td a[b-cue1wbex1l] {
    display: block;
    width: 100%;
}

    th a.sort-by[b-cue1wbex1l] {
        padding-right: 18px;
        position: relative;
    }

a.sort-by[b-cue1wbex1l]:before,
a.sort-by[b-cue1wbex1l]:after {
    border: 4px solid transparent;
    content: "";
    display: block;
    height: 0;
    right: 5px;
    top: 50%;
    position: absolute;
    width: 0;
}

a.sort-by[b-cue1wbex1l]:before {
    border-bottom-color: #666;
    margin-top: -9px;
}

a.sort-by[b-cue1wbex1l]:after {
    border-top-color: #666;
    margin-top: 1px;
}

th a.sort[b-cue1wbex1l] {
    padding-right: 18px;
    position: relative;
}

a.sort[b-cue1wbex1l]:before,
a.sort[b-cue1wbex1l]:after {
    border: 4px solid transparent;
    content: "";
    display: block;
    height: 0;
    right: 5px;
    top: 50%;
    position: absolute;
    width: 0;
}

a.sort[b-cue1wbex1l]:before {
    border-bottom-color: #666;
    margin-top: -9px;
}

th a.sort-desc[b-cue1wbex1l] {
    padding-right: 18px;
    position: relative;
}

a.sort-desc[b-cue1wbex1l]:before,
a.sort-desc[b-cue1wbex1l]:after {
    border: 4px solid transparent;
    content: "";
    display: block;
    height: 0;
    right: 5px;
    top: 50%;
    position: absolute;
    width: 0;
}

a.sort-desc[b-cue1wbex1l]:after {
    border-top-color: #666;
    margin-top: 1px;
}
