@page "/badges"

<h1>Badges</h1>

<div class="docs-example">
    <h1>Heading <Badge Color="Color.Secondary">New</Badge></h1>
    <h2>Heading <Badge Color="Color.Secondary">New</Badge></h2>
    <h3>Heading <Badge Color="Color.Secondary">New</Badge></h3>
    <h3>Heading <Badge Color="Color.Secondary">New</Badge></h3>
    <h5>Heading <Badge Color="Color.Secondary">New</Badge></h5>
    <h6>Heading <Badge Color="Color.Secondary">New</Badge></h6>
</div>
<PrettyCode CodeFile="/snippets/badges/badges1.html" />

<p>Badges can be used as part of links or buttons to provide a counter.</p>

<div class="docs-example">
    <button type="button" class="btn btn-primary">
        Profile <Badge Color="Color.Light">9</Badge>
        <span class="sr-only">unread messages</span>
    </button>
</div>
<PrettyCode CodeFile="/snippets/badges/badges2.html" />


<h3>Contextual variations</h3>

<div class="docs-example">
    <Badge Color="Color.Primary">Primary</Badge>
    <Badge Color="Color.Secondary">Secondary</Badge>
    <Badge Color="Color.Success">Success</Badge>
    <Badge Color="Color.Danger">Danger</Badge>
    <Badge Color="Color.Warning">Warning</Badge>
    <Badge Color="Color.Info">Info</Badge>
    <Badge Color="Color.Light">Light</Badge>
    <Badge Color="Color.Dark">Dark</Badge>
</div>
<PrettyCode CodeFile="/snippets/badges/badges3.html" />


<h3>Pills</h3>

<div class="docs-example">
    <Badge Color="Color.Primary" IsPill="true">Primary</Badge>
    <Badge Color="Color.Secondary" IsPill="true">Secondary</Badge>
    <Badge Color="Color.Success" IsPill="true">Success</Badge>
    <Badge Color="Color.Danger" IsPill="true">Danger</Badge>
    <Badge Color="Color.Warning" IsPill="true">Warning</Badge>
    <Badge Color="Color.Info" IsPill="true">Info</Badge>
    <Badge Color="Color.Light" IsPill="true">Light</Badge>
    <Badge Color="Color.Dark" IsPill="true">Dark</Badge>
</div>
<PrettyCode CodeFile="/snippets/badges/badges4.html" />


<h3>Links</h3>

<p>Adding <code>Href</code> or <code>onclick</code> will default the badge to a link.</p>

<div class="docs-example">
    <Badge @onclick="@onclick" Color="Color.Primary">Primary</Badge>
    <Badge Href="#" Color="Color.Secondary">Secondary</Badge>
    <Badge Href="#" Color="Color.Success">Success</Badge>
    <Badge Href="#" Color="Color.Danger">Danger</Badge>
    <Badge Href="#" Color="Color.Warning">Warning</Badge>
    <Badge Href="#" Color="Color.Info">Info</Badge>
    <Badge Href="#" Color="Color.Light">Light</Badge>
    <Badge Href="#" Color="Color.Dark">Dark</Badge>
</div>
<PrettyCode CodeFile="/snippets/badges/badges5.html" />


@code {
    void onclick()
    {
        Console.WriteLine("Badge clicked");
    }
}