@page "/pagination"

<h1>Pagination</h1>

<div class="docs-example">
    <Pagination>
        <PaginationItem>
            <PaginationLink Href="#" PaginationLinkType="PaginationLinkType.PreviousText" />
        </PaginationItem>
        <PaginationItem>
            <PaginationLink Href="#" PaginationLinkType="PaginationLinkType.Custom">1</PaginationLink>
        </PaginationItem>
        <PaginationItem>
            <PaginationLink Href="#" PaginationLinkType="PaginationLinkType.Custom">2</PaginationLink>
        </PaginationItem>
        <PaginationItem>
            <PaginationLink Href="#" PaginationLinkType="PaginationLinkType.Custom">3</PaginationLink>
        </PaginationItem>
        <PaginationItem>
            <PaginationLink Href="#" PaginationLinkType="PaginationLinkType.NextText" />
        </PaginationItem>
    </Pagination>
</div>
<PrettyCode CodeFile="snippets/pagination/pagination1.html" />

<p>PaginationLinkType="PaginationLinkType.Custom" is the default and does not need to be specified.</p>

<h3>Working with icons</h3>

<div class="docs-example">
    <Pagination>
        <PaginationItem>
            <PaginationLink Href="#" PaginationLinkType="PaginationLinkType.PreviousIcon" />
        </PaginationItem>
        <PaginationItem>
            <PaginationLink Href="#">1</PaginationLink>
        </PaginationItem>
        <PaginationItem>
            <PaginationLink Href="#">2</PaginationLink>
        </PaginationItem>
        <PaginationItem>
            <PaginationLink Href="#">3</PaginationLink>
        </PaginationItem>
        <PaginationItem>
            <PaginationLink Href="#" PaginationLinkType="PaginationLinkType.NextIcon" />
        </PaginationItem>
    </Pagination>
</div>
<PrettyCode CodeFile="snippets/pagination/pagination2.html" />

<h3>Disabled and active states</h3>

<div class="docs-example">
    <Pagination>
        <PaginationItem IsDisabled="true">
            <PaginationLink Href="#" PaginationLinkType="PaginationLinkType.PreviousText" />
        </PaginationItem>
        <PaginationItem>
            <PaginationLink Href="#">1</PaginationLink>
        </PaginationItem>
        <PaginationItem IsActive="true">
            <PaginationLink Href="#">2 <span class="sr-only">(current)</span></PaginationLink>
        </PaginationItem>
        <PaginationItem>
            <PaginationLink Href="#">3</PaginationLink>
        </PaginationItem>
        <PaginationItem>
            <PaginationLink Href="#" PaginationLinkType="PaginationLinkType.NextText" />
        </PaginationItem>
    </Pagination>
</div>
<PrettyCode CodeFile="snippets/pagination/pagination3.html" />

<h3>Sizing</h3>
<div class="docs-example">
    <Pagination Size="Size.Large">
        <PaginationItem IsDisabled="true">
            <PaginationLink Href="#">1</PaginationLink>
        </PaginationItem>
        <PaginationItem>
            <PaginationLink Href="#">2</PaginationLink>
        </PaginationItem>
        <PaginationItem>
            <PaginationLink Href="#">3</PaginationLink>
        </PaginationItem>
    </Pagination>
</div>
<PrettyCode CodeFile="snippets/pagination/pagination4.html" />

<div class="docs-example">
    <Pagination Size="Size.Small">
        <PaginationItem IsDisabled="true">
            <PaginationLink Href="#">1</PaginationLink>
        </PaginationItem>
        <PaginationItem>
            <PaginationLink Href="#">2</PaginationLink>
        </PaginationItem>
        <PaginationItem>
            <PaginationLink Href="#">3</PaginationLink>
        </PaginationItem>
    </Pagination>
</div>
<PrettyCode CodeFile="snippets/pagination/pagination5.html" />

<h3>Alignment</h3>
<div class="docs-example">
    <Pagination Alignment="Alignment.Center">
        <PaginationItem IsDisabled="true">
            <PaginationLink Href="#" PaginationLinkType="PaginationLinkType.PreviousText" />
        </PaginationItem>
        <PaginationItem>
            <PaginationLink Href="#" PaginationLinkType="PaginationLinkType.Custom">1</PaginationLink>
        </PaginationItem>
        <PaginationItem>
            <PaginationLink Href="#" PaginationLinkType="PaginationLinkType.Custom">2</PaginationLink>
        </PaginationItem>
        <PaginationItem>
            <PaginationLink Href="#" PaginationLinkType="PaginationLinkType.Custom">3</PaginationLink>
        </PaginationItem>
        <PaginationItem>
            <PaginationLink Href="#" PaginationLinkType="PaginationLinkType.NextText" />
        </PaginationItem>
    </Pagination>
</div>
<PrettyCode CodeFile="snippets/pagination/pagination6.html" />

<div class="docs-example">
    <Pagination Alignment="Alignment.Right">
        <PaginationItem IsDisabled="true">
            <PaginationLink Href="#" PaginationLinkType="PaginationLinkType.PreviousText" />
        </PaginationItem>
        <PaginationItem>
            <PaginationLink Href="#" PaginationLinkType="PaginationLinkType.Custom">1</PaginationLink>
        </PaginationItem>
        <PaginationItem>
            <PaginationLink Href="#" PaginationLinkType="PaginationLinkType.Custom">2</PaginationLink>
        </PaginationItem>
        <PaginationItem>
            <PaginationLink Href="#" PaginationLinkType="PaginationLinkType.Custom">3</PaginationLink>
        </PaginationItem>
        <PaginationItem>
            <PaginationLink Href="#" PaginationLinkType="PaginationLinkType.NextText" />
        </PaginationItem>
    </Pagination>
</div>
<PrettyCode CodeFile="snippets/pagination/pagination7.html" />
