@page "/tables"

<h1>Tables</h1>

<div class="docs-example">
    <BlazorTable>
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@@mdo</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@@fat</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@@twitter</td>
            </tr>
        </tbody>
    </BlazorTable>
</div>
<PrettyCode CodeFile="snippets/tables/tables1.html" />

<h3>Inverted Color</h3>
<div class="docs-example">
    <BlazorTable IsDark="true">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@@mdo</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@@fat</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@@twitter</td>
            </tr>
        </tbody>
    </BlazorTable>
</div>
<PrettyCode CodeFile="snippets/tables/tables2.html" />

<h3>Table head options</h3>
<div class="docs-example">
    <BlazorTable>
        <TableHead TableHeadType="TableHeadType.Dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
            </tr>
        </TableHead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@@mdo</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@@fat</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@@twitter</td>
            </tr>
        </tbody>
    </BlazorTable>
    <BlazorTable>
        <TableHead TableHeadType="TableHeadType.Light">
            <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
            </tr>
        </TableHead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@@mdo</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@@fat</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@@twitter</td>
            </tr>
        </tbody>
    </BlazorTable>
</div>
<PrettyCode CodeFile="snippets/tables/tables3.html" />

<h3>Striped rows</h3>
<div class="docs-example">
    <BlazorTable IsStriped="true">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@@mdo</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@@fat</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@@twitter</td>
            </tr>
        </tbody>
    </BlazorTable>
</div>
<PrettyCode CodeFile="snippets/tables/tables4.html" />

<div class="docs-example">
    <BlazorTable IsStriped="true" IsDark="true">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@@mdo</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@@fat</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@@twitter</td>
            </tr>
        </tbody>
    </BlazorTable>
</div>
<PrettyCode CodeFile="snippets/tables/tables5.html" />

<h3>Bordered table</h3>

<div class="docs-example">
    <BlazorTable IsBordered="true">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@@mdo</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@@fat</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@@twitter</td>
            </tr>
        </tbody>
    </BlazorTable>
</div>
<PrettyCode CodeFile="snippets/tables/tables6.html" />

<div class="docs-example">
    <BlazorTable IsBordered="true" IsDark="true">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@@mdo</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@@fat</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@@twitter</td>
            </tr>
        </tbody>
    </BlazorTable>
</div>
<PrettyCode CodeFile="snippets/tables/tables7.html" />

<h3>Borderless table</h3>

<div class="docs-example">
    <BlazorTable IsBorderless="true">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@@mdo</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@@fat</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@@twitter</td>
            </tr>
        </tbody>
    </BlazorTable>
</div>
<PrettyCode CodeFile="snippets/tables/tables8.html" />

<div class="docs-example">
    <BlazorTable IsBorderless="true" IsDark="true">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@@mdo</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@@fat</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@@twitter</td>
            </tr>
        </tbody>
    </BlazorTable>
</div>
<PrettyCode CodeFile="snippets/tables/tables9.html" />

<h3>Hoverable rows</h3>

<div class="docs-example">
    <BlazorTable IsHovarable="true">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@@mdo</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@@fat</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@@twitter</td>
            </tr>
        </tbody>
    </BlazorTable>
</div>
<PrettyCode CodeFile="snippets/tables/tables10.html" />

<div class="docs-example">
    <BlazorTable IsHovarable="true" IsDark="true">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@@mdo</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@@fat</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@@twitter</td>
            </tr>
        </tbody>
    </BlazorTable>
</div>
<PrettyCode CodeFile="snippets/tables/tables11.html" />

<h3>Small table</h3>

<div class="docs-example">
    <BlazorTable IsSmall="true">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@@mdo</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@@fat</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@@twitter</td>
            </tr>
        </tbody>
    </BlazorTable>
</div>
<PrettyCode CodeFile="snippets/tables/tables12.html" />

<div class="docs-example">
    <BlazorTable IsSmall="true" IsDark="true">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@@mdo</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@@fat</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@@twitter</td>
            </tr>
        </tbody>
    </BlazorTable>
</div>
<PrettyCode CodeFile="snippets/tables/tables13.html" />

<h3>Contextual classes</h3>

<div class="docs-example">
    <BlazorTable>
        <thead>
            <tr>
                <TableHeadCell Color="Color.Active">Head</TableHeadCell>
                <TableHeadCell>Head</TableHeadCell>
                <TableHeadCell Color="Color.Primary">Head</TableHeadCell>
                <TableHeadCell Color="Color.Secondary">Head</TableHeadCell>
                <TableHeadCell Color="Color.Success">Head</TableHeadCell>
                <TableHeadCell Color="Color.Danger">Head</TableHeadCell>
                <TableHeadCell Color="Color.Warning">Head</TableHeadCell>
                <TableHeadCell Color="Color.Info">Head</TableHeadCell>
                <TableHeadCell Color="Color.Light">Head</TableHeadCell>
                <TableHeadCell Color="Color.Dark">Head</TableHeadCell>
            </tr>
        </thead>
        <tbody>
            <tr>
                <TableCell Color="Color.Active">Cell</TableCell>
                <TableCell>Cell</TableCell>
                <TableCell Color="Color.Primary">Cell</TableCell>
                <TableCell Color="Color.Secondary">Cell</TableCell>
                <TableCell Color="Color.Success">Cell</TableCell>
                <TableCell Color="Color.Danger">Cell</TableCell>
                <TableCell Color="Color.Warning">Cell</TableCell>
                <TableCell Color="Color.Info">Cell</TableCell>
                <TableCell Color="Color.Light">Cell</TableCell>
                <TableCell Color="Color.Dark">Cell</TableCell>
            </tr>
            <TableRow Color="Color.Active">
                <td colspan="10">Cell</td>
            </TableRow>
            <TableRow>
                <td colspan="10">Cell</td>
            </TableRow>
            <TableRow Color="Color.Primary">
                <td colspan="10">Cell</td>
            </TableRow>
            <TableRow Color="Color.Secondary">
                <td colspan="10">Cell</td>
            </TableRow>
            <TableRow Color="Color.Success">
                <td colspan="10">Cell</td>
            </TableRow>
            <TableRow Color="Color.Danger">
                <td colspan="10">Cell</td>
            </TableRow>
            <TableRow Color="Color.Warning">
                <td colspan="10">Cell</td>
            </TableRow>
            <TableRow Color="Color.Info">
                <td colspan="10">Cell</td>
            </TableRow>
            <TableRow Color="Color.Light">
                <td colspan="10">Cell</td>
            </TableRow>
            <TableRow Color="Color.Dark">
                <td colspan="10">Cell</td>
            </TableRow>
        </tbody>
    </BlazorTable>
</div>
<PrettyCode CodeFile="snippets/tables/tables14.html" />

<h3>Responsive table</h3>

<div class="docs-example">
    <BlazorTable IsResponsive="true">
        <thead>
            <tr>
                <th>#</th>
                <th>Table heading</th>
                <th>Table heading</th>
                <th>Table heading</th>
                <th>Table heading</th>
                <th>Table heading</th>
                <th>Table heading</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>1</th>
                <td>Table cell</td>
                <td>Table cell</td>
                <td>Table cell</td>
                <td>Table cell</td>
                <td>Table cell</td>
                <td>Table cell</td>
            </tr>
            <tr>
                <th>2</th>
                <td>Table cell</td>
                <td>Table cell</td>
                <td>Table cell</td>
                <td>Table cell</td>
                <td>Table cell</td>
                <td>Table cell</td>
            </tr>
            <tr>
                <th>3</th>
                <td>Table cell</td>
                <td>Table cell</td>
                <td>Table cell</td>
                <td>Table cell</td>
                <td>Table cell</td>
                <td>Table cell</td>
            </tr>
        </tbody>
    </BlazorTable>
</div>
<PrettyCode CodeFile="snippets/tables/tables15.html" />
