@page "/toasts"

<h1>Toasts</h1>

<Alert Color="Color.Info">Click the '&times;' button to dismiss the toast forever :(</Alert>
<div class="docs-example">

    <Toast IsVisible="@isVisible">
        <ToastHeader>I am Heading</ToastHeader>
        <ToastBody>
            <p>Test me </p>
        </ToastBody>
    </Toast>

    <Toast IsVisible="@isVisible">
        <ToastHeader>I am also Heading</ToastHeader>
        <ToastBody>
            Test Me
        </ToastBody>
    </Toast>

    <BlazorButton @onclick="@onclick">Toggle Toast Visibility</BlazorButton>
</div>
<PrettyCode CodeFile="snippets/toasts/toasts1.html" />

@code {
    private bool isVisible { get; set; } = true;

    void onclick(UIMouseEventArgs e)
    {
        isVisible = !isVisible;
        StateHasChanged();
    }
}