@page "/toggles"

<h1>Toggles</h1>

<p>Modals, Popovers, Collapse, and NavItem dropdowns are Toggleable Components. This means that there are two ways to control their visibility:</p>

<ol>
    <li>You may use the boolean IsOpen component parameter to show or hide the component</li>
    <li>Or you can use the methods on the component: <code>Show()</code>, <code>Hide()</code>, and <code>Toggle()</code></li>
    <li>NEW You may now bind to IsOpen component parameter and use component methods together. With the expectation of the BSButtonGroup component</li>
</ol>

<p>Below is an example of Showing and hiding a Model:</p>

<PrettyCode CodeFile="_content/SampleCore/snippets/modals/modals2.html" />
