@page "/tooltips"

<h1>Tooltips</h1>

<Alert Color="Color.Info">Arrow color is grey. Will be fixed in a future update.</Alert>

<div class="docs-example">
    <BlazorButton Id="tooltip1">Top</BlazorButton>
    <Tooltip Target="tooltip1" Placement="Placement.Top">Tooltip on Top</Tooltip>
    <BlazorButton Id="tooltip2">Bottom</BlazorButton>
    <Tooltip Target="tooltip2" Placement="Placement.Bottom">Tooltip on Bottom</Tooltip>
    <BlazorButton Id="tooltip3">Left</BlazorButton>
    <Tooltip Target="tooltip3" Placement="Placement.Left">Tooltip on Left</Tooltip>
    <BlazorButton Id="tooltip4">Right</BlazorButton>
    <Tooltip Target="tooltip4" Placement="Placement.Right">Tooltip on Right</Tooltip>
    <BlazorButton Id="tooltip5">Tooltip with HTML</BlazorButton>
    <Tooltip Target="tooltip5" Placement="Placement.Top"><em>Tooltip</em> <u>with</u> <b>HTML</b></Tooltip>
</div>
<PrettyCode CodeFile="/snippets/tooltips/tooltips1.html" />
