@page "/layout/containers"
<BSContainer Class="bd-main" Size="Container.Fluid">
    <div class="bd-content">
        <h2>Columns</h2>
        <p>Layout compoents can be mixed with normal HTML tags and Bootstrap classes safely. For more details about containers see <a href="https://getbootstrap.com/docs/5.1/layout/containers/">https://getbootstrap.com/docs/5.1/layout/containers/</a></p>
        <h4>Component &lt;BSCol&gt;</h4>
        <BSTable class="table">
            <BSTHead>
                <BSTR>
                    <BSTD>Parameter</BSTD>
                    <BSTD>Type</BSTD>
                    <BSTD>Valid</BSTD>
                    <BSTD>Output</BSTD>
                </BSTR>
            </BSTHead>
            <BSTBody>
                <BSTR>
                    <BSTD>Size</BSTD>
                    <BSTD>Container</BSTD>
                    <BSTD>Flags</BSTD>
                    <BSTD>container-#</BSTD>
                </BSTR>
                <BSTR>
                    <BSTD colspan="4">See shared for additonal parameters</BSTD>
                </BSTR>
            </BSTBody>
        </BSTable>
        <h3 id="default-container">Default container<a class="anchorjs-link " aria-label="Anchor" data-anchorjs-icon="#" href="#default-container" style="padding-left: 0.375em;"></a></h3>
        <div class="highlight">
            <CodeBlock Source="docs/Samples/Layout/Containers/DefaultContainer.md" />
        </div>
        <h3 id="responsive-containers">Responsive containers<a class="anchorjs-link " aria-label="Anchor" data-anchorjs-icon="#" href="#responsive-containers" style="padding-left: 0.375em;"></a></h3>
        <div class="highlight">
            <CodeBlock Source="docs/Samples/Layout/Containers/ResponsiveContainers.md" />
        </div>
        <h3 id="fluid-container">Fluid container<a class="anchorjs-link " aria-label="Anchor" data-anchorjs-icon="#" href="#fluid-container" style="padding-left: 0.375em;"></a></h3>
        <div class="highlight">
            <CodeBlock Source="docs/Samples/Layout/Containers/FluidContainer.md" />
        </div>
    </div>
</BSContainer>