@namespace BlazorStrap.V5
@inherits BlazorStrap.Shared.Components.Forms.BSInputGroupBase

<CascadingValue Value="this">
    <div class="@ClassBuilder" @attributes="Attributes">
        @ChildContent
    </div>
</CascadingValue>