@namespace BlazorStrapService
@inherits BlazorStrapBase
@if (TableHead != null)
{
    
    <th class="@ClassBuilder" @attributes="Attributes" colspan="@ColSpan" >
        @ChildContent
    </th>
}
else
{
    <td class="@ClassBuilder" @attributes="Attributes" colspan="@ColSpan">
        @ChildContent
    </td>
}