/* docs/Samples/V4/Content/Images/Images6.razor.rz.scp.css */
text#svg-text[b-wyhjb81w97]  {
    animation-name: animateSvg-b-wyhjb81w97;
    transform-origin: 50% 50%;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes animateSvg-b-wyhjb81w97  {
    from  {
        transform: rotate(0deg);
    }

    to  {
        transform: rotate(360deg);
    }
}
/* docs/Samples/V4/Forms/Validation/ValidationMain.razor.rz.scp.css */
[b-4her6p9j9s] .custom-file-button input[type=file] {
    margin-left: -2px !important;
}

    [b-4her6p9j9s] .custom-file-button input[type=file]::-webkit-file-upload-button {
        display: none;
    }

    [b-4her6p9j9s].custom-file-button input[type=file]::file-selector-button {
        display: none;
    }

[b-4her6p9j9s] .custom-file-button:hover label {
    background-color: #dde0e3;
    cursor: pointer;
}
/* docs/Samples/V5/Content/Images/Images6.razor.rz.scp.css */
text#svg-text[b-aemurqktc1]  {
    animation-name: animateSvg-b-aemurqktc1;
    transform-origin: 50% 50%;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes animateSvg-b-aemurqktc1  {
    from  {
        transform: rotate(0deg);
    }

    to  {
        transform: rotate(360deg);
    }
}
/* docs/Samples/V5/Forms/Validation/ValidationMain.razor.rz.scp.css */
[b-5bqulee73b] .custom-file-button input[type=file] {
    margin-left: -2px !important;
}

    [b-5bqulee73b] .custom-file-button input[type=file]::-webkit-file-upload-button {
        display: none;
    }

    [b-5bqulee73b].custom-file-button input[type=file]::file-selector-button {
        display: none;
    }

[b-5bqulee73b] .custom-file-button:hover label {
    background-color: #dde0e3;
    cursor: pointer;
}
