@namespace BlazorStrapService
@inherits BlazorStrapBase

@if (Url != null)
{
    <a href="@Url" class="@ClassBuilder" @attributes="Attributes">
        @ChildContent
    </a>
}
else
{
    <span class="@ClassBuilder" @attributes="Attributes">
        @ChildContent
    </span>
}
