@namespace BlazorStrapService
@inherits BlazorStrapBase

<li class="@ClassBuilder" @attributes="Attributes">
    @if (string.IsNullOrEmpty(Url))
    {
        <span class="page-link">
            @ChildContent
        </span>
    }
    else
    {
        <a href="@Url" class="page-link">@ChildContent</a>
    }
</li>