@implements IDisposable
<li class="@ListClassBuilder">
    <a href="@Url" class="@ClassBuilder" @attributes="Attributes" @onclick="ClickEvent" @onclick:preventDefault="PreventDefault">
        @Label
    </a>
</li>