@inherits BlazorStrap.Common.Components.Layout.Base.BSRowBase
@namespace BlazorStrap.V4_6

<CascadingValue Value="this">
    <div class="@ClassBuilder" @attributes="Attributes">
        @ChildContent
    </div>
</CascadingValue>