<div class="carousel-indicators">
    @for (i = 0; i < Count; ++i)
    {
        var index = i;
        @if (i != Active)
        {
            <button type="button" aria-label="Slide @(i + 1)" @onclick="EventUtil.AsNonRenderingEventHandler(async () => { await ClickEvent(index);})" data-bs-target="bs" @onkeyup="@(e => { EventUtil.AsNonRenderingEventHandler(async () => {await PressEvent(e); }); })"></button>
        }
        else
        {
            <button type="button" class="active" aria-label="Slide @(i + 1)" @onclick="EventUtil.AsNonRenderingEventHandler(async () => { await ClickEvent(index);})" data-bs-target="bs" @onkeyup="@(e => { EventUtil.AsNonRenderingEventHandler(async () => { await PressEvent(e); }); })"></button>
        }
    }
</div>
