@namespace BlazorStrap
@inherits BSCarouselControlBase

<DynamicElement @attributes="@UnknownParameters" TagName="a" class="@Classname" role="button" @onclick="OnClick" href="javascript:void(0)">
    <span class="@IconClassname" aria-hidden="true"></span>
    <span class="sr-only">@DirectionName</span>
</DynamicElement>
