@namespace BlazorStrap
@inherits BSCarouselControlBase

<DynamicElement @attributes="@UnknownParameters" TagName="a" class="@classname" role="button" @onclick="_onclick" href="javascript:void(0)">
    <span class="@iconClassname" aria-hidden="true"></span>
    <span class="sr-only">@directionName</span>
</DynamicElement>