@namespace BlazorStrap
@inherits CodeBSCarouselCaption

<DynamicElement Attributes="@UnknownParameters" TagName="div" class="@classname">
    @if (HeaderText != null)
    {
        <h5>@HeaderText</h5>
    }
    @if (CaptionText != null)
    {
        <p>@CaptionText</p>
    }
</DynamicElement>