@namespace BlazorStrap
@inherits CodeBSCarouselControl

<DynamicElement @attributes="@UnknownParameters" TagName="a" class="@classname" role="button" @onclick="_onclick">
    <span class="@iconClassname" aria-hidden="true"></span>
    <span class="sr-only">@directionName</span>
</DynamicElement>