@page "/contribute"

<h2>Contribute</h2>
<div class="bd-callout bd-callout-info">
<strong>Note: BlazorStrap</strong> is devolped  free of charge by community members. This is not a full time job for our delopers. While we try to provide quick support for issue it's not always posabile.
</div>


<p>The following are <strong>guide lines</strong> on howto contribute. You input is always <strong>welcomed</strong> and <strong>appreciated</strong>.</p>

<div>&nbsp;</div>
<h3>Feature Requets</h3>
<hr />
<p>If you feel BlazorStrap is lacking a feature you need or just want please create a issue with the following.</p>
<ul>
    <li>What does it do</li>
    <li>Why you feel it should exist</li>
    <li>How can it help others</li>
</ul>
<h3>Bug Reports</h3>
<hr />
<ul>
    <li>When posabile all bug reports should include an example of project with the bug.</li>
    <li>For formatting issues submit screenshots with your bug report</li>
    <li>Be detailed. What feature,full error message, steps to recreate</li>
</ul>
<h3>Pull Requests</h3>
<hr />
<ul>
    <li>Fork the repo and create your branch from <strong>master</strong></li>
    <li>Please keep your branch focused to the change. </li>
    <li>If your making API changes please update the documentation</li>
    <li>If your adding a feature create basic documentation and provide a sample.</li>
</ul>

<h3>License</h3>
<hr />
<p>By contributing, you agree that your contributions will be licensed under its MIT License.</p>