@page "/"
@using System.ComponentModel.DataAnnotations
<div class="d-flex align-items-center">
    <img src="https://blazorstrap.io/logo5.svg" alt="BootStrapV5 Logo" style="height: 100px"/>
    <h1>BlazorStrap 5</h1>
</div>
<MDOut Source="docs/Static/index.md" />