@page "/install"

<div class="bd-callout bd-callout-info">
<strong>Note: BlazorStrap</strong> is devolped free of charge by community members. This is not a full time job for our delopers. While we try to provide quick support for issue it's not always posabile.
</div>

<div class="bd-callout bd-callout-danger">
<strong>Work inprogress</strong> Install steps will be provided during the first alpha release
</div>