@page "/wip"
@layout WipLayout
<div class="container p-4">
    <div class="mb-4">
        <BlazorStrap_Docs.Samples.V5.Components.Modal.Modal1 />
    </div>
    <div class="mb-4">
        <BlazorStrap_Docs.Samples.V5.Components.Modal.Modal11 />
    </div>
</div>
