<BSNavbar Color="BSColor.Light" Expand="Size.None">
    <BSContainer Container="Container.Fluid">
        <BSNavbarBrand>OffCanvas navbar</BSNavbarBrand>
        <BSNavbarToggle @onclick="Show"/>
        <BSOffCanvas Placement="Placement.Right" tabindex="-1" @ref="_offCanvasRef">
            <Header>OffCanvas Nav</Header>
            <Content>
                <BSNav Justify="Justify.End" Class="flex-grow-1" PaddingEnd="Padding.Medium">
                    <BSNavItem Url="javascript:void(0)" IsActive="true">Home</BSNavItem>
                    <BSNavItem Url="javascript:void(0)">Link</BSNavItem>
                    <BSNavItem IsDropdown="true">
                        <BSDropdown>
                            <Toggler>
                                <BSToggle IsNavLink="true">Dropdown</BSToggle>
                            </Toggler>
                            <Content>
                                <BSDropdownItem Url="javascript:void(0)">Action</BSDropdownItem>
                                <BSDropdownItem Url="javascript:void(0)">Another action</BSDropdownItem>
                                <BSDropdownItem IsDivider="true"/>
                                <BSDropdownItem Url="javascript:void(0)">Something else here</BSDropdownItem>
                            </Content>
                        </BSDropdown>
                    </BSNavItem>
                </BSNav>
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <BSButton Color="BSColor.Success" IsOutlined="true">Search</BSButton>
                </form>
            </Content>
        </BSOffCanvas>
    </BSContainer>
</BSNavbar>

@code {
    private BSOffCanvas? _offCanvasRef;

    private async Task Show()
    {
        if (_offCanvasRef != null) await _offCanvasRef.ToggleAsync();
    }

}