@inherits BlazorStrapBase
@namespace BlazorStrap

<div class="@ClassBuilder" @attributes="Attributes">
    @ChildContent
    @if (HasCloseButton)
    {
        <button type="button" class="ms-auto btn-close @ButtonClass" data-bs-dismiss="modal" aria-label="Close" @onclick="EventUtil.AsNonRenderingEventHandler(ClickEvent)"></button>
    }
</div>