@namespace BlazorStrap.V4
@inherits BlazorStrap.Shared.Components.OffCanvas.BSOffCanvasHeaderBase

<div class="@ClassBuilder" @attributes="Attributes">
    @ChildContent
    <button type="button" class="ms-auto btn-close @ButtonClass" data-bs-dismiss="toast" aria-label="Close" @onclick="ClickEvent"></button>
</div>