/* docs/Samples/Content/Images/Images6.razor.rz.scp.css */
text#svg-text[b-1lgjffb7c2]  {
    animation-name: animateSvg-b-1lgjffb7c2;
    transform-origin: 50% 50%;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes animateSvg-b-1lgjffb7c2  {
    from  {
        transform: rotate(0deg);
    }

    to  {
        transform: rotate(360deg);
    }
}
/* docs/Samples/Forms/Validation/ValidationMain.razor.rz.scp.css */
[b-cv9jnflrzf] .custom-file-button input[type=file] {
    margin-left: -2px !important;
}

    [b-cv9jnflrzf] .custom-file-button input[type=file]::-webkit-file-upload-button {
        display: none;
    }

    [b-cv9jnflrzf].custom-file-button input[type=file]::file-selector-button {
        display: none;
    }

[b-cv9jnflrzf] .custom-file-button:hover label {
    background-color: #dde0e3;
    cursor: pointer;
}
