@page "/forms"
@addTagHelper *, BlazorStrap

<h1>Forms</h1>

<Alert Color="Color.Warning">Form tags are not finished. Binding, specifically of the select tag, still needs work.</Alert>

<div class="docs-example">
    <BlazorForm>
        <FormGroup>
            <BlazorLabel For="exampleInputEmail1">Email address</BlazorLabel>
            <BlazorInput Id="exampleInputEmail1" InputType="InputType.Email" PlaceHolder="Enter email" />
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </FormGroup>
        <FormGroup>
            <BlazorLabel For="exampleInputPassword1">Password</BlazorLabel>
            <BlazorInput Id="exampleInputPassword1" InputType="InputType.Password" PlaceHolder="Password" />
        </FormGroup>
        <FormGroup IsCheck="true">
            <BlazorInput Id="exampleCheck1" InputType="InputType.Checkbox" />
            <BlazorLabel IsCheck="true" For="exampleCheck1">Check me out</BlazorLabel>
        </FormGroup>
        <BlazorButton Color="Color.Primary" ButtonType="ButtonType.Submit">Submit</BlazorButton>
    </BlazorForm>
</div>
<code>
    <pre style="background:#000;color:#f8f8f8">
<span style="color:#89bdff">&lt;<span style="color:#89bdff">BlazorForm</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">FormGroup</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">BlazorLabel</span> <span style="color:#89bdff">For</span>=<span style="color:#65b042">"exampleInputEmail1"</span>></span>Email address<span style="color:#89bdff">&lt;/<span style="color:#89bdff">BlazorLabel</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">BlazorInput</span> <span style="color:#89bdff">Id</span>=<span style="color:#65b042">"exampleInputEmail1"</span> <span style="color:#89bdff">InputType</span>=<span style="color:#65b042">"InputType.Email"</span> <span style="color:#89bdff">PlaceHolder</span>=<span style="color:#65b042">"Enter email"</span> /></span>
    <span style="color:#e0c589">&lt;<span style="color:#e0c589">small</span> <span style="color:#e0c589">id</span>=<span style="color:#65b042">"emailHelp"</span> <span style="color:#e0c589">class</span>=<span style="color:#65b042">"form-text text-muted"</span>></span>We'll never share your email with anyone else.<span style="color:#e0c589">&lt;/<span style="color:#e0c589">small</span>></span>
    <span style="color:#89bdff">&lt;/<span style="color:#89bdff">FormGroup</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">FormGroup</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">BlazorLabel</span> <span style="color:#89bdff">For</span>=<span style="color:#65b042">"exampleInputPassword1"</span>></span>Password<span style="color:#89bdff">&lt;/<span style="color:#89bdff">BlazorLabel</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">BlazorInput</span> <span style="color:#89bdff">Id</span>=<span style="color:#65b042">"exampleInputPassword1"</span> <span style="color:#89bdff">InputType</span>=<span style="color:#65b042">"InputType.Password"</span> <span style="color:#89bdff">PlaceHolder</span>=<span style="color:#65b042">"Password"</span> /></span>
    <span style="color:#89bdff">&lt;/<span style="color:#89bdff">FormGroup</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">FormGroup</span> <span style="color:#89bdff">IsCheck</span>=<span style="color:#65b042">"true"</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">BlazorInput</span> <span style="color:#89bdff">Id</span>=<span style="color:#65b042">"exampleCheck1"</span> <span style="color:#89bdff">InputType</span>=<span style="color:#65b042">"InputType.Checkbox"</span> /></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">BlazorLabel</span> <span style="color:#89bdff">IsCheck</span>=<span style="color:#65b042">"true"</span> <span style="color:#89bdff">For</span>=<span style="color:#65b042">"exampleCheck1"</span>></span>Check me out<span style="color:#89bdff">&lt;/<span style="color:#89bdff">BlazorLabel</span>></span>
    <span style="color:#89bdff">&lt;/<span style="color:#89bdff">FormGroup</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">BlazorButton</span> <span style="color:#89bdff">Color</span>=<span style="color:#65b042">"Color.Primary"</span> <span style="color:#89bdff">ButtonType</span>=<span style="color:#65b042">"ButtonType.Submit"</span>></span>Submit<span style="color:#89bdff">&lt;/<span style="color:#89bdff">BlazorButton</span>></span>
<span style="color:#89bdff">&lt;/<span style="color:#89bdff">BlazorForm</span>></span>
</pre>
</code>

<p>Use bind-Value to bind to BlazorInput value</p>

<div class="docs-example">
    <BlazorForm>
        <FormGroup>
            <BlazorLabel For="exampleFormControlSelect1">Example select</BlazorLabel>
            <BlazorInput Id="exampleFormControlSelect1" InputType="InputType.Select">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </BlazorInput>
        </FormGroup>
        <FormGroup>
            <BlazorLabel For="exampleText">Text Area</BlazorLabel>
            <BlazorInput InputType="InputType.TextArea" Name="text" Id="exampleText" Rows="5" />
        </FormGroup>
        <FormGroup>
            <BlazorLabel For="exampleFormControlFile1">Example file input</BlazorLabel>
            <BlazorInput InputType="InputType.File" Id="exampleFormControlFile1" />
        </FormGroup>
    </BlazorForm>
</div>
<code>
    <pre style="background:#000;color:#f8f8f8">
<span style="color:#89bdff">&lt;<span style="color:#89bdff">BlazorForm</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">FormGroup</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">BlazorLabel</span> <span style="color:#89bdff">For</span>=<span style="color:#65b042">"exampleFormControlSelect1"</span>></span>Example select<span style="color:#89bdff">&lt;/<span style="color:#89bdff">BlazorLabel</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">BlazorInput</span> <span style="color:#89bdff">Id</span>=<span style="color:#65b042">"exampleFormControlSelect1"</span> <span style="color:#89bdff">InputType</span>=<span style="color:#65b042">"InputType.Select"</span>></span>
    <span style="color:#e0c589">&lt;<span style="color:#e0c589">option</span>></span>1<span style="color:#e0c589">&lt;/<span style="color:#e0c589">option</span>></span>
    <span style="color:#e0c589">&lt;<span style="color:#e0c589">option</span>></span>2<span style="color:#e0c589">&lt;/<span style="color:#e0c589">option</span>></span>
    <span style="color:#e0c589">&lt;<span style="color:#e0c589">option</span>></span>3<span style="color:#e0c589">&lt;/<span style="color:#e0c589">option</span>></span>
    <span style="color:#e0c589">&lt;<span style="color:#e0c589">option</span>></span>4<span style="color:#e0c589">&lt;/<span style="color:#e0c589">option</span>></span>
    <span style="color:#e0c589">&lt;<span style="color:#e0c589">option</span>></span>5<span style="color:#e0c589">&lt;/<span style="color:#e0c589">option</span>></span>
    <span style="color:#89bdff">&lt;/<span style="color:#89bdff">BlazorInput</span>></span>
    <span style="color:#89bdff">&lt;/<span style="color:#89bdff">FormGroup</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">FormGroup</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">BlazorLabel</span> <span style="color:#89bdff">For</span>=<span style="color:#65b042">"exampleText"</span>></span>Text Area<span style="color:#89bdff">&lt;/<span style="color:#89bdff">BlazorLabel</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">BlazorInput</span> <span style="color:#89bdff">InputType</span>=<span style="color:#65b042">"InputType.TextArea"</span> <span style="color:#89bdff">Name</span>=<span style="color:#65b042">"text"</span> <span style="color:#89bdff">Id</span>=<span style="color:#65b042">"exampleText"</span> <span style="color:#89bdff">Rows</span>=<span style="color:#65b042">"5"</span> /></span>
    <span style="color:#89bdff">&lt;/<span style="color:#89bdff">FormGroup</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">FormGroup</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">BlazorLabel</span> <span style="color:#89bdff">For</span>=<span style="color:#65b042">"exampleFormControlFile1"</span>></span>Example file input<span style="color:#89bdff">&lt;/<span style="color:#89bdff">BlazorLabel</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">BlazorInput</span> <span style="color:#89bdff">InputType</span>=<span style="color:#65b042">"InputType.File"</span> <span style="color:#89bdff">Id</span>=<span style="color:#65b042">"exampleFormControlFile1"</span> /></span>
    <span style="color:#89bdff">&lt;/<span style="color:#89bdff">FormGroup</span>></span>
<span style="color:#89bdff">&lt;/<span style="color:#89bdff">BlazorForm</span>></span>
</pre>
</code>


<h3>Sizing</h3>

<div class="docs-example">
    <BlazorInput InputType="InputType.Text" Size="Size.Large" PlaceHolder="Size.Large" />
    <BlazorInput InputType="InputType.Text" PlaceHolder="Default" />
    <BlazorInput InputType="InputType.Text" Size="Size.Small" PlaceHolder="Size.Small" />
</div>
<code>
    <pre style="background:#000;color:#f8f8f8">
<span style="color:#89bdff">&lt;<span style="color:#89bdff">BlazorInput</span> <span style="color:#89bdff">InputType</span>=<span style="color:#65b042">"InputType.Text"</span> <span style="color:#89bdff">Size</span>=<span style="color:#65b042">"Size.Large"</span> <span style="color:#89bdff">PlaceHolder</span>=<span style="color:#65b042">"Size.Large"</span> /></span>
<span style="color:#89bdff">&lt;<span style="color:#89bdff">BlazorInput</span> <span style="color:#89bdff">InputType</span>=<span style="color:#65b042">"InputType.Text"</span> <span style="color:#89bdff">PlaceHolder</span>=<span style="color:#65b042">"Default"</span> /></span>
<span style="color:#89bdff">&lt;<span style="color:#89bdff">BlazorInput</span> <span style="color:#89bdff">InputType</span>=<span style="color:#65b042">"InputType.Text"</span> <span style="color:#89bdff">Size</span>=<span style="color:#65b042">"Size.Small"</span> <span style="color:#89bdff">PlaceHolder</span>=<span style="color:#65b042">"Size.Small"</span> /></span>
</pre>
</code>

<div class="docs-example">
    <BlazorInput InputType="InputType.Select" Size="Size.Large">
        <option>Large select</option>
    </BlazorInput>
    <BlazorInput InputType="InputType.Select">
        <option>Default select</option>
    </BlazorInput>
    <BlazorInput InputType="InputType.Select" Size="Size.Small">
        <option>Small select</option>
    </BlazorInput>
</div>
<code>
    <pre style="background:#000;color:#f8f8f8">
<span style="color:#89bdff">&lt;<span style="color:#89bdff">BlazorInput</span> <span style="color:#89bdff">InputType</span>=<span style="color:#65b042">"InputType.Select"</span> <span style="color:#89bdff">Size</span>=<span style="color:#65b042">"Size.Large"</span>></span>
    <span style="color:#e0c589">&lt;<span style="color:#e0c589">option</span>></span>Large select<span style="color:#e0c589">&lt;/<span style="color:#e0c589">option</span>></span>
<span style="color:#89bdff">&lt;/<span style="color:#89bdff">BlazorInput</span>></span>
<span style="color:#89bdff">&lt;<span style="color:#89bdff">BlazorInput</span> <span style="color:#89bdff">InputType</span>=<span style="color:#65b042">"InputType.Select"</span>></span>
    <span style="color:#e0c589">&lt;<span style="color:#e0c589">option</span>></span>Default select<span style="color:#e0c589">&lt;/<span style="color:#e0c589">option</span>></span>
<span style="color:#89bdff">&lt;/<span style="color:#89bdff">BlazorInput</span>></span>
<span style="color:#89bdff">&lt;<span style="color:#89bdff">BlazorInput</span> <span style="color:#89bdff">InputType</span>=<span style="color:#65b042">"InputType.Select"</span> <span style="color:#89bdff">Size</span>=<span style="color:#65b042">"Size.Small"</span>></span>
    <span style="color:#e0c589">&lt;<span style="color:#e0c589">option</span>></span>Small select<span style="color:#e0c589">&lt;/<span style="color:#e0c589">option</span>></span>
<span style="color:#89bdff">&lt;/<span style="color:#89bdff">BlazorInput</span>></span>
</pre>
</code>

<h3>Range Inputs</h3>

<div class="docs-example">
    <BlazorForm>
        <FormGroup>
            <BlazorLabel For="formControlRange">Example Range input</BlazorLabel>
            <BlazorInput InputType="InputType.Range" Id="formControlRange" />
        </FormGroup>
    </BlazorForm>
</div>
<code>
    <pre style="background:#000;color:#f8f8f8">
<span style="color:#89bdff">&lt;<span style="color:#89bdff">BlazorForm</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">FormGroup</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">BlazorLabel</span> <span style="color:#89bdff">For</span>=<span style="color:#65b042">"formControlRange"</span>></span>Example Range input<span style="color:#89bdff">&lt;/<span style="color:#89bdff">BlazorLabel</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">BlazorInput</span> <span style="color:#89bdff">InputType</span>=<span style="color:#65b042">"InputType.Range"</span> <span style="color:#89bdff">Id</span>=<span style="color:#65b042">"formControlRange"</span> /></span>
    <span style="color:#89bdff">&lt;/<span style="color:#89bdff">FormGroup</span>></span>
<span style="color:#89bdff">&lt;/<span style="color:#89bdff">BlazorForm</span>></span>
</pre>
</code>

<h3>Readonly</h3>

<div class="docs-example">
    <BlazorInput InputType="InputType.Text" PlaceHolder="Readonly input here…" IsReadonly="true" />
</div>
<code>
    <pre style="background:#000;color:#f8f8f8">
<span style="color:#89bdff">&lt;<span style="color:#89bdff">BlazorInput</span> <span style="color:#89bdff">InputType</span>=<span style="color:#65b042">"InputType.Text"</span> <span style="color:#89bdff">PlaceHolder</span>=<span style="color:#65b042">"Readonly input here…"</span> <span style="color:#89bdff">IsReadonly</span>=<span style="color:#65b042">"true"</span> /></span>
</pre>
</code>

<h3>Readonly plain text</h3>

<div class="docs-example">
    <BlazorForm>
        <FormGroup IsRow="true">
            <BlazorLabel For="staticEmail" SM="2">Email</BlazorLabel>
            <BlazorCol SM="10">
                <BlazorInput InputType="InputType.Text" IsReadonly="true" IsPlaintext="true" Id="staticEmail" Value="email@example.com" />
            </BlazorCol>
        </FormGroup>
        <FormGroup IsRow="true">
            <BlazorLabel For="inputPassword" SM="2">Password</BlazorLabel>
            <BlazorCol SM="10">
                <BlazorInput InputType="InputType.Password" Id="inputPassword" />
            </BlazorCol>
        </FormGroup>
        <FormGroup IsRow="true">
            <BlazorCol SM="2" SMOffset="2">
                <BlazorButton ButtonType="ButtonType.Submit">Submit</BlazorButton>
            </BlazorCol>
        </FormGroup>
    </BlazorForm>
</div>
<code>
    <pre style="background:#000;color:#f8f8f8">
<span style="color:#89bdff">&lt;<span style="color:#89bdff">BlazorForm</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">FormGroup</span> <span style="color:#89bdff">IsRow</span>=<span style="color:#65b042">"true"</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">BlazorLabel</span> <span style="color:#89bdff">For</span>=<span style="color:#65b042">"staticEmail"</span> <span style="color:#89bdff">SM</span>=<span style="color:#65b042">"2"</span>></span>Email<span style="color:#89bdff">&lt;/<span style="color:#89bdff">BlazorLabel</span>></span>
    <span style="color:#e0c589">&lt;<span style="color:#e0c589">BlazorCol</span> <span style="color:#e0c589">SM</span>=<span style="color:#65b042">"10"</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">BlazorInput</span> <span style="color:#89bdff">InputType</span>=<span style="color:#65b042">"InputType.Text"</span> <span style="color:#89bdff">IsReadonly</span>=<span style="color:#65b042">"true"</span> <span style="color:#89bdff">IsPlaintext</span>=<span style="color:#65b042">"true"</span> <span style="color:#89bdff">Id</span>=<span style="color:#65b042">"staticEmail"</span> <span style="color:#89bdff">Value</span>=<span style="color:#65b042">"email@example.com"</span> /></span>
    <span style="color:#e0c589">&lt;/<span style="color:#e0c589">BlazorCol</span>></span>
    <span style="color:#89bdff">&lt;/<span style="color:#89bdff">FormGroup</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">FormGroup</span> <span style="color:#89bdff">IsRow</span>=<span style="color:#65b042">"true"</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">BlazorLabel</span> <span style="color:#89bdff">For</span>=<span style="color:#65b042">"inputPassword"</span> <span style="color:#89bdff">SM</span>=<span style="color:#65b042">"2"</span>></span>Password<span style="color:#89bdff">&lt;/<span style="color:#89bdff">BlazorLabel</span>></span>
    <span style="color:#e0c589">&lt;<span style="color:#e0c589">BlazorCol</span> <span style="color:#e0c589">SM</span>=<span style="color:#65b042">"10"</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">BlazorInput</span> <span style="color:#89bdff">InputType</span>=<span style="color:#65b042">"InputType.Password"</span> <span style="color:#89bdff">Id</span>=<span style="color:#65b042">"inputPassword"</span> /></span>
    <span style="color:#e0c589">&lt;/<span style="color:#e0c589">BlazorCol</span>></span>
    <span style="color:#89bdff">&lt;/<span style="color:#89bdff">FormGroup</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">FormGroup</span> <span style="color:#89bdff">IsRow</span>=<span style="color:#65b042">"true"</span>></span>
    <span style="color:#e0c589">&lt;<span style="color:#e0c589">BlazorCol</span> <span style="color:#e0c589">SM</span>=<span style="color:#65b042">"2"</span> <span style="color:#e0c589">SMOffset</span>=<span style="color:#65b042">"2"</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">BlazorButton</span> <span style="color:#89bdff">ButtonType</span>=<span style="color:#65b042">"ButtonType.Submit"</span>></span>Submit<span style="color:#89bdff">&lt;/<span style="color:#89bdff">BlazorButton</span>></span>
    <span style="color:#e0c589">&lt;/<span style="color:#e0c589">BlazorCol</span>></span>
    <span style="color:#89bdff">&lt;/<span style="color:#89bdff">FormGroup</span>></span>
<span style="color:#89bdff">&lt;/<span style="color:#89bdff">BlazorForm</span>></span>
</pre>
</code>

<h3>Inline Form</h3>

<div class="docs-example">
    <BlazorForm IsInline="true">
        <FormGroup Class="mb-2 mr-sm-2 mb-sm-0">
            <BlazorLabel For="exampleEmail" Class="mr-sm-2">Email</BlazorLabel>
            <BlazorInput InputType="InputType.Email" Name="email" Id="exampleEmail" PlaceHolder="something@idk.cool" />
        </FormGroup>
        <FormGroup Class="mb-2 mr-sm-2 mb-sm-0">
            <BlazorLabel For="examplePassword" class="mr-sm-2">Password</BlazorLabel>
            <BlazorInput InputType="InputType.Password" Name="password" Id="examplePassword" PlaceHolder="don't tell!" />
        </FormGroup>
        <BlazorButton ButtonType="ButtonType.Submit">Submit</BlazorButton>
    </BlazorForm>
</div>
<code>
    <pre style="background:#000;color:#f8f8f8">
<span style="color:#89bdff">&lt;<span style="color:#89bdff">BlazorForm</span> <span style="color:#89bdff">IsInline</span>=<span style="color:#65b042">"true"</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">FormGroup</span> <span style="color:#89bdff">Class</span>=<span style="color:#65b042">"mb-2 mr-sm-2 mb-sm-0"</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">BlazorLabel</span> <span style="color:#89bdff">For</span>=<span style="color:#65b042">"exampleEmail"</span> <span style="color:#89bdff">Class</span>=<span style="color:#65b042">"mr-sm-2"</span>></span>Email<span style="color:#89bdff">&lt;/<span style="color:#89bdff">BlazorLabel</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">BlazorInput</span> <span style="color:#89bdff">InputType</span>=<span style="color:#65b042">"InputType.Email"</span> <span style="color:#89bdff">Name</span>=<span style="color:#65b042">"email"</span> <span style="color:#89bdff">Id</span>=<span style="color:#65b042">"exampleEmail"</span> <span style="color:#89bdff">PlaceHolder</span>=<span style="color:#65b042">"something@idk.cool"</span> /></span>
    <span style="color:#89bdff">&lt;/<span style="color:#89bdff">FormGroup</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">FormGroup</span> <span style="color:#89bdff">Class</span>=<span style="color:#65b042">"mb-2 mr-sm-2 mb-sm-0"</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">BlazorLabel</span> <span style="color:#89bdff">For</span>=<span style="color:#65b042">"examplePassword"</span> <span style="color:#89bdff">class</span>=<span style="color:#65b042">"mr-sm-2"</span>></span>Password<span style="color:#89bdff">&lt;/<span style="color:#89bdff">BlazorLabel</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">BlazorInput</span> <span style="color:#89bdff">InputType</span>=<span style="color:#65b042">"InputType.Password"</span> <span style="color:#89bdff">Name</span>=<span style="color:#65b042">"password"</span> <span style="color:#89bdff">Id</span>=<span style="color:#65b042">"examplePassword"</span> <span style="color:#89bdff">PlaceHolder</span>=<span style="color:#65b042">"don't tell!"</span> /></span>
    <span style="color:#89bdff">&lt;/<span style="color:#89bdff">FormGroup</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">BlazorButton</span> <span style="color:#89bdff">ButtonType</span>=<span style="color:#65b042">"ButtonType.Submit"</span>></span>Submit<span style="color:#89bdff">&lt;/<span style="color:#89bdff">BlazorButton</span>></span>
<span style="color:#89bdff">&lt;/<span style="color:#89bdff">BlazorForm</span>></span>
</pre>
</code>

<h3>Checkboxes and radios</h3>

<div class="docs-example">
    <FormGroup IsCheck="true">
        <BlazorInput InputType="InputType.Checkbox" Id="defaultCheck1" />
        <BlazorLabel For="defaultCheck1">Default checkbox</BlazorLabel>
    </FormGroup>
    <FormGroup IsCheck="true">
        <BlazorInput InputType="InputType.Checkbox" Id="defaultCheck2" IsDisabled="true" />
        <BlazorLabel For="defaultCheck2">Disabled checkbox</BlazorLabel>
    </FormGroup>
</div>
<code>
    <pre style="background:#000;color:#f8f8f8">
<span style="color:#89bdff">&lt;<span style="color:#89bdff">FormGroup</span> <span style="color:#89bdff">IsCheck</span>=<span style="color:#65b042">"true"</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">BlazorInput</span> <span style="color:#89bdff">InputType</span>=<span style="color:#65b042">"InputType.Checkbox"</span> <span style="color:#89bdff">Id</span>=<span style="color:#65b042">"defaultCheck1"</span> /></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">BlazorLabel</span> <span style="color:#89bdff">For</span>=<span style="color:#65b042">"defaultCheck1"</span>></span>Default checkbox<span style="color:#89bdff">&lt;/<span style="color:#89bdff">BlazorLabel</span>></span>
<span style="color:#89bdff">&lt;/<span style="color:#89bdff">FormGroup</span>></span>
<span style="color:#89bdff">&lt;<span style="color:#89bdff">FormGroup</span> <span style="color:#89bdff">IsCheck</span>=<span style="color:#65b042">"true"</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">BlazorInput</span> <span style="color:#89bdff">InputType</span>=<span style="color:#65b042">"InputType.Checkbox"</span> <span style="color:#89bdff">Id</span>=<span style="color:#65b042">"defaultCheck2"</span> <span style="color:#89bdff">IsDisabled</span>=<span style="color:#65b042">"true"</span> /></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">BlazorLabel</span> <span style="color:#89bdff">For</span>=<span style="color:#65b042">"defaultCheck2"</span>></span>Disabled checkbox<span style="color:#89bdff">&lt;/<span style="color:#89bdff">BlazorLabel</span>></span>
<span style="color:#89bdff">&lt;/<span style="color:#89bdff">FormGroup</span>></span>
</pre>
</code>
<div class="docs-example">
    <FormGroup IsCheck="true">
        <BlazorInput InputType="InputType.Radio" Name="exampleRadios" Id="exampleRadios1" value="option1" IsChecked="true" />
        <BlazorLabel For="exampleRadios1">Default radio</BlazorLabel>
    </FormGroup>
    <FormGroup IsCheck="true">
        <BlazorInput InputType="InputType.Radio" Name="exampleRadios" Id="exampleRadios2" value="option2" />
        <BlazorLabel For="exampleRadios2">Second default radio</BlazorLabel>
    </FormGroup>
    <FormGroup IsCheck="true" Class="disabled">
        <BlazorInput InputType="InputType.Radio" Name="exampleRadios" Id="exampleRadios3" value="option3" IsDisabled="true" />
        <BlazorLabel For="exampleRadios3">Disabled radio</BlazorLabel>
    </FormGroup>
</div>
<code>
    <pre style="background:#000;color:#f8f8f8">
<span style="color:#89bdff">&lt;<span style="color:#89bdff">FormGroup</span> <span style="color:#89bdff">IsCheck</span>=<span style="color:#65b042">"true"</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">BlazorInput</span> <span style="color:#89bdff">InputType</span>=<span style="color:#65b042">"InputType.Radio"</span> <span style="color:#89bdff">Name</span>=<span style="color:#65b042">"exampleRadios"</span> <span style="color:#89bdff">Id</span>=<span style="color:#65b042">"exampleRadios1"</span> <span style="color:#89bdff">value</span>=<span style="color:#65b042">"option1"</span> <span style="color:#89bdff">IsChecked</span>=<span style="color:#65b042">"true"</span> /></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">BlazorLabel</span> <span style="color:#89bdff">For</span>=<span style="color:#65b042">"exampleRadios1"</span>></span>Default radio<span style="color:#89bdff">&lt;/<span style="color:#89bdff">BlazorLabel</span>></span>
<span style="color:#89bdff">&lt;/<span style="color:#89bdff">FormGroup</span>></span>
<span style="color:#89bdff">&lt;<span style="color:#89bdff">FormGroup</span> <span style="color:#89bdff">IsCheck</span>=<span style="color:#65b042">"true"</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">BlazorInput</span> <span style="color:#89bdff">InputType</span>=<span style="color:#65b042">"InputType.Radio"</span> <span style="color:#89bdff">Name</span>=<span style="color:#65b042">"exampleRadios"</span> <span style="color:#89bdff">Id</span>=<span style="color:#65b042">"exampleRadios2"</span> <span style="color:#89bdff">value</span>=<span style="color:#65b042">"option2"</span> /></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">BlazorLabel</span> <span style="color:#89bdff">For</span>=<span style="color:#65b042">"exampleRadios2"</span>></span>Second default radio<span style="color:#89bdff">&lt;/<span style="color:#89bdff">BlazorLabel</span>></span>
<span style="color:#89bdff">&lt;/<span style="color:#89bdff">FormGroup</span>></span>
<span style="color:#89bdff">&lt;<span style="color:#89bdff">FormGroup</span> <span style="color:#89bdff">IsCheck</span>=<span style="color:#65b042">"true"</span> <span style="color:#89bdff">Class</span>=<span style="color:#65b042">"disabled"</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">BlazorInput</span> <span style="color:#89bdff">InputType</span>=<span style="color:#65b042">"InputType.Radio"</span> <span style="color:#89bdff">Name</span>=<span style="color:#65b042">"exampleRadios"</span> <span style="color:#89bdff">Id</span>=<span style="color:#65b042">"exampleRadios3"</span> <span style="color:#89bdff">value</span>=<span style="color:#65b042">"option3"</span> <span style="color:#89bdff">IsDisabled</span>=<span style="color:#65b042">"true"</span> /></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">BlazorLabel</span> <span style="color:#89bdff">For</span>=<span style="color:#65b042">"exampleRadios3"</span>></span>Disabled radio<span style="color:#89bdff">&lt;/<span style="color:#89bdff">BlazorLabel</span>></span>
<span style="color:#89bdff">&lt;/<span style="color:#89bdff">FormGroup</span>></span>
</pre>
</code>

<h3>Form Validation</h3>

<div class="docs-example">
    <BlazorForm>
        <FormGroup>
            <BlazorLabel For="exampleEmail3">Input without validation</BlazorLabel>
            <BlazorInput InputType="InputType.Text" Id="exampleEmail3" />
            <FormFeedback>You will not be able to see this</FormFeedback>
        </FormGroup>
        <FormGroup>
            <BlazorLabel For="exampleEmail4">Valid input</BlazorLabel>
            <BlazorInput IsValid="true" InputType="InputType.Text" Id="exampleEmail4" />
            <FormFeedback IsValid="true">Sweet! that name is available</FormFeedback>
        </FormGroup>
        <FormGroup>
            <BlazorLabel For="exampleEmail5">Invalid input</BlazorLabel>
            <BlazorInput IsInvalid="true" InputType="InputType.Text" Id="exampleEmail5" />
            <FormFeedback IsInvalid="true">Oh noes! that name is already taken</FormFeedback>
        </FormGroup>
    </BlazorForm>
</div>
<code>
    <pre style="background:#000;color:#f8f8f8">
<span style="color:#89bdff">&lt;<span style="color:#89bdff">BlazorForm</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">FormGroup</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">BlazorLabel</span> <span style="color:#89bdff">For</span>=<span style="color:#65b042">"exampleEmail3"</span>></span>Input without validation<span style="color:#89bdff">&lt;/<span style="color:#89bdff">BlazorLabel</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">BlazorInput</span> <span style="color:#89bdff">InputType</span>=<span style="color:#65b042">"InputType.Text"</span> <span style="color:#89bdff">Id</span>=<span style="color:#65b042">"exampleEmail3"</span> /></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">FormFeedback</span>></span>You will not be able to see this<span style="color:#89bdff">&lt;/<span style="color:#89bdff">FormFeedback</span>></span>
    <span style="color:#89bdff">&lt;/<span style="color:#89bdff">FormGroup</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">FormGroup</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">BlazorLabel</span> <span style="color:#89bdff">For</span>=<span style="color:#65b042">"exampleEmail4"</span>></span>Valid input<span style="color:#89bdff">&lt;/<span style="color:#89bdff">BlazorLabel</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">BlazorInput</span> <span style="color:#89bdff">IsValid</span>=<span style="color:#65b042">"true"</span> <span style="color:#89bdff">InputType</span>=<span style="color:#65b042">"InputType.Text"</span> <span style="color:#89bdff">Id</span>=<span style="color:#65b042">"exampleEmail4"</span> /></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">FormFeedback</span> <span style="color:#89bdff">IsValid</span>=<span style="color:#65b042">"true"</span>></span>Sweet! that name is available<span style="color:#89bdff">&lt;/<span style="color:#89bdff">FormFeedback</span>></span>
    <span style="color:#89bdff">&lt;/<span style="color:#89bdff">FormGroup</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">FormGroup</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">BlazorLabel</span> <span style="color:#89bdff">For</span>=<span style="color:#65b042">"exampleEmail5"</span>></span>Invalid input<span style="color:#89bdff">&lt;/<span style="color:#89bdff">BlazorLabel</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">BlazorInput</span> <span style="color:#89bdff">IsInvalid</span>=<span style="color:#65b042">"true"</span> <span style="color:#89bdff">InputType</span>=<span style="color:#65b042">"InputType.Text"</span> <span style="color:#89bdff">Id</span>=<span style="color:#65b042">"exampleEmail5"</span> /></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">FormFeedback</span> <span style="color:#89bdff">IsInvalid</span>=<span style="color:#65b042">"true"</span>></span>Oh noes! that name is already taken<span style="color:#89bdff">&lt;/<span style="color:#89bdff">FormFeedback</span>></span>
    <span style="color:#89bdff">&lt;/<span style="color:#89bdff">FormGroup</span>></span>
<span style="color:#89bdff">&lt;/<span style="color:#89bdff">BlazorForm</span>></span>
</pre>
</code>

<h4>Form Tooltip Validation</h4>
<div class="docs-example">
    <BlazorForm>
        <FormGroup>
            <BlazorLabel For="exampleEmail6">Input without validation</BlazorLabel>
            <BlazorInput InputType="InputType.Text" Id="exampleEmail6" />
            <FormFeedback IsTooltip="true">You will not be able to see this</FormFeedback>
        </FormGroup>
        <FormGroup>
            <BlazorLabel For="exampleEmail7">Valid input</BlazorLabel>
            <BlazorInput IsValid="true" InputType="InputType.Text" Id="exampleEmail7" />
            <FormFeedback IsTooltip="true" IsValid="true">Sweet! that name is available</FormFeedback>
        </FormGroup>
        <FormGroup>
            <BlazorLabel For="exampleEmail8">Invalid input</BlazorLabel>
            <BlazorInput IsInvalid="true" InputType="InputType.Text" Id="exampleEmail8" />
            <FormFeedback IsTooltip="true" IsInvalid="true">Oh noes! that name is already taken</FormFeedback>
        </FormGroup>
    </BlazorForm>
</div>
<code>
    <pre style="background:#000;color:#f8f8f8">
<span style="color:#89bdff">&lt;<span style="color:#89bdff">BlazorForm</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">FormGroup</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">BlazorLabel</span> <span style="color:#89bdff">For</span>=<span style="color:#65b042">"exampleEmail6"</span>></span>Input without validation<span style="color:#89bdff">&lt;/<span style="color:#89bdff">BlazorLabel</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">BlazorInput</span> <span style="color:#89bdff">InputType</span>=<span style="color:#65b042">"InputType.Text"</span> <span style="color:#89bdff">Id</span>=<span style="color:#65b042">"exampleEmail6"</span> /></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">FormFeedback</span> <span style="color:#89bdff">IsTooltip</span>=<span style="color:#65b042">"true"</span>></span>You will not be able to see this<span style="color:#89bdff">&lt;/<span style="color:#89bdff">FormFeedback</span>></span>
    <span style="color:#89bdff">&lt;/<span style="color:#89bdff">FormGroup</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">FormGroup</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">BlazorLabel</span> <span style="color:#89bdff">For</span>=<span style="color:#65b042">"exampleEmail7"</span>></span>Valid input<span style="color:#89bdff">&lt;/<span style="color:#89bdff">BlazorLabel</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">BlazorInput</span> <span style="color:#89bdff">IsValid</span>=<span style="color:#65b042">"true"</span> <span style="color:#89bdff">InputType</span>=<span style="color:#65b042">"InputType.Text"</span> <span style="color:#89bdff">Id</span>=<span style="color:#65b042">"exampleEmail7"</span> /></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">FormFeedback</span> <span style="color:#89bdff">IsTooltip</span>=<span style="color:#65b042">"true"</span> <span style="color:#89bdff">IsValid</span>=<span style="color:#65b042">"true"</span>></span>Sweet! that name is available<span style="color:#89bdff">&lt;/<span style="color:#89bdff">FormFeedback</span>></span>
    <span style="color:#89bdff">&lt;/<span style="color:#89bdff">FormGroup</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">FormGroup</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">BlazorLabel</span> <span style="color:#89bdff">For</span>=<span style="color:#65b042">"exampleEmail8"</span>></span>Invalid input<span style="color:#89bdff">&lt;/<span style="color:#89bdff">BlazorLabel</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">BlazorInput</span> <span style="color:#89bdff">IsInvalid</span>=<span style="color:#65b042">"true"</span> <span style="color:#89bdff">InputType</span>=<span style="color:#65b042">"InputType.Text"</span> <span style="color:#89bdff">Id</span>=<span style="color:#65b042">"exampleEmail8"</span> /></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">FormFeedback</span> <span style="color:#89bdff">IsTooltip</span>=<span style="color:#65b042">"true"</span> <span style="color:#89bdff">IsInvalid</span>=<span style="color:#65b042">"true"</span>></span>Oh noes! that name is already taken<span style="color:#89bdff">&lt;/<span style="color:#89bdff">FormFeedback</span>></span>
    <span style="color:#89bdff">&lt;/<span style="color:#89bdff">FormGroup</span>></span>
<span style="color:#89bdff">&lt;/<span style="color:#89bdff">BlazorForm</span>></span>
</pre>
</code>
