@page "/"

<h1>BlazorStrap Demo Site</h1>

<h2>Components</h2>

<ul>
    <li><a href="/alerts">Alerts</a></li>
    <li><a href="/badges">Badges</a></li>
    <li><a href="/breadcrumbs">Breadcrumbs</a></li>
    <li><a href="/buttons">Buttons</a></li>
    <li><a href="/dropdowns">Dropdowns</a></li>
    <li><a href="/jumbotrons">Jumbotrons</a></li>
    <li><a href="/layout">Layout</a></li>
    <li><a href="/listgroups">List Groups</a></li>
    <li><a href="/pagination">Pagination</a></li>
    <li><a href="/progress">Progress</a></li>
</ul>
