@addTagHelper *, BlazorStrap
@page "/jumbotrons"

<h1>Jumbotrons</h1>

<div class="docs-example">
    <Jumbotron>
        <h1 class="display-4">Hello, world!</h1>
        <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <BlazorButton Color=Color.Primary Size=Size.Large>Learn more</BlazorButton>
    </Jumbotron>
</div>
<pre style="background:#000;color:#f8f8f8">
<span style="color:#89bdff">&lt;<span style="color:#89bdff">Jumbotron</span>></span>
  <span style="color:#89bdff">&lt;<span style="color:#89bdff">h1</span> <span style="color:#89bdff">class</span>=<span style="color:#65b042">"display-4"</span>></span>Hello, world!<span style="color:#89bdff">&lt;/<span style="color:#89bdff">h1</span>></span>
  <span style="color:#89bdff">&lt;<span style="color:#89bdff">p</span> <span style="color:#89bdff">class</span>=<span style="color:#65b042">"lead"</span>></span>This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.<span style="color:#89bdff">&lt;/<span style="color:#89bdff">p</span>></span>
  <span style="color:#89bdff">&lt;<span style="color:#89bdff">hr</span> <span style="color:#89bdff">class</span>=<span style="color:#65b042">"my-4"</span>></span>
  <span style="color:#89bdff">&lt;<span style="color:#89bdff">p</span>></span>It uses utility classes for typography and spacing to space content out within the larger container.<span style="color:#89bdff">&lt;/<span style="color:#89bdff">p</span>></span>
  <span style="color:#89bdff">&lt;<span style="color:#89bdff">BlazorButton</span> <span style="color:#89bdff">Color</span>=<span style="color:#65b042">Color</span>.<span style="color:#65b042">Primary</span> <span style="color:#89bdff">Size</span>=<span style="color:#65b042">Size</span>.<span style="color:#65b042">Large</span>></span>Learn more<span style="color:#89bdff">&lt;/<span style="color:#89bdff">BlazorButton</span>></span>
<span style="color:#89bdff">&lt;/<span style="color:#89bdff">Jumbotron</span>></span>
</pre>

<h3>Fluid Jumbotron</h3>

<div class="docs-example">
    <Jumbotron IsFluid=true>
        <div class="container">
            <h1 class="display-4">Fluid jumbotron</h1>
            <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
        </div>
    </Jumbotron>
</div>
<pre style="background:#000;color:#f8f8f8">
<span style="color:#89bdff">&lt;<span style="color:#89bdff">Jumbotron</span> <span style="color:#89bdff">IsFluid</span>=<span style="color:#65b042">true</span>></span>
  <span style="color:#89bdff">&lt;<span style="color:#89bdff">div</span> <span style="color:#89bdff">class</span>=<span style="color:#65b042">"container"</span>></span>
  <span style="color:#89bdff">&lt;<span style="color:#89bdff">h1</span> <span style="color:#89bdff">class</span>=<span style="color:#65b042">"display-4"</span>></span>Fluid jumbotron<span style="color:#89bdff">&lt;/<span style="color:#89bdff">h1</span>></span>
  <span style="color:#89bdff">&lt;<span style="color:#89bdff">p</span> <span style="color:#89bdff">class</span>=<span style="color:#65b042">"lead"</span>></span>This is a modified jumbotron that occupies the entire horizontal space of its parent.<span style="color:#89bdff">&lt;/<span style="color:#89bdff">p</span>></span>
  <span style="color:#89bdff">&lt;/<span style="color:#89bdff">div</span>></span>
<span style="color:#89bdff">&lt;/<span style="color:#89bdff">Jumbotron</span>></span>
</pre>