@addTagHelper *, BlazorStrap
@page "/listgroups"

<h1>List Groups</h1>

<div class="docs-example">
    <ListGroup>
        <ListGroupItem>Cras justo odio</ListGroupItem>
        <ListGroupItem>Dapibus ac facilisis in</ListGroupItem>
        <ListGroupItem>Morbi leo risus</ListGroupItem>
        <ListGroupItem>Porta ac consectetur ac</ListGroupItem>
        <ListGroupItem>Vestibulum at eros</ListGroupItem>
    </ListGroup>
</div>
<pre style="background:#000;color:#f8f8f8">
<span style="color:#89bdff">&lt;<span style="color:#89bdff">ListGroup</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">ListGroupItem</span>></span>Cras justo odio<span style="color:#89bdff">&lt;/<span style="color:#89bdff">ListGroupItem</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">ListGroupItem</span>></span>Dapibus ac facilisis in<span style="color:#89bdff">&lt;/<span style="color:#89bdff">ListGroupItem</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">ListGroupItem</span>></span>Morbi leo risus<span style="color:#89bdff">&lt;/<span style="color:#89bdff">ListGroupItem</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">ListGroupItem</span>></span>Porta ac consectetur ac<span style="color:#89bdff">&lt;/<span style="color:#89bdff">ListGroupItem</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">ListGroupItem</span>></span>Vestibulum at eros<span style="color:#89bdff">&lt;/<span style="color:#89bdff">ListGroupItem</span>></span>
<span style="color:#89bdff">&lt;/<span style="color:#89bdff">ListGroup</span>></span>
</pre>

<h3>Active items</h3>

<div class="docs-example">
    <ListGroup>
        <ListGroupItem IsActive="true">Cras justo odio</ListGroupItem>
        <ListGroupItem>Dapibus ac facilisis in</ListGroupItem>
        <ListGroupItem>Morbi leo risus</ListGroupItem>
        <ListGroupItem>Porta ac consectetur ac</ListGroupItem>
        <ListGroupItem>Vestibulum at eros</ListGroupItem>
    </ListGroup>
</div>
<pre style="background:#000;color:#f8f8f8">
<span style="color:#89bdff">&lt;<span style="color:#89bdff">ListGroup</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">ListGroupItem</span> <span style="color:#89bdff">IsActive</span>=<span style="color:#65b042">"true"</span>></span>Cras justo odio<span style="color:#89bdff">&lt;/<span style="color:#89bdff">ListGroupItem</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">ListGroupItem</span>></span>Dapibus ac facilisis in<span style="color:#89bdff">&lt;/<span style="color:#89bdff">ListGroupItem</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">ListGroupItem</span>></span>Morbi leo risus<span style="color:#89bdff">&lt;/<span style="color:#89bdff">ListGroupItem</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">ListGroupItem</span>></span>Porta ac consectetur ac<span style="color:#89bdff">&lt;/<span style="color:#89bdff">ListGroupItem</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">ListGroupItem</span>></span>Vestibulum at eros<span style="color:#89bdff">&lt;/<span style="color:#89bdff">ListGroupItem</span>></span>
<span style="color:#89bdff">&lt;/<span style="color:#89bdff">ListGroup</span>></span>
</pre>

<h3>Disabled items</h3>

<div class="docs-example">
    <ListGroup>
        <ListGroupItem IsDisabled="true">Cras justo odio</ListGroupItem>
        <ListGroupItem>Dapibus ac facilisis in</ListGroupItem>
        <ListGroupItem>Morbi leo risus</ListGroupItem>
        <ListGroupItem>Porta ac consectetur ac</ListGroupItem>
        <ListGroupItem>Vestibulum at eros</ListGroupItem>
    </ListGroup>
</div>
<pre style="background:#000;color:#f8f8f8">
<span style="color:#89bdff">&lt;<span style="color:#89bdff">ListGroup</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">ListGroupItem</span> <span style="color:#89bdff">IsDisabled</span>=<span style="color:#65b042">"true"</span>></span>Cras justo odio<span style="color:#89bdff">&lt;/<span style="color:#89bdff">ListGroupItem</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">ListGroupItem</span>></span>Dapibus ac facilisis in<span style="color:#89bdff">&lt;/<span style="color:#89bdff">ListGroupItem</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">ListGroupItem</span>></span>Morbi leo risus<span style="color:#89bdff">&lt;/<span style="color:#89bdff">ListGroupItem</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">ListGroupItem</span>></span>Porta ac consectetur ac<span style="color:#89bdff">&lt;/<span style="color:#89bdff">ListGroupItem</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">ListGroupItem</span>></span>Vestibulum at eros<span style="color:#89bdff">&lt;/<span style="color:#89bdff">ListGroupItem</span>></span>
<span style="color:#89bdff">&lt;/<span style="color:#89bdff">ListGroup</span>></span>
</pre>

<h3>Links and buttons</h3>
<Alert Color=Color.Info>
    Currently it is necessary to set ListGroupType on both the group and the list. See: <a href="https://github.com/aspnet/Blazor/issues/650">https://github.com/aspnet/Blazor/issues/650</a>
</Alert>

<div class="docs-example">
    <ListGroup ListGroupType="ListGroupType.Link">
        <ListGroupItem ListGroupType="ListGroupType.Link" Href="#" IsActive="true">Cras justo odio</ListGroupItem>
        <ListGroupItem ListGroupType="ListGroupType.Link" Href="#">Dapibus ac facilisis in</ListGroupItem>
        <ListGroupItem ListGroupType="ListGroupType.Link" Href="#">Morbi leo risus</ListGroupItem>
        <ListGroupItem ListGroupType="ListGroupType.Link" Href="#">Porta ac consectetur ac</ListGroupItem>
        <ListGroupItem ListGroupType="ListGroupType.Link" Href="#" IsDisabled="true">Vestibulum at eros</ListGroupItem>
    </ListGroup>
</div>
<pre style="background:#000;color:#f8f8f8">
<span style="color:#89bdff">&lt;<span style="color:#89bdff">ListGroup</span> <span style="color:#89bdff">ListGroupType</span>=<span style="color:#65b042">"ListGroupType.Link"</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">ListGroupItem</span> <span style="color:#89bdff">ListGroupType</span>=<span style="color:#65b042">"ListGroupType.Link"</span> <span style="color:#89bdff">Href</span>=<span style="color:#65b042">"#"</span> <span style="color:#89bdff">IsActive</span>=<span style="color:#65b042">"true"</span>></span>Cras justo odio<span style="color:#89bdff">&lt;/<span style="color:#89bdff">ListGroupItem</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">ListGroupItem</span> <span style="color:#89bdff">ListGroupType</span>=<span style="color:#65b042">"ListGroupType.Link"</span> <span style="color:#89bdff">Href</span>=<span style="color:#65b042">"#"</span>></span>Dapibus ac facilisis in<span style="color:#89bdff">&lt;/<span style="color:#89bdff">ListGroupItem</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">ListGroupItem</span> <span style="color:#89bdff">ListGroupType</span>=<span style="color:#65b042">"ListGroupType.Link"</span> <span style="color:#89bdff">Href</span>=<span style="color:#65b042">"#"</span>></span>Morbi leo risus<span style="color:#89bdff">&lt;/<span style="color:#89bdff">ListGroupItem</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">ListGroupItem</span> <span style="color:#89bdff">ListGroupType</span>=<span style="color:#65b042">"ListGroupType.Link"</span> <span style="color:#89bdff">Href</span>=<span style="color:#65b042">"#"</span>></span>Porta ac consectetur ac<span style="color:#89bdff">&lt;/<span style="color:#89bdff">ListGroupItem</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">ListGroupItem</span> <span style="color:#89bdff">ListGroupType</span>=<span style="color:#65b042">"ListGroupType.Link"</span> <span style="color:#89bdff">Href</span>=<span style="color:#65b042">"#"</span> <span style="color:#89bdff">IsDisabled</span>=<span style="color:#65b042">"true"</span>></span>Vestibulum at eros<span style="color:#89bdff">&lt;/<span style="color:#89bdff">ListGroupItem</span>></span>
<span style="color:#89bdff">&lt;/<span style="color:#89bdff">ListGroup</span>></span>
</pre>
<div class="docs-example">
    <ListGroup ListGroupType="ListGroupType.Button">
        <ListGroupItem ListGroupType="ListGroupType.Button" IsActive="true">Cras justo odio</ListGroupItem>
        <ListGroupItem ListGroupType="ListGroupType.Button">Dapibus ac facilisis in</ListGroupItem>
        <ListGroupItem ListGroupType="ListGroupType.Button">Morbi leo risus</ListGroupItem>
        <ListGroupItem ListGroupType="ListGroupType.Button">Porta ac consectetur ac</ListGroupItem>
        <ListGroupItem ListGroupType="ListGroupType.Button" IsDisabled="true">Vestibulum at eros</ListGroupItem>
    </ListGroup>
</div>
<pre style="background:#000;color:#f8f8f8">
<span style="color:#89bdff">&lt;<span style="color:#89bdff">ListGroup</span> <span style="color:#89bdff">ListGroupType</span>=<span style="color:#65b042">"ListGroupType.Button"</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">ListGroupItem</span> <span style="color:#89bdff">ListGroupType</span>=<span style="color:#65b042">"ListGroupType.Button"</span> <span style="color:#89bdff">Href</span>=<span style="color:#65b042">"#"</span> <span style="color:#89bdff">IsActive</span>=<span style="color:#65b042">"true"</span>></span>Cras justo odio<span style="color:#89bdff">&lt;/<span style="color:#89bdff">ListGroupItem</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">ListGroupItem</span> <span style="color:#89bdff">ListGroupType</span>=<span style="color:#65b042">"ListGroupType.Button"</span> <span style="color:#89bdff">Href</span>=<span style="color:#65b042">"#"</span>></span>Dapibus ac facilisis in<span style="color:#89bdff">&lt;/<span style="color:#89bdff">ListGroupItem</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">ListGroupItem</span> <span style="color:#89bdff">ListGroupType</span>=<span style="color:#65b042">"ListGroupType.Button"</span> <span style="color:#89bdff">Href</span>=<span style="color:#65b042">"#"</span>></span>Morbi leo risus<span style="color:#89bdff">&lt;/<span style="color:#89bdff">ListGroupItem</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">ListGroupItem</span> <span style="color:#89bdff">ListGroupType</span>=<span style="color:#65b042">"ListGroupType.Button"</span> <span style="color:#89bdff">Href</span>=<span style="color:#65b042">"#"</span>></span>Porta ac consectetur ac<span style="color:#89bdff">&lt;/<span style="color:#89bdff">ListGroupItem</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">ListGroupItem</span> <span style="color:#89bdff">ListGroupType</span>=<span style="color:#65b042">"ListGroupType.Button"</span> <span style="color:#89bdff">Href</span>=<span style="color:#65b042">"#"</span> <span style="color:#89bdff">IsDisabled</span>=<span style="color:#65b042">"true"</span>></span>Vestibulum at eros<span style="color:#89bdff">&lt;/<span style="color:#89bdff">ListGroupItem</span>></span>
<span style="color:#89bdff">&lt;/<span style="color:#89bdff">ListGroup</span>></span>
</pre>
<h3>Supplying OnClick Handler</h3>
<div class="docs-example">
    <ListGroup ListGroupType="ListGroupType.Button">
        <ListGroupItem ListGroupType="ListGroupType.Button" OnClick="@onclick">Click me</ListGroupItem>
    </ListGroup>
</div>
<pre style="background:#000;color:#f8f8f8">
<span style="color:#89bdff">&lt;<span style="color:#89bdff">ListGroup</span> <span style="color:#89bdff">ListGroupType</span>=<span style="color:#65b042">"ListGroupType.Button"</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">ListGroupItem</span> <span style="color:#89bdff">ListGroupType</span>=<span style="color:#65b042">"ListGroupType.Button"</span> <span style="color:#89bdff">OnClick</span>=<span style="color:#65b042">"@@onclick"</span>></span>Click me<span style="color:#89bdff">&lt;/<span style="color:#89bdff">ListGroupItem</span>></span>
<span style="color:#89bdff">&lt;/<span style="color:#89bdff">ListGroup</span>></span>

<span>@@</span>functions {
    void onclick(UIMouseEventArgs e)
    {
        Console.WriteLine(<span style="color:#65b042">"Button was clicked!"</span>);
    }
}
</pre>

<h3>Flush</h3>
<div class="docs-example">
    <ListGroup IsFlush="true">
        <ListGroupItem>Cras justo odio</ListGroupItem>
        <ListGroupItem>Dapibus ac facilisis in</ListGroupItem>
        <ListGroupItem>Morbi leo risus</ListGroupItem>
        <ListGroupItem>Porta ac consectetur ac</ListGroupItem>
        <ListGroupItem>Vestibulum at eros</ListGroupItem>
    </ListGroup>
</div>
<pre style="background:#000;color:#f8f8f8">
<span style="color:#89bdff">&lt;<span style="color:#89bdff">ListGroup</span> <span style="color:#89bdff">IsFlush</span>=<span style="color:#65b042">"true"</span>></span>
  <span style="color:#89bdff">&lt;<span style="color:#89bdff">ListGroupItem</span>></span>Cras justo odio<span style="color:#89bdff">&lt;/<span style="color:#89bdff">ListGroupItem</span>></span>
  <span style="color:#89bdff">&lt;<span style="color:#89bdff">ListGroupItem</span>></span>Dapibus ac facilisis in<span style="color:#89bdff">&lt;/<span style="color:#89bdff">ListGroupItem</span>></span>
  <span style="color:#89bdff">&lt;<span style="color:#89bdff">ListGroupItem</span>></span>Morbi leo risus<span style="color:#89bdff">&lt;/<span style="color:#89bdff">ListGroupItem</span>></span>
  <span style="color:#89bdff">&lt;<span style="color:#89bdff">ListGroupItem</span>></span>Porta ac consectetur ac<span style="color:#89bdff">&lt;/<span style="color:#89bdff">ListGroupItem</span>></span>
  <span style="color:#89bdff">&lt;<span style="color:#89bdff">ListGroupItem</span>></span>Vestibulum at eros<span style="color:#89bdff">&lt;/<span style="color:#89bdff">ListGroupItem</span>></span>
<span style="color:#89bdff">&lt;/<span style="color:#89bdff">ListGroup</span>></span>
</pre>

<h3>Contextual classes</h3>
<div class="docs-example">
    <ListGroup >
        <ListGroupItem>Dapibus ac facilisis in</ListGroupItem>
        <ListGroupItem Color="Color.Primary">A simple primary list group item</ListGroupItem>
        <ListGroupItem Color="Color.Secondary">A simple secondary list group item</ListGroupItem>
        <ListGroupItem Color="Color.Success">A simple success list group item</ListGroupItem>
        <ListGroupItem Color="Color.Danger">A simple danger list group item</ListGroupItem>
        <ListGroupItem Color="Color.Warning">A simple warning list group item</ListGroupItem>
        <ListGroupItem Color="Color.Info">A simple info list group item</ListGroupItem>
        <ListGroupItem Color="Color.Light">A simple light list group item</ListGroupItem>
        <ListGroupItem Color="Color.Dark">A simple dark list group item</ListGroupItem>
    </ListGroup>
</div>
<pre style="background:#000;color:#f8f8f8">
<span style="color:#89bdff">&lt;<span style="color:#89bdff">ListGroup</span> ></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">ListGroupItem</span>></span>Dapibus ac facilisis in<span style="color:#89bdff">&lt;/<span style="color:#89bdff">ListGroupItem</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">ListGroupItem</span> <span style="color:#89bdff">Color</span>=<span style="color:#65b042">"Color.Primary"</span>></span>A simple primary list group item<span style="color:#89bdff">&lt;/<span style="color:#89bdff">ListGroupItem</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">ListGroupItem</span> <span style="color:#89bdff">Color</span>=<span style="color:#65b042">"Color.Secondary"</span>></span>A simple secondary list group item<span style="color:#89bdff">&lt;/<span style="color:#89bdff">ListGroupItem</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">ListGroupItem</span> <span style="color:#89bdff">Color</span>=<span style="color:#65b042">"Color.Success"</span>></span>A simple success list group item<span style="color:#89bdff">&lt;/<span style="color:#89bdff">ListGroupItem</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">ListGroupItem</span> <span style="color:#89bdff">Color</span>=<span style="color:#65b042">"Color.Danger"</span>></span>A simple danger list group item<span style="color:#89bdff">&lt;/<span style="color:#89bdff">ListGroupItem</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">ListGroupItem</span> <span style="color:#89bdff">Color</span>=<span style="color:#65b042">"Color.Warning"</span>></span>A simple warning list group item<span style="color:#89bdff">&lt;/<span style="color:#89bdff">ListGroupItem</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">ListGroupItem</span> <span style="color:#89bdff">Color</span>=<span style="color:#65b042">"Color.Info"</span>></span>A simple info list group item<span style="color:#89bdff">&lt;/<span style="color:#89bdff">ListGroupItem</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">ListGroupItem</span> <span style="color:#89bdff">Color</span>=<span style="color:#65b042">"Color.Light"</span>></span>A simple light list group item<span style="color:#89bdff">&lt;/<span style="color:#89bdff">ListGroupItem</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">ListGroupItem</span> <span style="color:#89bdff">Color</span>=<span style="color:#65b042">"Color.Dark"</span>></span>A simple dark list group item<span style="color:#89bdff">&lt;/<span style="color:#89bdff">ListGroupItem</span>></span>
<span style="color:#89bdff">&lt;/<span style="color:#89bdff">ListGroup</span>></span>
</pre>
<div class="docs-example">
    <ListGroup ListGroupType="ListGroupType.Link">
        <ListGroupItem ListGroupType="ListGroupType.Link" Href="#">Dapibus ac facilisis in</ListGroupItem>
        <ListGroupItem Color="Color.Primary" ListGroupType="ListGroupType.Link" Href="#">A simple primary list group item</ListGroupItem>
        <ListGroupItem Color="Color.Secondary" ListGroupType="ListGroupType.Link" Href="#">A simple secondary list group item</ListGroupItem>
        <ListGroupItem Color="Color.Success" ListGroupType="ListGroupType.Link" Href="#">A simple success list group item</ListGroupItem>
        <ListGroupItem Color="Color.Danger" ListGroupType="ListGroupType.Link" Href="#">A simple danger list group item</ListGroupItem>
        <ListGroupItem Color="Color.Warning" ListGroupType="ListGroupType.Link" Href="#">A simple warning list group item</ListGroupItem>
        <ListGroupItem Color="Color.Info" ListGroupType="ListGroupType.Link" Href="#">A simple info list group item</ListGroupItem>
        <ListGroupItem Color="Color.Light" ListGroupType="ListGroupType.Link" Href="#">A simple light list group item</ListGroupItem>
        <ListGroupItem Color="Color.Dark" ListGroupType="ListGroupType.Link" Href="#">A simple dark list group item</ListGroupItem>
    </ListGroup>
</div>
<pre style="background:#000;color:#f8f8f8">
<span style="color:#89bdff">&lt;<span style="color:#89bdff">ListGroup</span> <span style="color:#89bdff">ListGroupType</span>=<span style="color:#65b042">"ListGroupType.Link"</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">ListGroupItem</span> <span style="color:#89bdff">ListGroupType</span>=<span style="color:#65b042">"ListGroupType.Link"</span> <span style="color:#89bdff">Href</span>=<span style="color:#65b042">"#"</span>></span>Dapibus ac facilisis in<span style="color:#89bdff">&lt;/<span style="color:#89bdff">ListGroupItem</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">ListGroupItem</span> <span style="color:#89bdff">Color</span>=<span style="color:#65b042">"Color.Primary"</span> <span style="color:#89bdff">ListGroupType</span>=<span style="color:#65b042">"ListGroupType.Link"</span> <span style="color:#89bdff">Href</span>=<span style="color:#65b042">"#"</span>></span>A simple primary list group item<span style="color:#89bdff">&lt;/<span style="color:#89bdff">ListGroupItem</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">ListGroupItem</span> <span style="color:#89bdff">Color</span>=<span style="color:#65b042">"Color.Secondary"</span> <span style="color:#89bdff">ListGroupType</span>=<span style="color:#65b042">"ListGroupType.Link"</span> <span style="color:#89bdff">Href</span>=<span style="color:#65b042">"#"</span>></span>A simple secondary list group item<span style="color:#89bdff">&lt;/<span style="color:#89bdff">ListGroupItem</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">ListGroupItem</span> <span style="color:#89bdff">Color</span>=<span style="color:#65b042">"Color.Success"</span> <span style="color:#89bdff">ListGroupType</span>=<span style="color:#65b042">"ListGroupType.Link"</span> <span style="color:#89bdff">Href</span>=<span style="color:#65b042">"#"</span>></span>A simple success list group item<span style="color:#89bdff">&lt;/<span style="color:#89bdff">ListGroupItem</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">ListGroupItem</span> <span style="color:#89bdff">Color</span>=<span style="color:#65b042">"Color.Danger"</span> <span style="color:#89bdff">ListGroupType</span>=<span style="color:#65b042">"ListGroupType.Link"</span> <span style="color:#89bdff">Href</span>=<span style="color:#65b042">"#"</span>></span>A simple danger list group item<span style="color:#89bdff">&lt;/<span style="color:#89bdff">ListGroupItem</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">ListGroupItem</span> <span style="color:#89bdff">Color</span>=<span style="color:#65b042">"Color.Warning"</span> <span style="color:#89bdff">ListGroupType</span>=<span style="color:#65b042">"ListGroupType.Link"</span> <span style="color:#89bdff">Href</span>=<span style="color:#65b042">"#"</span>></span>A simple warning list group item<span style="color:#89bdff">&lt;/<span style="color:#89bdff">ListGroupItem</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">ListGroupItem</span> <span style="color:#89bdff">Color</span>=<span style="color:#65b042">"Color.Info"</span> <span style="color:#89bdff">ListGroupType</span>=<span style="color:#65b042">"ListGroupType.Link"</span> <span style="color:#89bdff">Href</span>=<span style="color:#65b042">"#"</span>></span>A simple info list group item<span style="color:#89bdff">&lt;/<span style="color:#89bdff">ListGroupItem</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">ListGroupItem</span> <span style="color:#89bdff">Color</span>=<span style="color:#65b042">"Color.Light"</span> <span style="color:#89bdff">ListGroupType</span>=<span style="color:#65b042">"ListGroupType.Link"</span> <span style="color:#89bdff">Href</span>=<span style="color:#65b042">"#"</span>></span>A simple light list group item<span style="color:#89bdff">&lt;/<span style="color:#89bdff">ListGroupItem</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">ListGroupItem</span> <span style="color:#89bdff">Color</span>=<span style="color:#65b042">"Color.Dark"</span> <span style="color:#89bdff">ListGroupType</span>=<span style="color:#65b042">"ListGroupType.Link"</span> <span style="color:#89bdff">Href</span>=<span style="color:#65b042">"#"</span>></span>A simple dark list group item<span style="color:#89bdff">&lt;/<span style="color:#89bdff">ListGroupItem</span>></span>
<span style="color:#89bdff">&lt;/<span style="color:#89bdff">ListGroup</span>></span>
</pre>

<h3>With badges</h3>
<Alert Color=Color.Info>
    For this to work right, a solution for adding custom classes needs to be added to BlazorStrap
</Alert>
<div class="docs-example">
    <ListGroup>
        <ListGroupItem>Cras justo odio <Badge IsPill="true">14</Badge></ListGroupItem>
        <ListGroupItem>Dapibus ac facilisis in <Badge IsPill="true">2</Badge></ListGroupItem>
        <ListGroupItem>Morbi leo risus <Badge IsPill="true">1</Badge></ListGroupItem>
    </ListGroup>
</div>
<pre style="background:#000;color:#f8f8f8">
<span style="color:#89bdff">&lt;<span style="color:#89bdff">ListGroup</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">ListGroupItem</span>></span>Cras justo odio <span style="color:#89bdff">&lt;<span style="color:#89bdff">Badge</span> <span style="color:#89bdff">IsPill</span>=<span style="color:#65b042">"true"</span>></span>14<span style="color:#89bdff">&lt;/<span style="color:#89bdff">Badge</span>></span><span style="color:#89bdff">&lt;/<span style="color:#89bdff">ListGroupItem</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">ListGroupItem</span>></span>Dapibus ac facilisis in <span style="color:#89bdff">&lt;<span style="color:#89bdff">Badge</span> <span style="color:#89bdff">IsPill</span>=<span style="color:#65b042">"true"</span>></span>2<span style="color:#89bdff">&lt;/<span style="color:#89bdff">Badge</span>></span><span style="color:#89bdff">&lt;/<span style="color:#89bdff">ListGroupItem</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">ListGroupItem</span>></span>Morbi leo risus <span style="color:#89bdff">&lt;<span style="color:#89bdff">Badge</span> <span style="color:#89bdff">IsPill</span>=<span style="color:#65b042">"true"</span>></span>1<span style="color:#89bdff">&lt;/<span style="color:#89bdff">Badge</span>></span><span style="color:#89bdff">&lt;/<span style="color:#89bdff">ListGroupItem</span>></span>
<span style="color:#89bdff">&lt;/<span style="color:#89bdff">ListGroup</span>></span>
</pre>

<h3>Custom Content</h3>
<Alert Color=Color.Info>
    For this to work right, a solution for adding custom classes needs to be added to BlazorStrap
</Alert>

<div class="docs-example">
    <ListGroup ListGroupType="ListGroupType.Link">
        <ListGroupItem ListGroupType="ListGroupType.Link" Href="#" IsActive="true">
            <ListGroupItemHeading>
                <h5 class="mb-1">List group item heading</h5>
                <small>3 days ago</small>
            </ListGroupItemHeading>
            <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
            <small>Donec id elit non mi porta.</small>
        </ListGroupItem>
        <ListGroupItem ListGroupType="ListGroupType.Link" Href="#">
            <ListGroupItemHeading>
                <h5 class="mb-1">List group item heading</h5>
                <small class="text-muted">3 days ago</small>
            </ListGroupItemHeading>
            <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
            <small class="text-muted">Donec id elit non mi porta.</small>
        </ListGroupItem>
        <ListGroupItem ListGroupType="ListGroupType.Link" Href="#">
            <ListGroupItemHeading>
                <h5 class="mb-1">List group item heading</h5>
                <small class="text-muted">3 days ago</small>
            </ListGroupItemHeading>
            <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
            <small class="text-muted">Donec id elit non mi porta.</small>
        </ListGroupItem>
    </ListGroup>
</div>
<pre style="background:#000;color:#f8f8f8">
<span style="color:#89bdff">&lt;<span style="color:#89bdff">ListGroup</span> <span style="color:#89bdff">ListGroupType</span>=<span style="color:#65b042">"ListGroupType.Link"</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">ListGroupItem</span> <span style="color:#89bdff">ListGroupType</span>=<span style="color:#65b042">"ListGroupType.Link"</span> <span style="color:#89bdff">Href</span>=<span style="color:#65b042">"#"</span> <span style="color:#89bdff">IsActive</span>=<span style="color:#65b042">"true"</span>></span>
        <span style="color:#89bdff">&lt;<span style="color:#89bdff">ListGroupItemHeading</span>></span>
            <span style="color:#89bdff">&lt;<span style="color:#89bdff">h5</span> <span style="color:#89bdff">class</span>=<span style="color:#65b042">"mb-1"</span>></span>List group item heading<span style="color:#89bdff">&lt;/<span style="color:#89bdff">h5</span>></span>
            <span style="color:#e0c589">&lt;<span style="color:#e0c589">small</span>></span>3 days ago<span style="color:#e0c589">&lt;/<span style="color:#e0c589">small</span>></span>
        <span style="color:#89bdff">&lt;/<span style="color:#89bdff">ListGroupItemHeading</span>></span>
        <span style="color:#89bdff">&lt;<span style="color:#89bdff">p</span> <span style="color:#89bdff">class</span>=<span style="color:#65b042">"mb-1"</span>></span>Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.<span style="color:#89bdff">&lt;/<span style="color:#89bdff">p</span>></span>
        <span style="color:#e0c589">&lt;<span style="color:#e0c589">small</span>></span>Donec id elit non mi porta.<span style="color:#e0c589">&lt;/<span style="color:#e0c589">small</span>></span>
    <span style="color:#89bdff">&lt;/<span style="color:#89bdff">ListGroupItem</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">ListGroupItem</span> <span style="color:#89bdff">ListGroupType</span>=<span style="color:#65b042">"ListGroupType.Link"</span> <span style="color:#89bdff">Href</span>=<span style="color:#65b042">"#"</span>></span>
        <span style="color:#89bdff">&lt;<span style="color:#89bdff">ListGroupItemHeading</span>></span>
            <span style="color:#89bdff">&lt;<span style="color:#89bdff">h5</span> <span style="color:#89bdff">class</span>=<span style="color:#65b042">"mb-1"</span>></span>List group item heading<span style="color:#89bdff">&lt;/<span style="color:#89bdff">h5</span>></span>
            <span style="color:#e0c589">&lt;<span style="color:#e0c589">small</span> <span style="color:#e0c589">class</span>=<span style="color:#65b042">"text-muted"</span>></span>3 days ago<span style="color:#e0c589">&lt;/<span style="color:#e0c589">small</span>></span>
        <span style="color:#89bdff">&lt;/<span style="color:#89bdff">ListGroupItemHeading</span>></span>
        <span style="color:#89bdff">&lt;<span style="color:#89bdff">p</span> <span style="color:#89bdff">class</span>=<span style="color:#65b042">"mb-1"</span>></span>Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.<span style="color:#89bdff">&lt;/<span style="color:#89bdff">p</span>></span>
        <span style="color:#e0c589">&lt;<span style="color:#e0c589">small</span> <span style="color:#e0c589">class</span>=<span style="color:#65b042">"text-muted"</span>></span>Donec id elit non mi porta.<span style="color:#e0c589">&lt;/<span style="color:#e0c589">small</span>></span>
    <span style="color:#89bdff">&lt;/<span style="color:#89bdff">ListGroupItem</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">ListGroupItem</span> <span style="color:#89bdff">ListGroupType</span>=<span style="color:#65b042">"ListGroupType.Link"</span> <span style="color:#89bdff">Href</span>=<span style="color:#65b042">"#"</span>></span>
        <span style="color:#89bdff">&lt;<span style="color:#89bdff">ListGroupItemHeading</span>></span>
            <span style="color:#89bdff">&lt;<span style="color:#89bdff">h5</span> <span style="color:#89bdff">class</span>=<span style="color:#65b042">"mb-1"</span>></span>List group item heading<span style="color:#89bdff">&lt;/<span style="color:#89bdff">h5</span>></span>
            <span style="color:#e0c589">&lt;<span style="color:#e0c589">small</span> <span style="color:#e0c589">class</span>=<span style="color:#65b042">"text-muted"</span>></span>3 days ago<span style="color:#e0c589">&lt;/<span style="color:#e0c589">small</span>></span>
        <span style="color:#89bdff">&lt;/<span style="color:#89bdff">ListGroupItemHeading</span>></span>
        <span style="color:#89bdff">&lt;<span style="color:#89bdff">p</span> <span style="color:#89bdff">class</span>=<span style="color:#65b042">"mb-1"</span>></span>Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.<span style="color:#89bdff">&lt;/<span style="color:#89bdff">p</span>></span>
        <span style="color:#e0c589">&lt;<span style="color:#e0c589">small</span> <span style="color:#e0c589">class</span>=<span style="color:#65b042">"text-muted"</span>></span>Donec id elit non mi porta.<span style="color:#e0c589">&lt;/<span style="color:#e0c589">small</span>></span>
    <span style="color:#89bdff">&lt;/<span style="color:#89bdff">ListGroupItem</span>></span>
<span style="color:#89bdff">&lt;/<span style="color:#89bdff">ListGroup</span>></span>
</pre>

<h3>Tabable Content</h3>
<Alert Color=Color.Info>
    BlazorStrap does not support the Tab component yet.
</Alert>

@functions {
    void onclick(UIMouseEventArgs e)
    {
        Console.WriteLine("Button was clicked!");
    }
}