@addTagHelper *, BlazorStrap
@page "/listgroups"

<h1>List Groups</h1>

<div class="docs-example">
    <ListGroup>
        <ListGroupItem>Cras justo odio</ListGroupItem>
        <ListGroupItem>Dapibus ac facilisis in</ListGroupItem>
        <ListGroupItem>Morbi leo risus</ListGroupItem>
        <ListGroupItem>Porta ac consectetur ac</ListGroupItem>
        <ListGroupItem>Vestibulum at eros</ListGroupItem>
    </ListGroup>
</div>
<pre style="background:#000;color:#f8f8f8">
<span style="color:#89bdff">&lt;<span style="color:#89bdff">ListGroup</span>></span>
  <span style="color:#89bdff">&lt;<span style="color:#89bdff">ListGroupItem</span>></span>Cras justo odio<span style="color:#89bdff">&lt;/<span style="color:#89bdff">ListGroupItem</span>></span>
  <span style="color:#89bdff">&lt;<span style="color:#89bdff">ListGroupItem</span>></span>Dapibus ac facilisis in<span style="color:#89bdff">&lt;/<span style="color:#89bdff">ListGroupItem</span>></span>
  <span style="color:#89bdff">&lt;<span style="color:#89bdff">ListGroupItem</span>></span>Morbi leo risus<span style="color:#89bdff">&lt;/<span style="color:#89bdff">ListGroupItem</span>></span>
  <span style="color:#89bdff">&lt;<span style="color:#89bdff">ListGroupItem</span>></span>Porta ac consectetur ac<span style="color:#89bdff">&lt;/<span style="color:#89bdff">ListGroupItem</span>></span>
  <span style="color:#89bdff">&lt;<span style="color:#89bdff">ListGroupItem</span>></span>Vestibulum at eros<span style="color:#89bdff">&lt;/<span style="color:#89bdff">ListGroupItem</span>></span>
<span style="color:#89bdff">&lt;/<span style="color:#89bdff">ListGroup</span>></span>
</pre>

<h4>Active items</h4>

<div class="docs-example">
    <ListGroup>
        <ListGroupItem IsActive="true">Cras justo odio</ListGroupItem>
        <ListGroupItem>Dapibus ac facilisis in</ListGroupItem>
        <ListGroupItem>Morbi leo risus</ListGroupItem>
        <ListGroupItem>Porta ac consectetur ac</ListGroupItem>
        <ListGroupItem>Vestibulum at eros</ListGroupItem>
    </ListGroup>
</div>