@page "/test"

<a href="#" class="btn btn-secondary dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="@IsOpen" onclick="@onclick">
    Dropdown
</a>

@functions {
    bool IsOpen { get; set; }
    void onclick()
    {
        IsOpen = !IsOpen;
        StateHasChanged();
        //Don't change location here only togle IsOpen
    }
}
