@addTagHelper *, BlazorStrap
@page "/tooltips"

<h1>Tooltips</h1>

<Alert Color="Color.Info">Arrow color is grey. Will be fixed in a future update.</Alert>

<div class="docs-example">
    <BlazorButton Id="tooltip1">Top</BlazorButton>
    <Tooltip Target="tooltip1" Placement="Placement.Top">Tooltip on Top</Tooltip>
    <BlazorButton Id="tooltip2">Bottom</BlazorButton>
    <Tooltip Target="tooltip2" Placement="Placement.Bottom">Tooltip on Bottom</Tooltip>
    <BlazorButton Id="tooltip3">Left</BlazorButton>
    <Tooltip Target="tooltip3" Placement="Placement.Left">Tooltip on Left</Tooltip>
    <BlazorButton Id="tooltip4">Right</BlazorButton>
    <Tooltip Target="tooltip4" Placement="Placement.Right">Tooltip on Right</Tooltip>
    <BlazorButton Id="tooltip5">Tooltip with HTML</BlazorButton>
    <Tooltip Target="tooltip5" Placement="Placement.Top"><em>Tooltip</em> <u>with</u> <b>HTML</b></Tooltip>
</div>

<pre style="background:#000;color:#f8f8f8">
<span style="color:#89bdff">&lt;<span style="color:#89bdff">BlazorButton</span> <span style="color:#89bdff">Id</span>=<span style="color:#65b042">"tooltip1"</span>></span>Top<span style="color:#89bdff">&lt;/<span style="color:#89bdff">BlazorButton</span>></span>
<span style="color:#89bdff">&lt;<span style="color:#89bdff">Tooltip</span> <span style="color:#89bdff">Target</span>=<span style="color:#65b042">"tooltip1"</span> <span style="color:#89bdff">Placement</span>=<span style="color:#65b042">"Placement.Top"</span>></span>Tooltip on Top<span style="color:#89bdff">&lt;/<span style="color:#89bdff">Tooltip</span>></span>
<span style="color:#89bdff">&lt;<span style="color:#89bdff">BlazorButton</span> <span style="color:#89bdff">Id</span>=<span style="color:#65b042">"tooltip2"</span>></span>Bottom<span style="color:#89bdff">&lt;/<span style="color:#89bdff">BlazorButton</span>></span>
<span style="color:#89bdff">&lt;<span style="color:#89bdff">Tooltip</span> <span style="color:#89bdff">Target</span>=<span style="color:#65b042">"tooltip2"</span> <span style="color:#89bdff">Placement</span>=<span style="color:#65b042">"Placement.Bottom"</span>></span>Tooltip on Bottom<span style="color:#89bdff">&lt;/<span style="color:#89bdff">Tooltip</span>></span>
<span style="color:#89bdff">&lt;<span style="color:#89bdff">BlazorButton</span> <span style="color:#89bdff">Id</span>=<span style="color:#65b042">"tooltip3"</span>></span>Left<span style="color:#89bdff">&lt;/<span style="color:#89bdff">BlazorButton</span>></span>
<span style="color:#89bdff">&lt;<span style="color:#89bdff">Tooltip</span> <span style="color:#89bdff">Target</span>=<span style="color:#65b042">"tooltip3"</span> <span style="color:#89bdff">Placement</span>=<span style="color:#65b042">"Placement.Left"</span>></span>Tooltip on Left<span style="color:#89bdff">&lt;/<span style="color:#89bdff">Tooltip</span>></span>
<span style="color:#89bdff">&lt;<span style="color:#89bdff">BlazorButton</span> <span style="color:#89bdff">Id</span>=<span style="color:#65b042">"tooltip4"</span>></span>Right<span style="color:#89bdff">&lt;/<span style="color:#89bdff">BlazorButton</span>></span>
<span style="color:#89bdff">&lt;<span style="color:#89bdff">Tooltip</span> <span style="color:#89bdff">Target</span>=<span style="color:#65b042">"tooltip4"</span> <span style="color:#89bdff">Placement</span>=<span style="color:#65b042">"Placement.Right"</span>></span>Tooltip on Right<span style="color:#89bdff">&lt;/<span style="color:#89bdff">Tooltip</span>></span>
<span style="color:#89bdff">&lt;<span style="color:#89bdff">BlazorButton</span> <span style="color:#89bdff">Id</span>=<span style="color:#65b042">"tooltip5"</span>></span>Tooltip with HTML<span style="color:#89bdff">&lt;/<span style="color:#89bdff">BlazorButton</span>></span>
<span style="color:#89bdff">&lt;<span style="color:#89bdff">Tooltip</span> <span style="color:#89bdff">Target</span>=<span style="color:#65b042">"tooltip5"</span> <span style="color:#89bdff">Placement</span>=<span style="color:#65b042">"Placement.Top"</span>></span><span style="color:#e0c589">&lt;<span style="color:#e0c589">em</span>></span>Tooltip<span style="color:#e0c589">&lt;/<span style="color:#e0c589">em</span>></span> <span style="color:#e0c589">&lt;<span style="color:#e0c589">u</span>></span>with<span style="color:#e0c589">&lt;/<span style="color:#e0c589">u</span>></span> <span style="color:#e0c589">&lt;<span style="color:#e0c589">b</span>></span>HTML<span style="color:#e0c589">&lt;/<span style="color:#e0c589">b</span>></span><span style="color:#89bdff">&lt;/<span style="color:#89bdff">Tooltip</span>></span>
</pre>