@page "/samples/issue136"

<BSButton Color="Color.Primary" OnClick="@(() => LiveDemo.Show())">Launch demo modal</BSButton>
<BSModal @ref="LiveDemo">
    <BSModalHeader OnClick="@(() => LiveDemo.Hide())">Modal title</BSModalHeader>
    <BSModalBody><p>Modal body text goes here.</p></BSModalBody>
    <BSModalFooter>
        <BSButton Id="CancelTT" Color="Color.Secondary">Cancel</BSButton>
        <BSTooltip Target="CancelTT" Placement="Placement.Top">Cancel</BSTooltip>
        <BSButton Id="SubmitTT" Color="Color.Primary">Submit</BSButton>
        <BSTooltip Target="SubmitTT" Placement="Placement.Top">Click to submit this data</BSTooltip>
        <BSButton Id="CloseTT" Color="Color.Dark">Refresh Form</BSButton>
        <BSTooltip Target="CloseTT" Placement="Placement.Top">Clicking close will refresh the form</BSTooltip>
    </BSModalFooter>
</BSModal>

@code
{
BSModal LiveDemo;
}