@page "/samples/issue104"
@layout Layout104

<Jumbotron IsFluid="true" class="d-none d-sm-block">
    <Container>
        <h1 class="display-4">Welcome</h1>
    </Container>
</Jumbotron>

<Container IsFluid="true">

</Container>