@page "/samples/issue171"

<BSTabGroup> 
    <BSTabList IsPills="true" IsList="true"> 
        <BSTab> 
            <BSTabLabel>Ingredients</BSTabLabel> 
            <BSTabContent> <div> Recipe details go here </div> </BSTabContent> 
        </BSTab> 
        <BSTab> 
            <BSTabLabel>Steps</BSTabLabel> 
            <BSTabContent> <div> and stuff </div> </BSTabContent> 
        </BSTab> 
        <BSTab> 
            <BSTabLabel>Description</BSTabLabel> 
            <BSTabContent> <div> junk </div> </BSTabContent> 
        </BSTab> 
    </BSTabList> 
    <BSTabSelectedContent></BSTabSelectedContent> 
</BSTabGroup>
