@page "/samples/issue429"
<div class="row">

    <BSTabGroup @ref="TabGroup">
        <div class="col-md-3" style="padding-left: 0px">
            @lock (ActiveServices)
            {
                <BSTabList IsPills="true" IsList="true" IsVertical="true">
                    <BSDynamicTabList Items="ActiveServices" >
                        <TemplateLabel Context="service">@service.Name <a href="javascript:void(0);" @onclick="() => Remove(service.Name)">(X)</a></TemplateLabel>
                        <TemplateContent Context="service">
                            @service.Name
                        </TemplateContent>
                    </BSDynamicTabList>
                </BSTabList>
            }
        </div>
        <div class="col-md-9">
            <BSTabSelectedContent/>
        </div>
    </BSTabGroup>
</div>

@code {
    IList<CustomService> ActiveServices { get; set; }
    BSTabGroup TabGroup { get; set; }
    protected override void OnInitialized()
    {
        ActiveServices = new List<CustomService>();
        ActiveServices.Add(new CustomService(){Name = "Bob"});
        ActiveServices.Add(new CustomService(){Name = "Frank"});
        ActiveServices.Add(new CustomService(){Name = "Jim"});
    }

    void Remove(string name)
    {
        var service = ActiveServices.FirstOrDefault(q => q.Name == name);
        if (service == null) return;
        ActiveServices.Remove(service);
        TabGroup.UpdateDynamic();
    }

    void Add()
    {
        var name = Guid.NewGuid().ToString();
        ActiveServices.Add(new CustomService(){Name = name});
    }

    public class CustomService
    {
        public string Name { get; set; }
    }
}