@page "/samples/issue153"
@layout Layout104
<BSForm Model="@formsModel">
    <BSFormGroup>
        <BSLabel For="exampleFormControlSelect1">Example select</BSLabel>
        <BSInput Id="exampleFormControlSelect1" InputType="InputType.Select" @bind-Value="formsModel.Name">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
        </BSInput>
    </BSFormGroup>

</BSForm>


@code{
    MyModel formsModel = new MyModel();
}