@namespace BlazorStrap.V4
@inherits BlazorStrap.Shared.Components.Content.BSTableBase

@if (IsResponsive)
{
    <div class="@WrapperClassBuilder">
        <table class="@ClassBuilder" @attributes="Attributes">
            @ChildContent
        </table>
    </div>
}
else
{
    <table class="@ClassBuilder" @attributes="Attributes">
        @ChildContent
    </table>
}