@page "/components/accordion"

<BSContainer Class="bd-main py-3" Size="Container.Fluid">
    <div class="bd-content">
        <h2>Accordion</h2>
        <p>Accordion's Require two components <strong>&lt;BSAccordion&gt</strong> and <strong>&lt;BSAccordionItem&gt</strong></p>
        <h4>Component &lt;BSAccordion&gt;</h4>
        <BSTable>
            <BSTHead>
                <BSTR>
                    <BSTD>Parameter</BSTD>
                    <BSTD>Type</BSTD>
                    <BSTD>Valid</BSTD>
                    <BSTD>Output</BSTD>
                </BSTR>
            </BSTHead>
            <BSTBody>
                <BSTR>
                    <BSTD>IsFlushed</BSTD>
                    <BSTD>bool</BSTD>
                    <BSTD>true/false</BSTD>
                    <BSTD>.accordion-flush</BSTD>
                </BSTR>
                <BSTR>
                    <BSTD colspan="4">See shared for additonal parameters</BSTD>
                </BSTR>
            </BSTBody>
        </BSTable>
        <h4>Component &lt;BSAccordionItem&gt;</h4>
        <p><strong>*</strong> indicates required Parameters</p>
        <BSTable>
            <BSTHead>
                <BSTR>
                    <BSTD>Parameter</BSTD>
                    <BSTD>Type</BSTD>
                    <BSTD>Valid</BSTD>
                    <BSTD>Output/Result</BSTD>
                </BSTR>
            </BSTHead>
            <BSTBody>
                <BSTR>
                    <BSTD><strong>*</strong> Header</BSTD>
                    <BSTD>RenderFragment</BSTD>
                    <BSTD>RenderFragment</BSTD>
                    <BSTD>Nested Content</BSTD>
                </BSTR>
                <BSTR>
                    <BSTD><strong>*</strong> Content</BSTD>
                    <BSTD>RenderFragment</BSTD>
                    <BSTD>RenderFragment</BSTD>
                    <BSTD>Nested Content</BSTD>
                </BSTR>
                <BSTR>
                    <BSTD>AlwaysOpen</BSTD>
                    <BSTD>bool</BSTD>
                    <BSTD>true/false</BSTD>
                    <BSTD>Keeps Item Open</BSTD>
                </BSTR>
                 <BSTR>
                    <BSTD>DefaultShown</BSTD>
                    <BSTD>bool</BSTD>
                    <BSTD>true/false</BSTD>
                    <BSTD>Shown By Default</BSTD>
                </BSTR>
                <BSTR>
                    <BSTD colspan="4">See shared for additonal parameters</BSTD>
                </BSTR>
            </BSTBody>
        </BSTable>
        <h3 id="vertical-alignment">Example</h3>
        <div class="bd-example bd-example-row bd-example-row-flex-cols">
            <BlazorStrap_Docs.Samples.Components.Accordion.Accordion1 />
        </div>
        <div class="highlight">
            <CodeBlock Source="docs/Samples/Components/Accordion/Accordion1.md" />
        </div>
        <h3 id="vertical-alignment">Flush</h3>
        <div class="bd-example bd-example-row bd-example-row-flex-cols">
            <BlazorStrap_Docs.Samples.Components.Accordion.Accordion2 />
        </div>
        <div class="highlight">
            <CodeBlock Source="docs/Samples/Components/Accordion/Accordion2.md" />
        </div>
        <h3 id="vertical-alignment">Always open & default shown</h3>
        <div class="bd-example bd-example-row bd-example-row-flex-cols">
            <BlazorStrap_Docs.Samples.Components.Accordion.Accordion3 />
        </div>
        <div class="highlight">
            <CodeBlock Source="docs/Samples/Components/Accordion/Accordion3.md" />
        </div>
    </div>
</BSContainer>