@page "/components/collapse"

<BSContainer Class="bd-main py-3" Size="Container.Fluid">
    <div class="bd-content">
        <h2>Collapse</h2>
        <h4>Component &lt;BSCollapse&gt;</h4>
        <BSTable>
            <BSTHead>
                <BSTR>
                    <BSTD>Parameter</BSTD>
                    <BSTD>Type</BSTD>
                    <BSTD>Valid</BSTD>
                    <BSTD>Output</BSTD>
                </BSTR>
            </BSTHead>
            <BSTBody>
                <BSTR>
                    <BSTD>DefaultShown</BSTD>
                    <BSTD>bool</BSTD>
                    <BSTD>true/false</BSTD>
                    <BSTD></BSTD>
                </BSTR>
                <BSTR>
                    <BSTD>IsInNavbar</BSTD>
                    <BSTD>bool</BSTD>
                    <BSTD>true/false</BSTD>
                    <BSTD>.navbar-collapse</BSTD>
                </BSTR>
                <BSTR>
                    <BSTD>IsList</BSTD>
                    <BSTD>bool</BSTD>
                    <BSTD>true/false</BSTD>
                    <BSTD>ul</BSTD>
                </BSTR>
                <BSTR>
                    <BSTD>Content</BSTD>
                    <BSTD>RenderFragment</BSTD>
                    <BSTD>RenderFragment</BSTD>
                    <BSTD>Nested Content</BSTD>
                </BSTR>
                <BSTR>
                    <BSTD>Toggler</BSTD>
                    <BSTD>RenderFragment</BSTD>
                    <BSTD>RenderFragment</BSTD>
                    <BSTD>Nested Content</BSTD>
                </BSTR>
                <BSTR>
                    <BSTD colspan="4">See shared for additonal parameters</BSTD>
                </BSTR>
            </BSTBody>
        </BSTable>
        <h3>Example</h3>
        <div class="bd-example bd-example-row bd-example-row-flex-cols">
            <BlazorStrap_Docs.Samples.Components.Collapse.Collapse1/>
        </div>
        <div class="highlight">
            <CodeBlock Source="docs/Samples/Components/Collapse/Collapse1.md"/>
        </div>
        <h3>Example with Toggler</h3>
        <div class="bd-example bd-example-row bd-example-row-flex-cols">
            <BlazorStrap_Docs.Samples.Components.Collapse.Collapse2/>
        </div>
        <div class="highlight">
            <CodeBlock Source="docs/Samples/Components/Collapse/Collapse2.md"/>
        </div>
        <h3>Multiple targets</h3>
        <div class="bd-example">
            <BlazorStrap_Docs.Samples.Components.Collapse.Collapse3/>
        </div>
        <div class="highlight">
            <CodeBlock Source="docs/Samples/Components/Collapse/Collapse3.md"/>
        </div>
    </div>
</BSContainer>