@page "/components/nav"

<BSContainer Class="bd-main py-3" Size="Container.Fluid">
    <div class="bd-content">
        <h2>Nav & Tabs</h2>
        <h4>Component &lt;BSNav&gt;</h4>
        <BSTable>
            <BSTHead>
                <BSTR>
                    <BSTD>Parameter</BSTD>
                    <BSTD>Type</BSTD>
                    <BSTD>Valid</BSTD>
                    <BSTD>Output</BSTD>
                </BSTR>
            </BSTHead>
            <BSTBody>
                <BSTR>
                    <BSTD>IsFill</BSTD>
                    <BSTD>bool</BSTD>
                    <BSTD>true/false</BSTD>
                    <BSTD>.nav-fill</BSTD>
                </BSTR>
                <BSTR>
                    <BSTD>IsNav</BSTD>
                    <BSTD>bool</BSTD>
                    <BSTD>true/false</BSTD>
                    <BSTD>&lt;Nav&gt;</BSTD>
                </BSTR>
                <BSTR>
                    <BSTD>IsPill</BSTD>
                    <BSTD>bool</BSTD>
                    <BSTD>true/false</BSTD>
                    <BSTD>.nav-pills</BSTD>
                </BSTR>
                <BSTR>
                    <BSTD>IsTabs</BSTD>
                    <BSTD>bool</BSTD>
                    <BSTD>true/false</BSTD>
                    <BSTD>.nav-tabs</BSTD>
                </BSTR>
                <BSTR>
                    <BSTD>IsVertical</BSTD>
                    <BSTD>bool</BSTD>
                    <BSTD>true/false</BSTD>
                    <BSTD>.flex-column</BSTD>
                </BSTR>
                <BSTR>
                    <BSTD>Justify</BSTD>
                    <BSTD>Enum</BSTD>
                    <BSTD>Justify</BSTD>
                    <BSTD>.justify-content-#</BSTD>
                </BSTR>
                <BSTR>
                    <BSTD>IsJustified</BSTD>
                    <BSTD>bool</BSTD>
                    <BSTD>true/false</BSTD>
                    <BSTD>.nav-justified</BSTD>
                </BSTR>
                <BSTR>
                    <BSTD>NoNavbarNav</BSTD>
                    <BSTD>bool</BSTD>
                    <BSTD>true/false</BSTD>
                    <BSTD>Removes .navbar-nav</BSTD>
                </BSTR>
                <BSTR>
                    <BSTD colspan="4">See shared for additonal parameters</BSTD>
                </BSTR>
            </BSTBody>
        </BSTable>
        <p><code>.navbar-nav</code> is added automatically when nested inside BSNavbar use <code>NoNavbarNav</code> to force remove it when not needed.</p>
        <h3>Base nav</h3>
        <div class="bd-example bd-example-row bd-example-row-flex-cols">
            <BlazorStrap_Docs.Samples.Components.Nav.Nav1/>
        </div>
        <div class="highlight">
            <CodeBlock Source="docs/Samples/Components/Nav/Nav1.md"/>
        </div>
        <p>Use <code>IsNav</code> to output as a non list</p>
        <div class="bd-example bd-example-row bd-example-row-flex-cols">
            <BlazorStrap_Docs.Samples.Components.Nav.Nav2/>
        </div>
        <div class="highlight">
            <CodeBlock Source="docs/Samples/Components/Nav/Nav2.md"/>
        </div>
        <h3>Horizontal alignment</h3>
        <div class="bd-example bd-example-row bd-example-row-flex-cols">
            <BlazorStrap_Docs.Samples.Components.Nav.Nav3/>
        </div>
        <div class="highlight">
            <CodeBlock Source="docs/Samples/Components/Nav/Nav3.md"/>
        </div>
        <div class="bd-example bd-example-row bd-example-row-flex-cols">
            <BlazorStrap_Docs.Samples.Components.Nav.Nav4/>
        </div>
        <div class="highlight">
            <CodeBlock Source="docs/Samples/Components/Nav/Nav4.md"/>
        </div>
        <h3>Vertical</h3>
        <div class="bd-example bd-example-row bd-example-row-flex-cols">
            <BlazorStrap_Docs.Samples.Components.Nav.Nav5/>
        </div>
        <div class="highlight">
            <CodeBlock Source="docs/Samples/Components/Nav/Nav5.md"/>
        </div>
        <h3>Tabs</h3>
        <div class="bd-example bd-example-row bd-example-row-flex-cols">
            <BlazorStrap_Docs.Samples.Components.Nav.Nav6/>
        </div>
        <div class="highlight">
            <CodeBlock Source="docs/Samples/Components/Nav/Nav6.md"/>
        </div>
        <h3>Tabs with content</h3>
        <div class="bd-example bd-example-row bd-example-row-flex-cols">
            <BlazorStrap_Docs.Samples.Components.Nav.Nav7/>
        </div>
        <div class="highlight">
            <CodeBlock Source="docs/Samples/Components/Nav/Nav7.md"/>
        </div>
        <h3>Pills</h3>
        <div class="bd-example bd-example-row bd-example-row-flex-cols">
            <BlazorStrap_Docs.Samples.Components.Nav.Nav8/>
        </div>
        <div class="highlight">
            <CodeBlock Source="docs/Samples/Components/Nav/Nav8.md"/>
        </div>
        <h3>Fill and justify</h3>
        <div class="bd-example bd-example-row bd-example-row-flex-cols">
            <BlazorStrap_Docs.Samples.Components.Nav.Nav9/>
        </div>
        <div class="highlight">
            <CodeBlock Source="docs/Samples/Components/Nav/Nav9.md"/>
        </div>
        <div class="bd-example bd-example-row bd-example-row-flex-cols">
            <BlazorStrap_Docs.Samples.Components.Nav.Nav10/>
        </div>
        <div class="highlight">
            <CodeBlock Source="docs/Samples/Components/Nav/Nav10.md"/>
        </div>
        <h3>Working with flex</h3>
        <div class="bd-example bd-example-row bd-example-row-flex-cols">
            <BlazorStrap_Docs.Samples.Components.Nav.Nav11/>
        </div>
        <div class="highlight">
            <CodeBlock Source="docs/Samples/Components/Nav/Nav11.md"/>
        </div>
        <h3>Tabs with dropdowns</h3>
        <div class="bd-example bd-example-row bd-example-row-flex-cols">
            <BlazorStrap_Docs.Samples.Components.Nav.Nav12/>
        </div>
        <div class="highlight">
            <CodeBlock Source="docs/Samples/Components/Nav/Nav11.md"/>
        </div>
        <h3>Pills with dropdowns</h3>
        <div class="bd-example bd-example-row bd-example-row-flex-cols">
            <BlazorStrap_Docs.Samples.Components.Nav.Nav13/>
        </div>
        <div class="highlight">
            <CodeBlock Source="docs/Samples/Components/Nav/Nav13.md"/>
        </div>
        <h3>Custom Submenus</h3>
        <div class="bd-example bd-example-row bd-example-row-flex-cols">
            <BlazorStrap_Docs.Samples.Components.Nav.Nav14/>
        </div>
        <div class="highlight">
            <CodeBlock Source="docs/Samples/Components/Nav/Nav14.md"/>
        </div>
    </div>
</BSContainer>