@page "/components/navbar"

<BSContainer Class="bd-main py-3" Size="Container.Fluid">
    <div class="bd-content">
        <h2>BSNavbar</h2>
        <h4>Component &lt;BSNavbar&gt;</h4>
        <BSTable>
            <BSTHead>
                <BSTR>
                    <BSTD>Parameter</BSTD>
                    <BSTD>Type</BSTD>
                    <BSTD>Valid</BSTD>
                    <BSTD>Output</BSTD>
                </BSTR>
            </BSTHead>
            <BSTBody>
                <BSTR>
                    <BSTD>Color</BSTD>
                    <BSTD>Enum</BSTD>
                    <BSTD>BSColor</BSTD>
                    <BSTD>.alert-#</BSTD>
                </BSTR>
                <BSTR>
                    <BSTD>Expand</BSTD>
                    <BSTD>Size</BSTD>
                    <BSTD>Size</BSTD>
                    <BSTD>.navbar-expand-#</BSTD>
                </BSTR>
                <BSTR>
                    <BSTD>IsDark</BSTD>
                    <BSTD>bool</BSTD>
                    <BSTD>true/false</BSTD>
                    <BSTD>.navbar-dark/.navbar-light</BSTD>
                </BSTR>
                <BSTR>
                    <BSTD>IsFixedBottom</BSTD>
                    <BSTD>bool</BSTD>
                    <BSTD>true/false</BSTD>
                    <BSTD>.fixed-bottom</BSTD>
                </BSTR>
                <BSTR>
                    <BSTD>IsFixedTop</BSTD>
                    <BSTD>bool</BSTD>
                    <BSTD>true/false</BSTD>
                    <BSTD>.fixed-top</BSTD>
                </BSTR>
                <BSTR>
                    <BSTD>IsHeader</BSTD>
                    <BSTD>bool</BSTD>
                    <BSTD>true/false</BSTD>
                    <BSTD>
                        <code>&lt;Header&gt;</code>
                    </BSTD>
                </BSTR>
                <BSTR>
                    <BSTD>IsStickyTop</BSTD>
                    <BSTD>bool</BSTD>
                    <BSTD>true/false</BSTD>
                    <BSTD>.sticky-top</BSTD>
                </BSTR>
                <BSTR>
                    <BSTD colspan="4">See shared for additonal parameters</BSTD>
                </BSTR>
            </BSTBody>
        </BSTable>
        <h3>Examples</h3>
        <div class="bd-example bd-example-row bd-example-row-flex-cols">
            <BlazorStrap_Docs.Samples.Components.Navbar.Navbar1/>
        </div>
        <div class="highlight">
            <CodeBlock Source="docs/Samples/Components/Navbar/Navbar1.md"/>
        </div>
        <h3>Brand</h3>
        <h4>Text</h4>
        <div class="bd-example bd-example-row bd-example-row-flex-cols">
            <BlazorStrap_Docs.Samples.Components.Navbar.Navbar2/>
        </div>
        <div class="highlight">
            <CodeBlock Source="docs/Samples/Components/Navbar/Navbar2.md"/>
        </div>
        <h4>Image</h4>
        <div class="bd-example bd-example-row bd-example-row-flex-cols">
            <BlazorStrap_Docs.Samples.Components.Navbar.Navbar3/>
        </div>
        <div class="highlight">
            <CodeBlock Source="docs/Samples/Components/Navbar/Navbar3.md"/>
        </div>
        <h4>Image and text</h4>
        <div class="bd-example bd-example-row bd-example-row-flex-cols">
            <BlazorStrap_Docs.Samples.Components.Navbar.Navbar4/>
        </div>
        <div class="highlight">
            <CodeBlock Source="docs/Samples/Components/Navbar/Navbar4.md"/>
        </div>
        <h4>Color schemes</h4>
        <p>Use <code>Color</code> and <code>IsDark</code> to change your color scheme. You can also pass in custom classes using <code>Class</code></p>
        <div class="bd-example bd-example-row bd-example-row-flex-cols">
            <BlazorStrap_Docs.Samples.Components.Navbar.Navbar5/>
        </div>
        <div class="highlight">
            <CodeBlock Source="docs/Samples/Components/Navbar/Navbar5.md"/>
        </div>
        <h4>Placement</h4>
        <div class="bd-example bd-example-row bd-example-row-flex-cols">
            <BlazorStrap_Docs.Samples.Components.Navbar.Navbar6/>
        </div>
        <div class="highlight">
            <CodeBlock Source="docs/Samples/Components/Navbar/Navbar6.md"/>
        </div>
        <div class="bd-example bd-example-row bd-example-row-flex-cols">
            <BlazorStrap_Docs.Samples.Components.Navbar.Navbar7/>
        </div>
        <div class="highlight">
            <CodeBlock Source="docs/Samples/Components/Navbar/Navbar7.md"/>
        </div>
        <div class="bd-example bd-example-row bd-example-row-flex-cols">
            <BlazorStrap_Docs.Samples.Components.Navbar.Navbar8/>
        </div>
        <div class="highlight">
            <CodeBlock Source="docs/Samples/Components/Navbar/Navbar8.md"/>
        </div>
        <h4>OffCanvas</h4>
        <div class="bd-example bd-example-row bd-example-row-flex-cols">
            <BlazorStrap_Docs.Samples.Components.Navbar.Navbar9/>
        </div>
        <div class="highlight">
            <CodeBlock Source="docs/Samples/Components/Navbar/Navbar9.md"/>
        </div>
    </div>
</BSContainer>