@page "/components/offcanvas"

<BSContainer Class="bd-main py-3" Size="Container.Fluid">
    <div class="bd-content">
        <h2>OffCanvas</h2>
        <h4>Component &lt;BSOffCanvas&gt;</h4>
        <BSTable>
            <BSTHead>
                <BSTR>
                    <BSTD>Parameter</BSTD>
                    <BSTD>Type</BSTD>
                    <BSTD>Valid</BSTD>
                    <BSTD>Output</BSTD>
                </BSTR>
            </BSTHead>
            <BSTBody>
                <BSTR>
                    <BSTD>AllowScroll</BSTD>
                    <BSTD>bool</BSTD>
                    <BSTD>true/false</BSTD>
                    <BSTD></BSTD>
                </BSTR>
                <BSTR>
                    <BSTD>BodyClass</BSTD>
                    <BSTD>Enum</BSTD>
                    <BSTD>BSColor</BSTD>
                    <BSTD>.alert-#</BSTD>
                </BSTR>
                <BSTR>
                    <BSTD>ButtonClass</BSTD>
                    <BSTD>int</BSTD>
                    <BSTD>1-6</BSTD>
                    <BSTD>h1-h6</BSTD>
                </BSTR>
                <BSTR>
                    <BSTD>Color</BSTD>
                    <BSTD>Enum</BSTD>
                    <BSTD>BSColor</BSTD>
                    <BSTD>.bg-#</BSTD>
                </BSTR>
                <BSTR>
                    <BSTD>DisableBackdropClick</BSTD>
                    <BSTD>bool</BSTD>
                    <BSTD>true/false</BSTD>
                    <BSTD></BSTD>
                </BSTR>
                <BSTR>
                    <BSTD>HeaderClass</BSTD>
                    <BSTD>bool</BSTD>
                    <BSTD>true/false</BSTD>
                    <BSTD>.d-flex .align-items-center</BSTD>
                </BSTR>
                <BSTR>
                    <BSTD>Placement</BSTD>
                    <BSTD>Enum</BSTD>
                    <BSTD>Placement</BSTD>
                    <BSTD>.offcanvas-#</BSTD>
                </BSTR>
                <BSTR>
                    <BSTD>ShowBackdrop</BSTD>
                    <BSTD>bool</BSTD>
                    <BSTD>true/false</BSTD>
                    <BSTD></BSTD>
                </BSTR>
                <BSTR>
                    <BSTD>Header</BSTD>
                    <BSTD>RenderFragment</BSTD>
                    <BSTD>RenderFragment</BSTD>
                    <BSTD>Nested Content</BSTD>
                </BSTR>
                <BSTR>
                    <BSTD>Content</BSTD>
                    <BSTD>RenderFragment</BSTD>
                    <BSTD>RenderFragment</BSTD>
                    <BSTD>Nested Content</BSTD>
                </BSTR>
                <BSTR>
                    <BSTD>OnClick</BSTD>
                    <BSTD>EventCallback</BSTD>
                    <BSTD>EventCallback</BSTD>
                    <BSTD>EventCallback</BSTD>
                </BSTR>
                <BSTR>
                    <BSTD colspan="4">See shared for additonal parameters</BSTD>
                </BSTR>
            </BSTBody>
        </BSTable>
        <h3>Examples</h3>
        <div class="bd-example bd-example-row bd-example-row-flex-cols">
            <BlazorStrap_Docs.Samples.Components.OffCanvas.OffCanvas1/>
        </div>
        <div class="highlight">
            <CodeBlock Source="docs/Samples/Components/OffCanvas/OffCanvas1.md"/>
        </div>
        <h3>Placement</h3>
        <div class="bd-example bd-example-row bd-example-row-flex-cols">
            <BlazorStrap_Docs.Samples.Components.OffCanvas.OffCanvas2/>
        </div>
        <div class="highlight">
            <CodeBlock Source="docs/Samples/Components/OffCanvas/OffCanvas2.md"/>
        </div>
        <div class="bd-example bd-example-row bd-example-row-flex-cols">
            <BlazorStrap_Docs.Samples.Components.OffCanvas.OffCanvas3/>
        </div>
        <div class="highlight">
            <CodeBlock Source="docs/Samples/Components/OffCanvas/OffCanvas3.md"/>
        </div>
        <div class="bd-example bd-example-row bd-example-row-flex-cols">
            <BlazorStrap_Docs.Samples.Components.OffCanvas.OffCanvas4/>
        </div>
        <div class="highlight">
            <CodeBlock Source="docs/Samples/Components/OffCanvas/OffCanvas4.md"/>
        </div>
        <h3>Backdrop</h3>
        <div class="bd-example bd-example-row bd-example-row-flex-cols">
            <BlazorStrap_Docs.Samples.Components.OffCanvas.OffCanvas5/>
        </div>
        <div class="highlight">
            <CodeBlock Source="docs/Samples/Components/OffCanvas/OffCanvas5.md"/>
        </div>
    </div>
</BSContainer>