@page "/components/toasts"

<div class="bd-callout bd-callout-info">
    <strong>Work inprogress</strong> Documentation is still being written for this component
</div>
<BSContainer>
    <h2>Toast</h2>
    <BSToast HeaderClass="bg-primary text-white" ButtonClass="btn-close-white">
        <Header><strong>BlazorStarp</strong></Header>
        <Content>Hello, world!</Content>
    </BSToast>
    <hr />
    <BSToast HeaderClass="bg-primary text-white" ButtonClass="btn-close-white">
        Test
    </BSToast>
</BSContainer>