@page "/components/tooltips"

<BSContainer Class="bd-main py-3" Size="Container.Fluid">
    <div class="bd-content">
        <h2>Tooltips</h2>
        <h4>Component &lt;BSTooltip&gt;</h4>
        <p><strong>*</strong> indicates required Parameters</p>
        <BSTable>
            <BSTHead>
                <BSTR>
                    <BSTD>Parameter</BSTD>
                    <BSTD>Type</BSTD>
                    <BSTD>Valid</BSTD>
                    <BSTD>Output/Result</BSTD>
                </BSTR>
            </BSTHead>
            <BSTBody>
                <BSTR>
                    <BSTD><strong>*</strong> Placement</BSTD>
                    <BSTD>Enum</BSTD>
                    <BSTD>Placement</BSTD>
                    <BSTD>.bs-tooltip-#</BSTD>
                </BSTR>
                <BSTR>
                    <BSTD colspan="4">See shared for additonal parameters</BSTD>
                </BSTR>
            </BSTBody>
        </BSTable>
        <h3 id="vertical-alignment">Examples</h3>
        <div class="bd-example bd-example-row bd-example-row-flex-cols">
            <BlazorStrap_Docs.Samples.Components.Tooltips.Tooltips1 />
        </div>
        <div class="highlight">
            <CodeBlock Source="docs/Samples/Components/Tooltips/Tooltips1.md" />
        </div>
    </div>
</BSContainer>