@inherits BootstrapComponentBase
@using  BlazorStrap.util

@if (IsOpen)
{
    <DynamicElement TagName="div" class="@classname" role="alert" Attributes="@UnknownParameters">
        @ChildContent
        @if (IsDismissible)
        {
            <button @onclick="@onclick" type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        }
    </DynamicElement>
}

@code {
    private string classname => $"alert alert-{Color.ToDescriptionString()} {Class}".RemoveUnneededSpaces();
    [Parameter] private Color Color { get; set; } = Color.Primary;
    [Parameter] private bool IsDismissible { get; set; }
    [Parameter] private string Class { get; set; }
    [Parameter] private RenderFragment ChildContent { get; set; }

    /// <summary>
    /// Gets or sets an action to be invoked when the alert is dismissed.
    /// </summary>
    [Parameter] private EventCallback OnDismiss { get; set; }

    private bool IsOpen { get; set; } = true;

    void onclick()
    {
        IsOpen = false;
        OnDismiss.InvokeAsync(EventCallback.Empty);
    }
}