@inherits BootstrapComponentBase
@if (IsOpen)
{
    <DynamicElement TagName="div" class="@classname" role="alert" Attributes="@UnknownParameters">
        @ChildContent
        @if (IsDismissible)
        {
            <button onclick="@onclick" type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        }
    </DynamicElement>
}

@functions {
    private string classname
    {
        get
        {
            return $"alert alert-{Color.ToDescriptionString()} {Class}";
        }
    }
    [Parameter] private Color Color { get; set; } = Color.Primary;
    [Parameter] private bool IsDismissible { get; set; }
    [Parameter] private string Class { get; set; }
    [Parameter] private RenderFragment ChildContent { get; set; }

    /// <summary>
    /// Gets or sets an action to be invoked when the alert is dismissed.
    /// </summary>
    [Parameter] private Action OnDismiss { get; set; }


    private bool IsOpen { get; set; } = true;

    void onclick()
    {
        IsOpen = false;
        OnDismiss?.Invoke();
        StateHasChanged();
    }
}