@if (IsOpen)
{
    <div class="@classname" style="@Style" role="alert">
        @ChildContent
        @if (IsDismissible)
        {
            <button onclick="@onclick" type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        }
    </div>
}

@functions {
    private string classname
    {
        get
        {
            return $"alert alert-{Color.ToDescriptionString()} {Class}";
        }
    }
    [Parameter]
    private Color Color { get; set; } = Color.Primary;
    [Parameter]
    private bool IsDismissible { get; set; }
    [Parameter]
    private string Class { get; set; }
    [Parameter]
    private string Style { get; set; }
    [Parameter]
    private RenderFragment ChildContent { get; set; }

    private bool IsOpen { get; set; } = true;

    void onclick()
    {
        IsOpen = false;
        StateHasChanged();
    }
}
