@inherits BootstrapComponentBase

@if (IsResponsive)
{
    <div class="table-responsive">
        <DynamicElement Attributes="@UnknownParameters" TagName="table" class="@classname">
            @ChildContent
        </DynamicElement>
    </div>
}
@if (!IsResponsive)
{
    <DynamicElement Attributes="@UnknownParameters" TagName="table" class="@classname">
        @ChildContent
    </DynamicElement>
}

@functions {
    string classname
    {
        get
        {
            var dark = IsDark ? "table-dark" : null;
            var striped = IsStriped ? "table-striped" : null;
            var bordered = IsBordered ? "table-bordered" : null;
            var borderless = IsBorderless ? "table-borderless" : null;
            var hovarable = IsHovarable ? "table-hover" : null;
            var small = IsSmall ? "table-sm" : null;
            return $"table {dark} {striped} {bordered} {borderless} {hovarable} {small} {Class}";
        }
    }
    [Parameter] private bool IsDark { get; set; }
    [Parameter] private bool IsStriped { get; set; }
    [Parameter] private bool IsBordered { get; set; }
    [Parameter] private bool IsBorderless { get; set; }
    [Parameter] private bool IsHovarable { get; set; }
    [Parameter] private bool IsSmall { get; set; }
    [Parameter] private bool IsResponsive { get; set; }
    [Parameter] private string Class { get; set; }
    [Parameter] private RenderFragment ChildContent { get; set; }
}
