@using Microsoft.AspNetCore.Blazor

<form class="@classname">@ChildContent</form>

@functions {
    string classname
    {
        get
        {
            var inline = IsInline ? "form-inline" : null;
            return $"{inline} {Class}";
        }
    }
    public bool IsInline { get; set; }
    public string Class { get; set; }
    public RenderFragment ChildContent { get; set; }
}
