@using Microsoft.AspNetCore.Blazor

@if (IsResponsive)
{
    <div class="table-responsive">
        <table class="@classname" style="@Style">
            @ChildContent
        </table>
    </div>
}
@if (!IsResponsive)
{
    <table class="@classname" style="@Style">
        @ChildContent
    </table>
}

@functions {
    string classname
    {
        get
        {
            var dark = IsDark ? "table-dark" : null;
            var striped = IsStriped ? "table-striped" : null;
            var bordered = IsBordered ? "table-bordered" : null;
            var borderless = IsBorderless ? "table-borderless" : null;
            var hovarable = IsHovarable ? "table-hover" : null;
            var small = IsSmall ? "table-sm" : null;
            return $"table {dark} {striped} {bordered} {borderless} {hovarable} {small} {Class}";
        }
    }
    public bool IsDark { get; set; }
    public bool IsStriped { get; set; }
    public bool IsBordered { get; set; }
    public bool IsBorderless { get; set; }
    public bool IsHovarable { get; set; }
    public bool IsSmall { get; set; }
    public bool IsResponsive { get; set; }
    public string Class { get; set; }
    public string Style { get; set; }
    public RenderFragment ChildContent { get; set; }
}
