@using Microsoft.AspNetCore.Blazor
@using BlazorStrap.util

@if (IsList)
{
    <ul class="@classname" style="@Style">
        @ChildContent
    </ul>
}
else
{
    <nav class="@classname" style="@Style">
        @ChildContent
    </nav>
}


@functions {
    private string classname
    {
        get
        {
            var vertical = IsVertical ? "flex-column" : null;
            var tabs = IsTabs ? "nav-tabs" : null;
            var pills = IsPills ? "nav-pills" : null;
            var fill = IsFill ? "nav-fill" : null;
            var navbar = IsNavbar ? "navbar-nav" : null;
            return $"nav {navbar} {tabs} {pills} {fill} {vertical} {GetAlignment()} {Class}";
        }
    }

    public bool IsList { get; set; }
    public Alignment Alignment { get; set; } = Alignment.None;
    public bool IsVertical { get; set; }
    public bool IsTabs { get; set; }
    public bool IsPills { get; set; }
    public bool IsFill { get; set; }
    public bool IsNavbar { get; set; }
    public string Class { get; set; }
    public string Style { get; set; }
    public RenderFragment ChildContent { get; set; }

    private string GetAlignment()
    {
        if (Alignment == Alignment.Center) return "justify-content-center";
        if (Alignment == Alignment.Right) return "justify-content-end";
        return null;
    }
}
