@inherits BootstrapComponentBase

@if (IsResponsive)
{
    <div class="table-responsive">
        <DynamicElement Attributes="@UnknownParameters" TagName="table" class="@classname">
            @ChildContent
        </DynamicElement>
    </div>
}
@if (!IsResponsive)
{
    <DynamicElement Attributes="@UnknownParameters" TagName="table" class="@classname">
        @ChildContent
    </DynamicElement>
}

@code {
    string classname =>
        new CssBuilder("table")
            .AddClass("table-dark", IsDark)
            .AddClass("table-striped", IsStriped)
            .AddClass("table-bordered", IsBordered)
            .AddClass("table-borderless", IsBorderless)
            .AddClass("table-hover", IsHovarable)
            .AddClass("table-sm", IsSmall)
            .AddClass(Class)
        .Build();

    [Parameter] private bool IsDark { get; set; }
    [Parameter] private bool IsStriped { get; set; }
    [Parameter] private bool IsBordered { get; set; }
    [Parameter] private bool IsBorderless { get; set; }
    [Parameter] private bool IsHovarable { get; set; }
    [Parameter] private bool IsSmall { get; set; }
    [Parameter] private bool IsResponsive { get; set; }
    [Parameter] private string Class { get; set; }
    [Parameter] private RenderFragment ChildContent { get; set; }
}
