@inherits BootstrapComponentBase

<nav aria-label="breadcrumb">
    <DynamicElement Attributes="@UnknownParameters" TagName="ol" class="@classname">
        @ChildContent
    </DynamicElement>
</nav>

@code {
    string classname => 
        new CssBuilder()
            .AddClass("breadcrumb")
            .AddClass(Class)
        .Build();
    
    [Parameter] private string Class { get; set; }
    [Parameter] private RenderFragment ChildContent { get; set; }
}
