@using Microsoft.AspNetCore.Blazor

<li class="@classname" style="@Style" aria-current="@aria">@ChildContent</li>


@functions {
    private string classname
    {
        get
        {
            var active = IsActive ? "breadcrumb-item active" : "breadcrumb-item";
            return $"{active} {Class}";
        }
    }
    private string aria
    {
        get
        {
            return IsActive ? "page" : null;
        }
    }
    [Parameter] private bool IsActive { get; set; }
    [Parameter] private string Class { get; set; }
    [Parameter] private string Style { get; set; }
    [Parameter] private RenderFragment ChildContent { get; set; }
}

