@using Microsoft.AspNetCore.Blazor

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        @ChildContent
    </ol>
</nav>


@functions {
    public RenderFragment ChildContent { get; set; }
}
