@using Microsoft.AspNetCore.Blazor

<li class="@classname" aria-current="@aria">@ChildContent</li>


@functions {
    private string classname
    {
        get
        {
            var active = IsActive ? "breadcrumb-item active" : "breadcrumb-item";
            return $"{active} {Class}";
        }
    }
    private string aria
    {
        get
        {
            return IsActive ? "page" : null;
        }
    }
    public bool IsActive { get; set; }
    public string Class { get; set; }
    public RenderFragment ChildContent { get; set; }
}

