@using Microsoft.AspNetCore.Blazor

<nav aria-label="breadcrumb">
    <ol class="@classname" style="@Style">
        @ChildContent
    </ol>
</nav>


@functions {
    string classname
    {
        get
        {
            return $"breadcrumb {Class}";
        }
    }
    public string Class { get; set; }
    public string Style { get; set; }
    public RenderFragment ChildContent { get; set; }
}
