@using Microsoft.AspNetCore.Blazor

<div class="btn-group btn-group-toggle" data-toggle="buttons">
    @ChildContent
</div>

@functions {
    string classname
    {
        get
        {
            return $"btn-group btn-group-toggle {Class}";
        }
    }
    public string Class { get; set; }
    public string Style { get; set; }
    public RenderFragment ChildContent { get; set; }
}
