@using Microsoft.AspNetCore.Blazor
@using BlazorStrap.util

<div class="@classname" style="@Style">
    @ChildContent
</div>

@functions {
    string classname
    {
        get
        {
            var toggle = IsToggle ? "btn-group-toggle" : null;
            var direction = DropdownDirection != DropdownDirection.Down ? DropdownDirection.ToDescriptionString() : null;
            return $"btn-group {toggle} {direction} {Class}";
        }
    }
    public bool IsToggle { get; set; }
    public DropdownDirection DropdownDirection { get; set; } = DropdownDirection.Down;
    public string Class { get; set; }
    public string Style { get; set; }
    public RenderFragment ChildContent { get; set; }
}
