@inherits BootstrapComponentBase

<DynamicElement Attributes="@UnknownParameters" TagName="div" class="@classname">
    @if (HeaderText != null)
    {
        <h5>@HeaderText</h5>
    }
    @if (CaptionText != null)
    {
        <p>@CaptionText</p>
    }
</DynamicElement>

@code {
    private string classname => 
        new CssBuilder("carousel-caption d-none d-md-block")
            .AddClass(Class)
        .Build();
    
    [Parameter] private string Class { get; set; }
    [Parameter] private string CaptionText { get; set; }
    [Parameter] private string HeaderText { get; set; }
}