@using Microsoft.AspNetCore.Blazor

<div class="@classname" style="@Style">
    <img class="d-block w-100" src="@src" alt="@alt">
</div>

@functions {
    private string classname
    {
        get
        {
            var active = IsActive ? "active" : null;
            return $"carousel-item {active} {Class}";
        }
    }
    public string src { get; set; }
    public string alt { get; set; }
    public bool IsActive { get; set; }
    public string Class { get; set; }
    public string Style { get; set; }
    public RenderFragment ChildContent { get; set; }
}