@using Microsoft.AspNetCore.Blazor

<div class="@classname" style="@Style">
    <img class="d-block w-100" src="@src" alt="@alt">
</div>

@functions {
    private string classname
    {
        get
        {
            var active = IsActive ? "active" : null;
            return $"carousel-item {active} {Class}";
        }
    }
    [Parameter] private string src { get; set; }
    [Parameter] private string alt { get; set; }
    [Parameter] private bool IsActive { get; set; }
    [Parameter] private string Class { get; set; }
    [Parameter] private string Style { get; set; }
    [Parameter] private RenderFragment ChildContent { get; set; }
}