@using Microsoft.AspNetCore.Blazor
@inherits ColumnBase

<div class="@className">
    @ChildContent
</div>

@functions {
    private string className
    {
        get
        {
            return $"{GetColumnClass()} {Class}";
        }
    }
    public string Class { get; set; }
    public RenderFragment ChildContent { get; set; }
}