@using Microsoft.AspNetCore.Blazor
@using BlazorStrap.util

<div class="@classname" style="@Style">
    @ChildContent
</div>

@functions {
    private string classname
    {
        get
        {
            var open = IsOpen ? "show" : null;
            var navbar = IsNavbar ? "navbar-collapse" : null;
            return $"collapse {navbar} {open} {Class}";
        }
    }

    [Parameter] private bool IsOpen { get; set; }
    [Parameter] private bool IsNavbar { get; set; }
    [Parameter] private string Class { get; set; }
    [Parameter] private string Style { get; set; }
    [Parameter] private RenderFragment ChildContent { get; set; }
}