@using Microsoft.AspNetCore.Blazor

<div class="@className">
    @ChildContent
</div>

@functions {
    private string className
    {
        get
        {
            var fluid = IsFluid ? "container-fluid" : "container";
            return $"{fluid} {Class}";
        }
    }

    public bool IsFluid { get; set; }
    public string Class { get; set; }
    public RenderFragment ChildContent { get; set; }
}