@using Microsoft.AspNetCore.Blazor

<div class="@classname" style="@Style">
    @ChildContent
</div>

@functions {
    private string classname
    {
        get
        {
            var fluid = IsFluid ? "container-fluid" : "container";
            return $"{fluid} {Class}";
        }
    }

    public bool IsFluid { get; set; }
    public string Class { get; set; }
    public string Style { get; set; }
    public RenderFragment ChildContent { get; set; }
}