@using Microsoft.AspNetCore.Blazor
@using BlazorStrap.util

<div class="@classname" style="@Style">
     @ChildContent
</div>

@functions {
    string classname
    {
        get
        {
            return $"dropdown-menu {Class}";
        }
    }
    public string Class { get; set; }
    public string Style { get; set; }
    public RenderFragment ChildContent { get; set; }
}
