@using Microsoft.AspNetCore.Blazor

<button class="@classname" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    @ChildContent
</button>

@functions {
    string classname
    {
        get
        {
            return $"btn btn-secondary dropdown-toggle {Class}";
        }
    }
    public string Class { get; set; }
    public RenderFragment ChildContent { get; set; }
}
