@using Microsoft.AspNetCore.Blazor

<h6 class="@classname" style="@Style">
    @ChildContent
</h6>

@functions {
    string classname
    {
        get
        {
            return $"dropdown-header {Class}";
        }
    }
    [Parameter] private string Class { get; set; }
    [Parameter] private string Style { get; set; }
    [Parameter] private RenderFragment ChildContent { get; set; }
}