@using Microsoft.AspNetCore.Blazor

<div class="@classname" style="@Style">
    @ChildContent
</div>

@functions {
    string classname
    {
        get
        {
            var open = IsOpen ? "show" : null;
            var baseclass = IsGroup ? "btn-group" : "dropdown";
            return $"{baseclass} {open} {Class}";
        }
    }
    public bool IsOpen { get; set; }
    public bool IsGroup { get; set; }
    public string Class { get; set; }
    public string Style { get; set; }
    public RenderFragment ChildContent { get; set; }
}
