@using Microsoft.AspNetCore.Blazor
@using BlazorStrap.util

<a class="@classname" style="@Style" href="@Href">
   @ChildContent
</a>

@functions {
    string classname
    {
        get
        {
            return $"dropdown-item {Class}";
        }
    }
    public string Href { get; set; }
    public string Class { get; set; }
    public string Style { get; set; }
    public RenderFragment ChildContent { get; set; }
}