@using Microsoft.AspNetCore.Blazor

<label class="@classname" style="@Style" for="@For">@ChildContent</label>

@functions {
    string classname
    {
        get
        {
            return Class;
        }
    }
    [Parameter] private string For { get; set; }
    [Parameter] private string Class { get; set; }
    [Parameter] private string Style { get; set; }
    [Parameter] private RenderFragment ChildContent { get; set; }
}