@using Microsoft.AspNetCore.Blazor

<div class="@classname">@ChildContent</div>

@functions {
    string classname
    {
        get
        {
            var check = IsCheck ? "form-check" : "form-group";
            var row = IsRow ? "row" : null;
            return $"{check} {row} {Class}";
        }
    }
    public bool IsRow { get; set; }
    public bool IsCheck { get; set; }
    public string Class { get; set; }
    public RenderFragment ChildContent { get; set; }
}