@using Microsoft.AspNetCore.Blazor

<div class="@classname" style="@Style">@ChildContent</div>

@functions {
    string classname
    {
        get
        {
            var check = IsCheck ? "form-check" : "form-group";
            var row = IsRow ? "row" : null;
            return $"{check} {row} {Class}";
        }
    }
    [Parameter] private bool IsRow { get; set; }
    [Parameter] private bool IsCheck { get; set; }
    [Parameter] private string Class { get; set; }
    [Parameter] private string Style { get; set; }
    [Parameter] private RenderFragment ChildContent { get; set; }
}