@using Microsoft.AspNetCore.Blazor

<label class="@classname" for="@For">@ChildContent</label>

@functions {
    string classname
    {
        get
        {
            return Class;
        }
    }
    public string For { get; set; }
    public string Class { get; set; }
    public RenderFragment ChildContent { get; set; }
}