@using Microsoft.AspNetCore.Blazor

<div class="@classname" style="@Style">
    @ChildContent
</div>

@functions {
    private string classname {
        get {
            var fluid = IsFluid ? "jumbotron jumbotron-fluid" : "jumbotron";
            return $"{fluid} {Class}";
        }
    }
    [Parameter] private bool IsFluid { get; set; }
    [Parameter] private string Class { get; set; }
    [Parameter] private string Style { get; set; }
    [Parameter] private RenderFragment ChildContent { get; set; }
}
