@using Microsoft.AspNetCore.Blazor

@if (ListGroupType == ListGroupType.List)
{
    <ul class="@classname" style="@Style">
        @ChildContent
    </ul>
}
@if (ListGroupType == ListGroupType.Button || ListGroupType == ListGroupType.Link)
{
    <div class="@classname" style="@Style">
        @ChildContent
    </div>
}

@functions {
    string classname
    {
        get
        {
            var flush = IsFlush ? "list-group list-group-flush" : "list-group";
            return $"{flush} {Class}";
        }
    }
    [Parameter] private ListGroupType ListGroupType { get; set; } = ListGroupType.List;
    [Parameter] private bool IsFlush { get; set; }
    [Parameter] private string Class { get; set; }
    [Parameter] private string Style { get; set; }
    [Parameter] private RenderFragment ChildContent { get; set; }
}
