@using Microsoft.AspNetCore.Blazor

@if (ListGroupType == ListGroupType.List)
{
    <ul class="@classname">
        @ChildContent
    </ul>
}
@if (ListGroupType == ListGroupType.Button || ListGroupType == ListGroupType.Link)
{
    <div class="@classname">
        @ChildContent
    </div>
}

@functions {
    public string classname
    {
        get
        {
            var flush = IsFlush ? "list-group list-group-flush" : "list-group";
            return $"{flush} {Class}";
        }
    }
    public ListGroupType ListGroupType { get; set; } = ListGroupType.List;
    public bool IsFlush { get; set; }
    public string Class { get; set; }
    public RenderFragment ChildContent { get; set; }
}
