@using Microsoft.AspNetCore.Blazor

<div class="@classname">
    @ChildContent
</div>

@functions {
public string classname
{
    get
    {
        return "d-flex w-100 justify-content-between";
    }
}
public RenderFragment ChildContent { get; set; }
}