@inherits BootstrapComponentBase

<DynamicElement Attributes="@UnknownParameters" TagName="div" class="modal-header">
    <h5 class="@classname">@ChildContent</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="@OnClick">
        <span aria-hidden="true">&times;</span>
    </button>
</DynamicElement>

@functions {
    string classname
    {
        get
        {
            return $"modal-title {Class}";
        }
    }
    [Parameter] private Action<UIMouseEventArgs> OnClick { get; set; }
    [Parameter] private string Class { get; set; }
    [Parameter] private RenderFragment ChildContent { get; set; }
}