@using Microsoft.AspNetCore.Blazor
@using BlazorStrap.util

<a href="@Href" class="@classname" style="@Style">
    @ChildContent
</a>

@functions {
    private string classname
    {
        get
        {
            return $"navbar-brand {Class}";
        }
    }

    public string Href { get; set; }
    public string Class { get; set; }
    public string Style { get; set; }
    public RenderFragment ChildContent { get; set; }
}