@inherits BootstrapComponentBase

<DynamicElement Attributes="@UnknownParameters" TagName="button" class="@classname" aria-label="Toggle navigation" onclick="@onclick">
    <span class="navbar-toggler-icon"></span>
</DynamicElement>

@functions {
    private string classname
    {
        get
        {
            return $"navbar-toggler {Class}";
        }
    }

    [Parameter] private Action<UIMouseEventArgs> onclick { get; set; }
    [Parameter] private string Class { get; set; }
}