@using Microsoft.AspNetCore.Blazor
@using BlazorStrap.util

<a href="@Href" class="@classname" style="@Style">
    @ChildContent
</a>

@functions {
    private string classname
    {
        get
        {
            return $"navbar-brand {Class}";
        }
    }

    [Parameter] private string Href { get; set; }
    [Parameter] private string Class { get; set; }
    [Parameter] private string Style { get; set; }
    [Parameter] private RenderFragment ChildContent { get; set; }
}