@using Microsoft.AspNetCore.Blazor

<li class="@classname" style="@Style">
    @ChildContent
</li>

@functions {
    private string classname
    {
        get
        {
            var dropdown = IsDropdown ? "dropdown" : null;
            return $"nav-item {dropdown} {Class}";
        }
    }
    [Parameter] private bool IsDropdown { get; set; }
    [Parameter] private string Class { get; set; }
    [Parameter] private string Style { get; set; }
    [Parameter] private RenderFragment ChildContent { get; set; }
}
