@using Microsoft.AspNetCore.Blazor
@using BlazorStrap.util

@if (IsOpen)
{
    <div id="@Id" class="@classname" style="@Style">
        @ChildContent
    </div>
}

@functions {
    private string classname
    {
        get
        {
            var open = IsOpen ? "show" : null;
            return $"popover {open} {Class}";
        }
    }
    [Parameter] private bool IsOpen { get; set; }
    private string Id
    {
        get
        {
            return Target + "-popover"; //TODO: Change this to use ref
        }
    }
    protected override void OnAfterRender()
    {
        if (IsOpen)
        {
            BlazorStrapInterop.Popper(Target, Id, "top");
        }
    }
    [Parameter] private string Target { get; set; }
    [Parameter] private string Class { get; set; }
    [Parameter] private string Style { get; set; }
    [Parameter] private RenderFragment ChildContent { get; set; }
}