@using Microsoft.AspNetCore.Blazor

<h3 class="@classname" style="@Style">
    @ChildContent
</h3>


@functions {
    private string classname
    {
        get
        {
            return $"popover-header {Class}";
        }
    }

    [Parameter] private string Class { get; set; }
    [Parameter] private string Style { get; set; }
    [Parameter] private RenderFragment ChildContent { get; set; }
}