@using Microsoft.AspNetCore.Blazor
@using BlazorStrap.util

@if (IsOpen)
{
<div ref="popper" id="@Id" class="@classname" style="@Style" role="tooltip" x-placement="top">
    <div ref="arrow" class="arrow" x-arrow></div>
    @ChildContent
</div>
}

@functions {
    private ElementRef popper;
    private ElementRef arrow;
    private string classname
    {
        get
        {
            var open = IsOpen ? "show" : null;
            return $"popover {open} {Class}";
        }
    }
    [Parameter] private bool IsOpen { get; set; }
    private string Id
    {
        get
        {
            return Target + "-popover"; //TODO: Change this to use ref
        }
    }
    protected override void OnAfterRender()
    {
        if (IsOpen)
        {
            BlazorStrapInterop.Popper(Target, popper, arrow, "top");
        }
    }
    [Parameter] private string Target { get; set; }
    [Parameter] private string Class { get; set; }
    [Parameter] private string Style { get; set; }
    [Parameter] private RenderFragment ChildContent { get; set; }
}