@using Microsoft.AspNetCore.Blazor

<div class="@classname" style="@Style">
    @ChildContent
</div>

@functions {
    private string classname
    {
        get
        {
            var gutters = NoGutters ? "row no-gutters" : "row";
            return $"{gutters} {Class}";
        }
    }

    [Parameter] private bool NoGutters { get; set; }
    [Parameter] private string Class { get; set; }
    [Parameter] private string Style { get; set; }
    [Parameter] private RenderFragment ChildContent { get; set; }
}