@using Microsoft.AspNetCore.Blazor
@using BlazorStrap.util

<td class="@classname" style="@Style" colspan="@colspan">
    @ChildContent
</td>

@functions {
    string classname
    {
        get
        {
            var color = Color != Color.None ? $"table-{Color.ToDescriptionString()}" : null;
            return $"{color} {Class}";
        }
    }
    [Parameter] private Color Color { get; set; } = Color.None;
    [Parameter] private int ColSpan { get; set; }
    string colspan
    {
        get
        {
            if (ColSpan == 0) return null;
            return ColSpan.ToString();
        }
    }
    [Parameter] private string Class { get; set; }
    [Parameter] private string Style { get; set; }
    [Parameter] private RenderFragment ChildContent { get; set; }
}