@inherits BootstrapComponentBase

<DynamicElement TagName="div" class="@classname" role="alert" aria-live="assertive" aria-atomic="true" Attributes="@UnknownParameters">

    <div class="toast-header">
        @ToastHeader
        <button @onclick="@onclick" type="button" class="close ml-auto" data-dismiss="toast" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="toast-body">
        @ToastBody
    </div>
</DynamicElement>

@code {
    private string classname
    {
        get
        {
            return $"toast fade {visible} {Class}";
        }
    }
    private string visible
    {
        get
        {
            return IsVisible && !IsDismissed ? "show" : "hide";
        }
    }

    [Parameter] private string Class { get; set; }
    [Parameter] private bool IsVisible { get; set; }
    [Parameter] private RenderFragment ToastHeader { get; set; }
    [Parameter] private RenderFragment ToastBody { get; set; }

    /// <summary>
    /// Gets or sets an action to be invoked when the alert is dismissed.
    ///
    ///</summary>
    [Parameter] private EventCallback OnDismiss { get; set; }

    private bool IsDismissed { get; set; } = false;

    async Task onclick()
    {
        IsDismissed = true;
        await OnDismiss.InvokeAsync(null);
        StateHasChanged();
    }
}