@page "/components/alerts"

<BSContainer Class="bd-main py-3" Size="Container.Fluid">
    <div class="bd-content">
        <h2>Alerts</h2>
        <h4>Component &lt;BSAlerts&gt;</h4>
        <BSTable>
            <BSTHead>
                <BSTR>
                    <BSTD>Parameter</BSTD>
                    <BSTD>Type</BSTD>
                    <BSTD>Valid</BSTD>
                    <BSTD>Output</BSTD>
                </BSTR>
            </BSTHead>
            <BSTBody>
                <BSTR>
                    <BSTD>Color</BSTD>
                    <BSTD>Enum</BSTD>
                    <BSTD>BSColor</BSTD>
                    <BSTD>.alert-#</BSTD>
                </BSTR>
                <BSTR>
                    <BSTD>HasIcon</BSTD>
                    <BSTD>bool</BSTD>
                    <BSTD>true/false</BSTD>
                    <BSTD>.d-flex .align-items-center</BSTD>
                </BSTR>
                <BSTR>
                    <BSTD>Heading</BSTD>
                    <BSTD>int</BSTD>
                    <BSTD>1-6</BSTD>
                    <BSTD>h1-h6</BSTD>
                </BSTR>
                <BSTR>
                    <BSTD>IsDismissable</BSTD>
                    <BSTD>bool</BSTD>
                    <BSTD>true/false</BSTD>
                    <BSTD>.alert-dismissible</BSTD>
                </BSTR>
                <BSTR>
                    <BSTD>Header</BSTD>
                    <BSTD>RenderFragment</BSTD>
                    <BSTD>RenderFragment</BSTD>
                    <BSTD>Nested Content</BSTD>
                </BSTR>
                <BSTR>
                    <BSTD>Content</BSTD>
                    <BSTD>RenderFragment</BSTD>
                    <BSTD>RenderFragment</BSTD>
                    <BSTD>Nested Content</BSTD>
                </BSTR>
                <BSTR>
                    <BSTD colspan="4">See shared for additonal parameters</BSTD>
                </BSTR>
            </BSTBody>
        </BSTable>
        <h3 id="vertical-alignment">Examples</h3>
        <div class="bd-example bd-example-row bd-example-row-flex-cols">
            <BlazorStrap_Docs.Samples.Components.Alerts.Alerts1 />
        </div>
        <div class="highlight">
            <CodeBlock Source="docs/Samples/Components/Alerts/Alerts1.md" />
        </div>
        <h3 id="vertical-alignment">Live Example</h3>
        <div class="bd-example bd-example-row bd-example-row-flex-cols">
            <BlazorStrap_Docs.Samples.Components.Alerts.Alerts2 />
        </div>
        <div class="highlight">
            <CodeBlock Source="docs/Samples/Components/Alerts/Alerts2.md" />
        </div>
        <h3 id="vertical-alignment">Links</h3>
        <div class="bd-example bd-example-row bd-example-row-flex-cols">
            <BlazorStrap_Docs.Samples.Components.Alerts.Alerts3 />
        </div>
        <div class="highlight">
            <CodeBlock Source="docs/Samples/Components/Alerts/Alerts3.md" />
        </div>
        <h3 id="vertical-alignment">Heading</h3>
        <div class="bd-example bd-example-row bd-example-row-flex-cols">
            <BlazorStrap_Docs.Samples.Components.Alerts.Alerts4 />
        </div>
        <div class="highlight">
            <CodeBlock Source="docs/Samples/Components/Alerts/Alerts4.md" />
        </div>
        <h3 id="vertical-alignment">Icons</h3>
        <p>Renders alert icons inside <code>BlazorStrap.Icons.AlertIcons</code> dictionary. This is a public dictionary you can add to it or change it's values. Included icons are success, info, warning, danger</p>
        <div class="bd-example bd-example-row bd-example-row-flex-cols">
            <BlazorStrap_Docs.Samples.Components.Alerts.Alerts5 />
        </div>
        <div class="highlight">
            <CodeBlock Source="docs/Samples/Components/Alerts/Alerts5.md" />
        </div>
        <h3 id="vertical-alignment">Dismissing</h3>
        <p>Dismissing alerts in BlazorStrap triggers the Dismissed event callback. Additionally the component is not distroyed however will no longer render.</p>
        <div class="bd-example bd-example-row bd-example-row-flex-cols">
            <BlazorStrap_Docs.Samples.Components.Alerts.Alerts6 />
        </div>
        <div class="highlight">
            <CodeBlock Source="docs/Samples/Components/Alerts/Alerts6.md" />
        </div>
    </div>
</BSContainer>