@page "/components/carousel"

<BSContainer Class="bd-main py-3" Size="Container.Fluid">
    <div class="bd-content">
        <h2>Carousel</h2>
        <h4>Component &lt;BSCarousel&gt;</h4>
        <BSTable>
            <BSTHead>
                <BSTR>
                    <BSTD>Parameter</BSTD>
                    <BSTD>Type</BSTD>
                    <BSTD>Valid</BSTD>
                    <BSTD>Output</BSTD>
                </BSTR>
            </BSTHead>
            <BSTBody>
                <BSTR>
                    <BSTD>HasIndicators</BSTD>
                    <BSTD>bool</BSTD>
                    <BSTD>true/false</BSTD>
                    <BSTD></BSTD>
                </BSTR>
                <BSTR>
                    <BSTD>IsDark</BSTD>
                    <BSTD>bool</BSTD>
                    <BSTD>true/false</BSTD>
                    <BSTD>carousel-dark</BSTD>
                </BSTR>
                <BSTR>
                    <BSTD>IsFade</BSTD>
                    <BSTD>bool</BSTD>
                    <BSTD>true/false</BSTD>
                    <BSTD>carousel-fade</BSTD>
                </BSTR>
                <BSTR>
                    <BSTD>IsSlide</BSTD>
                    <BSTD>bool</BSTD>
                    <BSTD>true/false</BSTD>
                    <BSTD>Default true .slide</BSTD>
                </BSTR>
                <BSTR>
                    <BSTD colspan="4">See shared for additonal parameters</BSTD>
                </BSTR>
            </BSTBody>
        </BSTable>
        <h4>Component &lt;BSCarouselItem&gt;</h4>
        <BSTable>
            <BSTHead>
                <BSTR>
                    <BSTD>Parameter</BSTD>
                    <BSTD>Type</BSTD>
                    <BSTD>Valid</BSTD>
                    <BSTD>Output</BSTD>
                </BSTR>
            </BSTHead>
            <BSTBody>
                <BSTR>
                    <BSTD>Interval</BSTD>
                    <BSTD>int</BSTD>
                    <BSTD>> 1000 or 0</BSTD>
                    <BSTD></BSTD>
                </BSTR>
                <BSTR>
                    <BSTD colspan="4">See shared for additonal parameters</BSTD>
                </BSTR>
            </BSTBody>
        </BSTable>
        <h4>Component &lt;BSCarouselCaption&gt;</h4>
        <BSTable>
            <BSTBody>
                <BSTR>
                    <BSTD>See shared for additonal parameters</BSTD>
                </BSTR>
            </BSTBody>
        </BSTable>
        <h3 id="vertical-alignment">Slides only</h3>
        <div class="bd-example bd-example-row bd-example-row-flex-cols">
            <BlazorStrap_Docs.Samples.Components.Carousel.Carousel1/>
        </div>
        <div class="highlight">
            <CodeBlock Source="docs/Samples/Components/Carousel/Carousel1.md"/>
        </div>
        <h3 id="vertical-alignment">With controls</h3>
        <div class="bd-example bd-example-row bd-example-row-flex-cols">
            <BlazorStrap_Docs.Samples.Components.Carousel.Carousel2/>
        </div>
        <div class="highlight">
            <CodeBlock Source="docs/Samples/Components/Carousel/Carousel2.md"/>
        </div>
        <h3 id="vertical-alignment">With indicators</h3>
        <div class="bd-example bd-example-row bd-example-row-flex-cols">
            <BlazorStrap_Docs.Samples.Components.Carousel.Carousel3/>
        </div>
        <div class="highlight">
            <CodeBlock Source="docs/Samples/Components/Carousel/Carousel3.md"/>
        </div>
        <h3 id="vertical-alignment">With captions</h3>
        <div class="bd-example bd-example-row bd-example-row-flex-cols">
            <BlazorStrap_Docs.Samples.Components.Carousel.Carousel4/>
        </div>
        <div class="highlight">
            <CodeBlock Source="docs/Samples/Components/Carousel/Carousel4.md"/>
        </div>
        <h3 id="vertical-alignment">Crossfade</h3>
        <div class="bd-example bd-example-row bd-example-row-flex-cols">
            <BlazorStrap_Docs.Samples.Components.Carousel.Carousel5/>
        </div>
        <div class="highlight">
            <CodeBlock Source="docs/Samples/Components/Carousel/Carousel5.md"/>
        </div>
        <h3 id="vertical-alignment">Individual interval</h3>
        <div class="bd-example bd-example-row bd-example-row-flex-cols">
            <BlazorStrap_Docs.Samples.Components.Carousel.Carousel6/>
        </div>
        <div class="highlight">
            <CodeBlock Source="docs/Samples/Components/Carousel/Carousel6.md"/>
        </div>
        <h3 id="vertical-alignment">Dark variant</h3>
        <div class="bd-example bd-example-row bd-example-row-flex-cols">
            <BlazorStrap_Docs.Samples.Components.Carousel.Carousel8/>
        </div>
        <div class="highlight">
            <CodeBlock Source="docs/Samples/Components/Carousel/Carousel8.md"/>
        </div>
    </div>
</BSContainer>