@page "/components/dropdowns"

<BSContainer Class="bd-main py-3" Size="Container.Fluid">
    <div class="bd-content">
    <h2>Dropdowns</h2>
    <h4>Component &lt;BSDropdown&gt;</h4>
    <BSTable>
        <BSTHead>
            <BSTR>
                <BSTD>Parameter</BSTD>
                <BSTD>Type</BSTD>
                <BSTD>Valid</BSTD>
                <BSTD>Output</BSTD>
            </BSTR>
        </BSTHead>
        <BSTBody>
            <BSTR>
                <BSTD>IsDisabled</BSTD>
                <BSTD>bool</BSTD>
                <BSTD>true/false</BSTD>
                <BSTD>disabled</BSTD>
            </BSTR>
            <BSTR>
                <BSTD>IsWhite</BSTD>
                <BSTD>bool</BSTD>
                <BSTD>true/false</BSTD>
                <BSTD>.btn-close-white</BSTD>
            </BSTR>
            <BSTR>
                <BSTD>OnClick</BSTD>
                <BSTD>EventCallback</BSTD>
                <BSTD>MouseEventArgs</BSTD>
                <BSTD></BSTD>
            </BSTR>
            <BSTR>
                <BSTD colspan="4">See shared for additonal parameters</BSTD>
            </BSTR>
        </BSTBody>
    </BSTable>
    <h3>Examples</h3>
    <h4>Single button</h4>
    <div class="bd-example">
        <BlazorStrap_Docs.Samples.Components.Dropdowns.Dropdowns1/>
    </div>
    <div class="highlight">
        <CodeBlock Source="docs/Samples/Components/Dropdowns/Dropdowns1.md"/>
    </div>
    <div class="bd-example">
        <BlazorStrap_Docs.Samples.Components.Dropdowns.Dropdowns2/>
    </div>
    <div class="highlight">
        <CodeBlock Source="docs/Samples/Components/Dropdowns/Dropdowns2.md"/>
    </div>
    <div class="bd-example">
        <BlazorStrap_Docs.Samples.Components.Dropdowns.Dropdowns3/>
    </div>
    <div class="highlight">
        <CodeBlock Source="docs/Samples/Components/Dropdowns/Dropdowns3.md"/>
    </div>
    <h4>Split button</h4>
    <div class="bd-example">
        <BlazorStrap_Docs.Samples.Components.Dropdowns.Dropdowns4/>
    </div>
    <div class="highlight">
        <CodeBlock Source="docs/Samples/Components/Dropdowns/Dropdowns4.md"/>
    </div>
    <h4>Sizing</h4>
    <p>Button dropdowns work with buttons of all sizes, including default and split dropdown buttons.</p>
    <div class="bd-example">
        <BlazorStrap_Docs.Samples.Components.Dropdowns.Dropdowns5/>
    </div>
    <div class="highlight">
        <CodeBlock Source="docs/Samples/Components/Dropdowns/Dropdowns5.md"/>
    </div>
    <div class="bd-example">
        <BlazorStrap_Docs.Samples.Components.Dropdowns.Dropdowns6/>
    </div>
    <div class="highlight">
        <CodeBlock Source="docs/Samples/Components/Dropdowns/Dropdowns6.md"/>
    </div>
    <h4>Dark dropdowns</h4>
    <div class="bd-example">
        <BlazorStrap_Docs.Samples.Components.Dropdowns.Dropdowns7/>
    </div>
    <div class="highlight">
        <CodeBlock Source="docs/Samples/Components/Dropdowns/Dropdowns7.md"/>
    </div>
    <p>And putting it to use in a navbar:</p>
    <div class="bd-example">
        <BlazorStrap_Docs.Samples.Components.Dropdowns.Dropdowns8/>
    </div>
    <div class="highlight">
        <CodeBlock Source="docs/Samples/Components/Dropdowns/Dropdowns8.md"/>
    </div>
    <h4>Directions</h4>
    <h4>Dropup</h4>
    <div class="bd-example">
        <BlazorStrap_Docs.Samples.Components.Dropdowns.Dropdowns9/>
    </div>
    <div class="highlight">
        <CodeBlock Source="docs/Samples/Components/Dropdowns/Dropdowns9.md"/>
    </div>
    <h4>Dropright</h4>
    <div class="bd-example">
        <BlazorStrap_Docs.Samples.Components.Dropdowns.Dropdowns10/>
    </div>
    <div class="highlight">
        <CodeBlock Source="docs/Samples/Components/Dropdowns/Dropdowns10.md"/>
    </div>
    <h4>Dropleft</h4>
    <div class="bd-example">
        <BlazorStrap_Docs.Samples.Components.Dropdowns.Dropdowns11/>
    </div>
    <div class="highlight">
        <CodeBlock Source="docs/Samples/Components/Dropdowns/Dropdowns11.md"/>
    </div>
    <h4>Menu items</h4>
    <p>Default type of menu items are <code>&lt;a&gt;</code>You can use <code>IsButton</code> to return a <code>&lt;button&gt;</code></p>
    <div class="bd-example">
        <BlazorStrap_Docs.Samples.Components.Dropdowns.Dropdowns12/>
    </div>
    <div class="highlight">
        <CodeBlock Source="docs/Samples/Components/Dropdowns/Dropdowns12.md"/>
    </div>
    <p>You can also create non-interactive dropdown items with <code>IsText</code>. Forced open for demo.</p>
    <div class="bd-example">
        <BlazorStrap_Docs.Samples.Components.Dropdowns.Dropdowns13/>
    </div>
    <div class="highlight">
        <CodeBlock Source="docs/Samples/Components/Dropdowns/Dropdowns13.md"/>
    </div>
    <h4>Active</h4>
    <p>Add <code>IsActive</code> to items in the dropdown to style them as active.</p>
    <div class="bd-example">
        <BlazorStrap_Docs.Samples.Components.Dropdowns.Dropdowns14/>
    </div>
    <div class="highlight">
        <CodeBlock Source="docs/Samples/Components/Dropdowns/Dropdowns14.md"/>
    </div>
    <h4>Disabled</h4>
    <p>Add <code>IsDisabled</code> to items in the dropdown to style them as disabled.</p>
    <div class="bd-example">
        <BlazorStrap_Docs.Samples.Components.Dropdowns.Dropdowns15/>
    </div>
    <div class="highlight">
        <CodeBlock Source="docs/Samples/Components/Dropdowns/Dropdowns15.md"/>
    </div>
    <h4>Menu alignment</h4>
    <p>Dropdowns in <code>&lt;BSButtonGroup&gt;</code> are treated as popovers and can be aligned using <code>DropdownPlacement</code></p>
    <div class="bd-example">
        <BlazorStrap_Docs.Samples.Components.Dropdowns.Dropdowns16/>
    </div>
    <div class="highlight">
        <CodeBlock Source="docs/Samples/Components/Dropdowns/Dropdowns16.md"/>
    </div>
    <h4>Responsive alignment</h4>
    <p>If you want to use responsive alignment, disable dynamic positioning by adding the <code>IsStatic</code> attribute and use the responsive variation classes.</p>
    <p>To align right the dropdown menu with the given breakpoint or larger, add .dropdown-menu{-sm|-md|-lg|-xl|-xxl}-end.</p>
    <div class="bd-example">
        <BlazorStrap_Docs.Samples.Components.Dropdowns.Dropdowns17/>
    </div>
    <div class="highlight">
        <CodeBlock Source="docs/Samples/Components/Dropdowns/Dropdowns17.md"/>
    </div>
    <p>To align left the dropdown menu with the given breakpoint or larger, add .dropdown-menu-end and .dropdown-menu{-sm|-md|-lg|-xl|-xxl}-start.</p>
    <div class="bd-example">
        <BlazorStrap_Docs.Samples.Components.Dropdowns.Dropdowns18/>
    </div>
    <div class="highlight">
        <CodeBlock Source="docs/Samples/Components/Dropdowns/Dropdowns18.md"/>
    </div>
    <h4>Alignment options</h4>
    <div class="bd-example">
        <BlazorStrap_Docs.Samples.Components.Dropdowns.Dropdowns19/>
    </div>
    <div class="highlight">
        <CodeBlock Source="docs/Samples/Components/Dropdowns/Dropdowns19.md"/>
    </div>
    <h4>Headers</h4>
    <div class="bd-example">
        <BlazorStrap_Docs.Samples.Components.Dropdowns.Dropdowns20/>
    </div>
    <div class="highlight">
        <CodeBlock Source="docs/Samples/Components/Dropdowns/Dropdowns20.md"/>
    </div>
    <h4>Dividers</h4>
    <div class="bd-example">
        <BlazorStrap_Docs.Samples.Components.Dropdowns.Dropdowns21/>
    </div>
    <div class="highlight">
        <CodeBlock Source="docs/Samples/Components/Dropdowns/Dropdowns21.md"/>
    </div>
    <h4>Text</h4>
    <p>Place any freeform text within a dropdown menu with text and use <a href="https://getbootstrap.com/docs/5.1/utilities/spacing/">spacing utilities</a>. Note that you’ll likely need additional sizing styles to constrain the menu width.</p>
    <div class="bd-example">
        <BlazorStrap_Docs.Samples.Components.Dropdowns.Dropdowns22/>
    </div>
    <div class="highlight">
        <CodeBlock Source="docs/Samples/Components/Dropdowns/Dropdowns22.md"/>
    </div>
    <h4>Forms</h4>
    <div class="bd-example">
        <BlazorStrap_Docs.Samples.Components.Dropdowns.Dropdowns23/>
    </div>
    <div class="highlight">
        <CodeBlock Source="docs/Samples/Components/Dropdowns/Dropdowns23.md"/>
    </div>
    <div class="bd-example">
        <BlazorStrap_Docs.Samples.Components.Dropdowns.Dropdowns24/>
    </div>
    <div class="highlight">
        <CodeBlock Source="docs/Samples/Components/Dropdowns/Dropdowns24.md"/>
    </div>
    <h4>Dropdown options</h4>
    <div class="bd-example">
        <BlazorStrap_Docs.Samples.Components.Dropdowns.Dropdowns25/>
    </div>
    <div class="highlight">
        <CodeBlock Source="docs/Samples/Components/Dropdowns/Dropdowns25.md"/>
    </div>
    </div>
</BSContainer>