@page "/components/progress"

<div class="bd-callout bd-callout-info">
    <strong>Work inprogress</strong> Documentation is still being written for this component
</div>
<BSContainer>
    <h2>Progress Bar</h2>
    <BSProgress>
        <BSProgressBar IsStriped="true" Max="25" Color="BSColor.Primary" Value="15"></BSProgressBar>
        <BSProgressBar IsStriped="true" Max="25" Color="BSColor.Danger" Value="20"></BSProgressBar>
        <BSProgressBar IsStriped="true" Max="25" Color="BSColor.Success" Value="10"></BSProgressBar>
        <BSProgressBar IsStriped="true" Max="25" Color="BSColor.Warning" Value="5"></BSProgressBar>
    </BSProgress>
    <hr />
</BSContainer>