@inherits BlazorStrap.Shared.Components.Static.Base.BSCloseButtonBase
@namespace BlazorStrap.V5_1

<button type="button" class="@ClassBuilder" aria-label="Close" @onclick="ClickEventAsync" @attributes="Attributes" disabled="@IsDisabled">
    @ChildContent
</button>