@namespace BlazorStrap
@inherits BlazorStrapToggleBase<BSAccordionItem>

@if (Header == null || Content == null)
{
    <BlazorStrap.InternalComponents.Error Name="BSAccordionItem">
        Both <strong>Header</strong> and <strong>Content</strong> RenderFragment are required.
    </BlazorStrap.InternalComponents.Error>

    return;
}

<div class="accordion-item">
    <h2 class="accordion-header">
        <button type="button" class="accordion-button @(Shown ? "" : "collapsed")" @onclick="EventUtil.AsNonRenderingEventHandler(ToggleAsync)" @ref="ButtonRef">@Header</button>
    </h2>
    <div class="@ClassBuilder" @ref="MyRef" data-blazorstrap="@DataId">
        <div class="accordion-body">
            @Content
        </div>
    </div>
</div>