@namespace BlazorStrap
@inherits BlazorStrapBase
<a href="@Url" class="alert-link">@ChildContent</a>

@code {
    /// <summary>
    /// Url to link to.
    /// </summary>
    [Parameter] public string? Url { get; set; }
}