@namespace BlazorStrap
@inherits BlazorStrapBase

<button type="button" class="@ClassBuilder" aria-label="Close" @onclick="ClickEventAsync" @attributes="Attributes" disabled="@IsDisabled">@ChildContent</button>