@namespace BlazorStrap
@inherits BlazorStrapBase

<CascadingValue Value="this">
    @if (IsNav)
    {
        <nav class="@ClassBuilder" @attributes="Attributes">
            @ChildContent
        </nav>
    }
    else
    {
        <ul class="@ClassBuilder" @attributes="Attributes">
            @ChildContent
        </ul>
    }

    <BlazorStrap.InternalComponents.TabContentRender @ref="TabRender">
        @ActiveChild?.TabContent
    </BlazorStrap.InternalComponents.TabContentRender>
</CascadingValue>