<p>
    <BSButton Target="collapse3a" Color="BSColor.Secondary">Toggle first element</BSButton>
    <BSLink IsButton="true" Color="BSColor.Primary" Target="collapse3b">Toggle second element</BSLink>
    <BSButton Color="BSColor.Primary" Target="collapse3a,collapse3b">Toggle both</BSButton>
</p>
<BSRow>
    <BSCol>
        <BSCollapse DataId="collapse3a">
            <BSCard CardType="CardType.Card">
                Some placeholder content for the first collapse component of this multi-collapse example. This panel is hidden by default but revealed when the user activates the relevant trigger.
            </BSCard>
        </BSCollapse>
    </BSCol>
    <BSCol>
        <BSCollapse DataId="collapse3b">
            <BSCard CardType="CardType.Card">
                Some placeholder content for the second collapse component of this multi-collapse example. This panel is hidden by default but revealed when the user activates the relevant trigger.
            </BSCard>
        </BSCollapse>
    </BSCol>
</BSRow>