@inherits BlazorStrap.Shared.Components.Common.BSBreadcrumbItemBase
@namespace BlazorStrap.V5_1

<li class="@ClassBuilder" @attributes="Attributes">
    @if (string.IsNullOrEmpty(Url))
    {
        @ChildContent
    }
    else
    {
        <a href="@Url">
            @ChildContent
        </a>
    }
</li>