@inherits LayoutComponentBase
<CascadingValue Value="this">
    <Header />
</CascadingValue>

<div class="container-xxl bd-layout">
    <CascadingValue Value="this">
        <aside class="bd-sidebar">
            <NavMenu />
        </aside>
    </CascadingValue>
    <main>
        <BSBreadcrumb Class="float-end mt-3 position-relative" style="margin-bottom: -3rem;z-index:500" BasePath="/V5" Labels="_labels" />
        @if (render)
        {
            @Body
        }
    </main>
</div>

@code {
    private bool render = true;
    public Func<bool,Task>? OnSideBarShown { get; set; }
    private static Dictionary<string, string> _labels = new()
        {
            { "/V5", "BlazorStrap V5" },
        };

    public Task InvokeSidebarAsync(bool state)
    {
        if (OnSideBarShown == null) return Task.CompletedTask;
        return OnSideBarShown.Invoke(state);
    }
    public async Task Refresh()
    {
        render = false;
        await InvokeAsync(StateHasChanged);
    }
    protected override void OnAfterRender(bool firstRender)
    {
        if(render == false)
        {
            render = true;
            StateHasChanged();
        }
    }
}