@inherits LayoutComponentBase
<CascadingValue Value="this">
    <Header />
</CascadingValue>

<BSContainer Container="Container.ExrtaLarge" Class="bd-layout">
    <CascadingValue Value="this">
        <aside class="bd-sidebar">
            <DynamicMenu Version="@_version"/>
        </aside>
    </CascadingValue>
    <main>
        <BSBreadcrumb Class="float-end mt-3 position-relative" style="margin-bottom: -3rem;z-index:500;background:none; float:right" BasePath="/" Labels="_labels" />
        @if (render)
        {
            @Body
        }
    </main>
</BSContainer>
