@inherits LayoutComponentBase
<CascadingValue Value="this">
    <Header />
</CascadingValue>
<div class="container-xxl bd-layout">
    <aside class="bd-sidebar">
        <NavMenu />
    </aside>

    <main>
        <BSBreadcrumb Class="float-end mt-3 position-relative" style="margin-bottom: -3rem;z-index:500" BasePath="/v5" Labels="_labels"/>
        @Body
    </main>
</div>

@code {
    private static Dictionary<string,string> _labels = new()
    {
        {"/v5", "BlazorStrap V5"},
    };
}