@inject NavigationManager NavManager
<nav class="bd-links" id="bd-docs-nav" aria-label="Docs navigation">

    <ul class="list-unstyled mb-0 py-3 pt-md-3">
        <BSCollapse DefaultShown="true">
            <Toggler><BSToggle IsButton="true" Class="d-inline-flex align-items-center rounded">Getting Started</BSToggle></Toggler>
            <Content>
                <ul class="list-unstyled fw-normal pb-1 small">
                    <li><NavLink class="d-inline-flex align-items-center rounded" href="">Install</NavLink></li>
                    <li><NavLink class="d-inline-flex align-items-center rounded" href="contribute">Contribute</NavLink></li>
                    <li><NavLink class="d-inline-flex align-items-center rounded" href="shared">Shared Parameters</NavLink></li>
                </ul>
            </Content>
        </BSCollapse>
        <!--<li class="mb-1">
            <button class="btn d-inline-flex align-items-center rounded" data-bs-toggle="collapse" data-bs-target="#getting-started-collapse" aria-expanded="true" aria-current="true">
                Getting started
            </button>

            <div class="collapse show" id="getting-started-collapse" style="">
                <ul class="list-unstyled fw-normal pb-1 small">
                    <li><a href="/docs/5.1/getting-started/introduction/" class="d-inline-flex align-items-center rounded active" aria-current="page">Introduction</a></li>
                    <li><a href="/docs/5.1/getting-started/contribute/" class="d-inline-flex align-items-center rounded">Contribute</a></li>
                </ul>
            </div>
        </li>-->

        <li class="mb-1">
            <BSCollapse DefaultShown="@(NavManager.Uri.Contains("/layout/"))">
                <Toggler><BSToggle IsButton="true" Class="d-inline-flex align-items-center rounded">Layout</BSToggle></Toggler>
                <Content>
                    <ul class="list-unstyled fw-normal pb-1 small">
                        <li><NavLink class="d-inline-flex align-items-center rounded" href="layout/containers">Containers</NavLink></li>
                        <li><NavLink class="d-inline-flex align-items-center rounded" href="layout/columns">Columns</NavLink></li>
                    </ul>
                </Content>
            </BSCollapse>
        </li>
        <li class="mb-1">
                    <BSCollapse DefaultShown="@(NavManager.Uri.Contains("/forms/"))">
                        <Toggler><BSToggle IsButton="true" Class="d-inline-flex align-items-center rounded">Forms</BSToggle></Toggler>
                        <Content>
                            <ul class="list-unstyled fw-normal pb-1 small">
                                <li><NavLink class="d-inline-flex align-items-center rounded" href="forms/formcontrols">Form control</NavLink></li>
                                <li><NavLink class="d-inline-flex align-items-center rounded" href="forms/select">Select</NavLink></li>
                                <li><NavLink class="d-inline-flex align-items-center rounded" href="forms/checkbox">Checks & Radios</NavLink></li>
                                <li><NavLink class="d-inline-flex align-items-center rounded" href="forms/Range">Range</NavLink></li>
                                <li><NavLink class="d-inline-flex align-items-center rounded" href="forms/inputgroup">Input Group</NavLink></li>
                                <li><NavLink class="d-inline-flex align-items-center rounded" href="forms/inputfile">Input File</NavLink></li>
                                <li><NavLink class="d-inline-flex align-items-center rounded" href="forms/validation">Validation</NavLink></li>
                            </ul>
                        </Content>
                    </BSCollapse>
                </li>
        <li class="mb-1">
            <BSCollapse DefaultShown="@(NavManager.Uri.Contains("/components/"))">
                <Toggler><BSToggle IsButton="true" Class="d-inline-flex align-items-center rounded">Components</BSToggle></Toggler>
                <Content>
                    <ul class="list-unstyled fw-normal pb-1 small">
                        <li><NavLink class="d-inline-flex align-items-center rounded" href="components/accordion">Accordion</NavLink></li>
                        <li><NavLink class="d-inline-flex align-items-center rounded" href="components/alerts">Alerts</NavLink></li>
                        <li><NavLink class="d-inline-flex align-items-center rounded" href="components/badge">Badge</NavLink></li>
                        <li><NavLink class="d-inline-flex align-items-center rounded" href="components/breadcrumb">Breadcrumb</NavLink></li>
                        <li><NavLink class="d-inline-flex align-items-center rounded" href="components/buttons">Buttons</NavLink></li>
                        <li><NavLink class="d-inline-flex align-items-center rounded" href="components/buttongroup">Button group</NavLink></li>
                        <li><NavLink class="d-inline-flex align-items-center rounded" href="components/card">Card</NavLink></li>
                        <li><NavLink class="d-inline-flex align-items-center rounded" href="components/carousel">Carousel</NavLink></li>
                        <li><NavLink class="d-inline-flex align-items-center rounded" href="components/closebutton">Close Button</NavLink></li>
                        <li><NavLink class="d-inline-flex align-items-center rounded" href="components/collapse">Collapse</NavLink></li>
                        <li><NavLink class="d-inline-flex align-items-center rounded" href="components/dropdowns">Dropdowns</NavLink></li>
                        <li><NavLink class="d-inline-flex align-items-center rounded" href="components/listgroup">List Group</NavLink></li>
                        <li><NavLink class="d-inline-flex align-items-center rounded" href="components/modal">Modal</NavLink></li>
                        <li><NavLink class="d-inline-flex align-items-center rounded" href="components/nav">Nav & Tabs</NavLink></li>
                        <li><NavLink class="d-inline-flex align-items-center rounded" href="components/navbar">Navbar</NavLink></li>
                        <li><NavLink class="d-inline-flex align-items-center rounded" href="components/offcanvas">Offcanvas</NavLink></li>
                        <li><NavLink class="d-inline-flex align-items-center rounded" href="components/pagination">Pagination</NavLink></li>
                        <li><NavLink class="d-inline-flex align-items-center rounded" href="components/popovers">Popovers</NavLink></li>
                        <li><NavLink class="d-inline-flex align-items-center rounded" href="components/progress">Progress</NavLink></li>
                        <li><NavLink class="d-inline-flex align-items-center rounded" href="components/toasts">Toasts</NavLink></li>
                        <li><NavLink class="d-inline-flex align-items-center rounded" href="components/tooltips">Tooltips</NavLink></li>

                    </ul>
                </Content>
            </BSCollapse>
        </li>

    </ul>
</nav>