@inherits LayoutComponentBase
<CascadingValue Value="this">
    <Header />
</CascadingValue>
<div class="container-xxl bd-layout">
    <aside class="bd-sidebar">
        <NavMenu />
    </aside>

    <main>
        @Body
    </main>
</div>

