@namespace BlazorStrap
@inherits CodeBSAlert

@if (IsOpen)
{
    <DynamicElement TagName="div" class="@classname" role="alert" @attributes="@UnknownParameters">
        @ChildContent
        @if (IsDismissible)
        {
            <button @onclick="OnClick" type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        }
    </DynamicElement>
}
