@namespace BlazorStrap
@inherits CodeBSTooltip

<div @ref:suppressField="tooltip" class="tooltip d-none" role="tooltip">
    <div @ref:suppressField="arrow" class="arrow"></div>
    <div class="tooltip-inner">@ChildContent</div>
</div>