@namespace BlazorStrap
@inherits BSTooltipBase

<div @ref="tooltip" class="tooltip d-none" role="tooltip">
    <div @ref="arrow" class="arrow"></div>
    <div class="tooltip-inner">@ChildContent</div>
</div>