@namespace BlazorStrap

<div @ref="MyRef" class="@Class" role="tooltip" popoverId="@Id" style="@Style">
    <div @ref="Arrow" class="arrow"></div>
    <div class="tooltip-inner">@ChildContent</div>
</div>