body{
	margin: 0;
}
.loader-backdrop {
	top: 0;
	position:absolute;
	background: #5C2C94;
	overflow: hidden;
	width: 100vw;
	height: 100vh;
}
.loader-wrapper
{
	position: absolute;
	min-width: 200px;
	min-height: 200px;
	top: calc(50% - 100px);
	left: calc(50% - 100px);
}
.loader-logo
{
	position: absolute;
	width: 150px;
	height: 150px;
	top: calc(50% - 75px);
	left: calc(50% - 75px);
}

.loader-spin {
	display: inline-block;
	width: 200px;
	height: 200px;
	border: 6px solid rgba(255, 255, 255, .3);
	border-radius: 50%;
	border-top-color: #fff;
	animation: loaderspin 1s ease-in-out infinite;
	-webkit-animation: loaderspin 1s ease-in-out infinite;
  }
  @keyframes loaderspin {
	to {
	  -webkit-transform: rotate(360deg);
	}
  }
  @-webkit-keyframes loaderspin {
	to {
	  -webkit-transform: rotate(360deg);
	}
  }